@media only screen and (max-width: 900px) {
    .top_section {
        width: 90%;
        margin:auto;
    }

    #profile span {
        font-size: 15px;
        font-weight: bold;
    }

    #ticker_intro span {
        font-size:15px;
        font-weight:bold;
    }

    td img {
        width: 20px;
        height: 20px;
    }
}

@media only screen and (min-width: 900px) {
    .top_section {
        width: 98%;
        margin:auto;
    }

    #profile span {
        font-size: 24px;
        font-weight: bold;
    }

    #ticker_intro span {
        font-size:22px;
        font-weight:bold;
    }

    td img {
        width: 30px;
        height: 30px;
    }
}

button {
    border: 1.5px solid gray;
    border-radius: 3px;
    padding-top: 3px;
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 4px;
    margin: 1.5px;
}

input {
    border: 1.5px solid gray;
    border-radius: 3px;
    padding: 3.1px;
    text-transform: uppercase;
}

p {
    margin-bottom: 5px;
    margin-top: 5px;
}

.dark_mode .fund_type, .dark_mode button {
    background-color: wheat;
    color: black;
}

#fund_selected {
    display: none;
}

.fund_type_parent {
    display: flex;
    width: min-content;
    margin: auto;
    max-width: 90%;
    overflow: auto;
}

.fund_type_parent .selected, .button_parent .selected {
    background-color: #26a69a;
    transition: 0.5s;
}

.dark_mode .selected {
    background-color: #ffba39;
}

.fund_type {
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 4px;
    padding-bottom: 4px;
    border: 1.5px solid gray;
    border-radius: 3px;
    margin: 1.5px;
    background-color: #E9EAEA;
}

.fund_type:hover {
    cursor: pointer;
}

table {
    width: 100%;
}

td div {
    display: table;
    width: 100%;
}

td img {
    border-radius: 50%;
    margin-right: 6px;
    vertical-align: middle;
    display: table-cell;
}

td div div {
    vertical-align: middle;
    display: table-cell;
}

td div:hover {
    cursor: pointer;
}

.scrollable_div .instructions {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 30px;
}

.news_div {
    display:flex;
    border: 1px solid gray;
    border-radius: 6px;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.news_div img {
    width: 130px;
    height: 90px;
    border-radius: 5px;
    border: 1px solid gray;
}

.news_div div {
    margin-left: 6px;
    margin-bottom: 5px;
    padding-top: 3px;
}

#ticker_description, #ticker_trade, #fund_ownership {
    margin-bottom: 40px;
    margin-top: 20px;
}

#ticker_intro {
    width: 70%;
    margin-left: 8px;
    display: inline-block;
}

.ticker_summary {
    line-height: 1.5;
}

.explore_more {
    display: inline-block;
    background-color: #9e9e9e;
    padding: 3px;
    border-radius: 3px;
    margin-left: 5px;
}

.explore_more:hover {
    cursor: pointer;
}

.read_more {
    text-decoration: none;
    color: grey;
}

.read_more:hover {
    color: #26a69a;
}