th {
    min-width: 38px;
}

.dark_mode input, input {
    width: 95%;
    height: 100%;
    border: 0;
}

select {
    border: 1px solid grey;
    border-radius: 6px;
    padding: 7px;
    margin-top: 15px;
    margin-bottom: 15px;
}
