{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta name="title" content="Stocksera" />
    <meta name="description" content="Empowering retailers to take advantage of alternative data" />
    <title>Stocksera</title>
    <link rel="icon" type="image/svg+xml" href="{% static 'images/favicon.svg' %}" />
    <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}" />
    <link rel="stylesheet" href="{% static 'style/home/home.css' %}" />
  </head>
  <body>
    <header>
      <h1>Stocksera</h1>
      <p>Empowering Retail Investors with Alternative Data and Market Insights</p>
    </header>

    <div class="hero">
      <h2>Discover Trends, Analyze Markets, Make Informed Decisions</h2>
      <p>Your one-stop platform to view trending stocks and market data.</p>
      <div class="buttons">
        <a href="https://github.com/guanquann/Stocksera" target="_blank">View on GitHub</a>
        <a href="/ticker" target="_blank">Explore</a>
      </div>

      <div class="open-source">
        <p><strong>We're Open Source!</strong></p>
        <p>Give us a ⭐ if you like the project!</p>
      </div>
    </div>

    <section id="features" class="features">
      <div class="feature">
        <h3>Trending Tickers</h3>
        <p>Track the hottest stocks being discussed across social media platforms like Reddit.</p>
      </div>
      <div class="feature">
        <h3>Insider Trading</h3>
        <p>Monitor insider trading activities to understand the moves of key stakeholders.</p>
      </div>
      <div class="feature">
        <h3>Options Chain Analysis</h3>
        <p>Analyze options chains and max pain points to make strategic trading decisions.</p>
      </div>
      <div class="feature">
        <h3>Government Trading</h3>
        <p>
          Stay informed about the stock trades of U.S. Congress members and their potential impact
          on markets.
        </p>
      </div>
      <div class="feature">
        <h3>Market Sentiment</h3>
        <p>Gauge the mood of the market by analyzing sentiment data from social media and news.</p>
      </div>
      <div class="feature">
        <h3>Economic Indicators</h3>
        <p>Keep an eye on key economic indicators that could impact market trends.</p>
      </div>
    </section>

    <div class="github">
      <h2>Install Stocksera</h2>
      <p>
        Stocksera is an open-source project. Get the source code and contribute to the project on
        GitHub.
      </p>
      <div class="buttons">
        <a href="https://github.com/guanquann/Stocksera" target="_blank">View on GitHub</a>
      </div>
    </div>

    <footer>
      <p>© 2024 Stocksera - All Rights Reserved.</p>
    </footer>
  </body>
</html>
