.git
.idea
*.pyc
__pycache__
venv/
.vscode
*.db
database
static/graph_chart
scheduled_tasks/subscription
*.zip
db.sqlite3
logging.log
staticfiles
yfinance.cache
test.py
test1.py
test2.py
admin.py
templates/admin
twitter_img