.git
.idea
.test
*.pyc
__pycache__
venv/
.vscode
*.db
database
static/graph_chart
scheduled_tasks/subscription
*.zip
db.sqlite3
logging.log
staticfiles
yfinance.cache
test.py
templates/admin
twitter_img
finnhub_csv
admin.py
migrations/
static/javascript/plotly-2.3.1.min.js
config.yaml
