.git
.idea
*.pyc
__pycache__
venv/
.vscode
*.db
database
static/graph_chart
scheduled_tasks/subscription
scheduled_tasks/get_crypto_transactions.py
scheduled_tasks/get_ipo_calendar.py
*.zip
db.sqlite3
logging.log
staticfiles
yfinance.cache
test.py
test1.py
admin.py
templates/admin
twitter_img