{% extends 'registration/header.html' %}

{% block content %}
	{% load crispy_forms_tags %}
	<div class="container p-3">
  	 	<h2 class="font-weight-bold mt-1">Change Password</h2>
		<hr>
		<p>Please enter your old password, for security’s sake, and then enter your new password twice so we can verify you typed it in correctly.</p>
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn btn-primary" type="submit">Reset password</button>
        </form>
  	</div>
{% endblock %}