{% extends "format.html" %}
{% load static %}
{% load filter %}

{% block title %}Stocksera | Stocktwits{% endblock %}

{% block additional_script %}
<link rel="stylesheet" href="{% static 'style/social/stocktwits.css' %}">
{% endblock %}

{% block onload_properties%}trending_ticker_graph('{{ticker_selected}}');load_top30('{{ticker_selected}}'){% endblock %}

{% block main_nav %}
    <a href="/">Stocksera</a> /
    <a href="/discover">Discover</a> /
    <a href="/stocktwits">Stocktwits Trending</a>
{% endblock %}

{% block main_content %}
    <script>highlight_selected_nav('discover')</script>

    <div class="more_info_div_parent">
        <div class="more_info_div"><a href="{% url 'latest_insider' %}">Insider</a></div>
        <div class="more_info_div"><a href="{% url 'ark_trades' %}">ARK</a></div>
        <div class="more_info_div"><a href="{% url 'jim_cramer' %}">Jim Cramer</a></div>
        <div class="more_info_div"><a href="{% url 'ipo_calendar' %}">IPOs</a></div>
        <div class="more_info_div current_link"><a href="{% url 'stocktwits' %}">Stocktwits</a></div>
        <div class="more_info_div"><a href="{% url 'twitter_trending' %}">Twitter Trending</a></div>
        <div class="more_info_div"><a href="{% url 'beta' %}">Beta</a></div>
        <div class="more_info_div"><a href="{% url 'correlation' %}">Correlation</a></div>
        <div class="more_info_div"><a href="{% url 'dividend_history' %}">Dividend</a></div>
        <div class="more_info_div"><a href="{% url 'stock_split' %}">Split</a></div>
        <div class="more_info_div"><a href="{% url 'fear_and_greed' %}">Fear and Greed</a></div>
        <div class="more_info_div"><a href="{% url 'short_interest' %}">Short Interest</a></div>
        <div class="more_info_div"><a href="{% url 'low_float' %}">Low Float</a></div>
    </div>

    <div class="instructions">
        <h2>Stocktwits Trending</h2>
            <p>Discover the ranking of popular tickers in Stocktwits over time.
                Due to limitations in Stocktwits API, only tickers in the top 30 rank are shown.
            </p>
    </div>

    <div class="instructions">
        <div class="top30_header_div">
            <button id="slideLeft" type="button" class="scroll_horizontal_btn">
                <img src="{% static 'images/left_arrow.svg' %}">
            </button>
            <h2>Currently Trending</h2>
            <button id="slideRight" type="button" class="scroll_horizontal_btn">
                <img src="{% static 'images/right_arrow.svg' %}">
            </button>
        </div>
        <div class="click_ticker_info">Click on ticker symbol to view more</div>
        <div id="top30_div"></div>
    </div>

    <div class="contents_div">
        <form action="/stocktwits" method="GET" autocomplete="off">
        <div class="search_bar">
            <input type="text" class="ticker_input" name="quote" placeholder="Ticker:" autocomplete="off" value="{{ticker_selected}}">
            <button class="submit_btn" type="submit">
                <span class="fa fa-search"></span>
            </button>
        </div>
        </form>

        <div id="trending_ticker_chart" class="chart"></div>

        <div id="price_ticker_chart" class="chart"></div>

        <div style="display: none">
            {{ ticker_df|safe }}
            {{ trending_df|safe }}
            {{ price_df|safe }}
        </div>
    </div>
{% endblock %}

{% block bottom_script %}
<script src="{% static 'javascript/social/stocktwits.js' %}"></script>
{% endblock %}