{% extends "format.html" %}
{% load static %}
{% load filter %}

{% block title %}Stocksera | Twitter{% endblock %}

{% block additional_script %}
<link rel="stylesheet" href="{% static 'style/social/stocktwits.css' %}">
{% endblock %}

{% block onload_properties%}trending_ticker_graph('{{ticker_selected}}');load_top30('{{ticker_selected}}'){% endblock %}

{% block main_nav %}
    <a href="/">Stocksera</a> /
    <a href="/discover">Discover</a> /
    <a href="/twitter_trending">Twitter Trending</a>
{% endblock %}

{% block main_content %}
    <script>highlight_selected_nav('social')</script>

    <div class="more_info_div_parent">
        <div class="more_info_div"><a href="{% url 'latest_insider' %}">Insider</a></div>
        <div class="more_info_div"><a href="{% url 'ark_trades' %}">ARK</a></div>
        <div class="more_info_div"><a href="{% url 'jim_cramer' %}">Jim Cramer</a></div>
        <div class="more_info_div"><a href="{% url 'ipo_calendar' %}">IPOs</a></div>
        <div class="more_info_div"><a href="{% url 'stocktwits' %}">Stocktwits</a></div>
        <div class="more_info_div current_link"><a href="{% url 'twitter_trending' %}">Twitter Trending</a></div>
        <div class="more_info_div"><a href="{% url 'beta' %}">Beta</a></div>
        <div class="more_info_div"><a href="{% url 'correlation' %}">Correlation</a></div>
        <div class="more_info_div"><a href="{% url 'dividend_history' %}">Dividend</a></div>
        <div class="more_info_div"><a href="{% url 'stock_split' %}">Split</a></div>
        <div class="more_info_div"><a href="{% url 'fear_and_greed' %}">Fear and Greed</a></div>
        <div class="more_info_div"><a href="{% url 'short_interest' %}">Short Interest</a></div>
        <div class="more_info_div"><a href="{% url 'low_float' %}">Low Float</a></div>
    </div>

    <div class="instructions">
        <h2>Twitter Trending</h2>
            <p>Discover the number of mentions of popular tickers in Twitter.</p>
    </div>

    <div class="contents_div">
        <form action="/twitter_trending" method="GET" autocomplete="off">
        <div class="search_bar">
            <input type="text" class="ticker_input" name="quote" placeholder="Ticker:" autocomplete="off" value="{{ticker_selected}}">
            <button class="submit_btn" type="submit">
                <span class="fa fa-search"></span>
            </button>
        </div>
        </form>

        <div class="chart-container">
            <canvas id="trending_ticker_chart"></canvas>
        </div>

        <div style="display: none">
            {{ ticker_df|safe }}
        </div>
    </div>
{% endblock %}

{% block bottom_script %}
<script src="{% static 'javascript/social/twitter_trending.js' %}"></script>
{% endblock %}