@media only screen and (max-width: 900px) {
    .graph_documentation {
        width: 100%;
        margin: auto;
    }

    .overview_btn {
        border: 1px solid grey;
        border-radius: 5px;
        padding: 4.5px;
        min-width: 40px;
    }
}

@media only screen and (min-width: 900px) {
    .graph_documentation {
        width: 80%;
        margin: auto;
    }

    .overview_btn {
        border: 1px solid grey;
        border-radius: 5px;
        padding: 7px;
        min-width: 40px;
    }

    .main_trending_graph_div {
        display: flex;
        justify-content: middle;
    }

    .main_trending_graph_div div {
        width: 100%;
    }
}

.chart {
    height: 320px;
}

.tree_chart {
    height: 380px;
}

.sma_chart {
    height: 420px;
}

#word_cloud {
    height: 350px;
    margin: 0;
    padding: 0;
}

.anychart-credits {
    display: none !important;
}

input {
    margin-bottom: 5px;
}

.header {
    margin: 10px 0 0px 0;
    text-align: center;
}

.comparison {
    width: calc(100% / 4);
    border: 2px solid grey;
    border-radius: 7px;
    padding: 10px 0 10px 0;
    text-align: center;
    margin: 2px;
    background: #EAE9E9;
}

.dark_mode .comparison {
    background: #505050
}

.comparison_title {
    margin: 0
}

.comparison .recent {
    font-size: 20px;
    font-weight: bold;
}

.change_div {
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

#tips_btn {
    text-align: right;
    font-weight: bold;
    text-decoration: underline;
}

h2 {
    margin-bottom: 0;
}

.description {
    margin-bottom: 25px;
}

.click_table_info {
    float: right;
    margin-top: 14px;
}

#expand_banned_words {
    color: rgb(38, 166, 154);
    text-decoration: underline;
    font-weight: bold;
}

#expand_banned_words:hover {
    cursor: pointer;
}

.date_selector button {
    border: 0px;
    border-bottom: 2px solid #858585;
    color: #858585;
    padding: 0 2px 0 2px;
    margin: 0 5px 0 5px
}

.selected {
    border-bottom: 2px solid rgb(38, 166, 154) !important;
    color: rgb(38, 166, 154) !important;
}

.dark_mode .date_selector button {
    background-color: transparent;
}

.dark_mode .selected {
    border-bottom: 2px solid rgb(38, 166, 154) !important;
    color: rgb(38, 166, 154) !important;
}