{% extends "format.html" %}
{% load static %}
{% load filter %}

{% block title %}StocksEra | Calendar{% endblock %}

{% block additional_script %}
<link rel="stylesheet" href="{% static 'style/market_summary/earnings_calendar.css' %}">
<script src="{% static 'javascript/market_summary/earnings_calendar.js' %}"></script>
{% endblock %}

{% block main_nav %}
    <a href="/">Stocksera</a> /
    <a href="/market_summary/">Market Summary</a> /
    <a href="/earnings_calendar">Earnings</a>
{% endblock %}

{% block main_content %}
<script>highlight_selected_nav('market_summary')</script>
<div id="top"></div>
<div class="instructions">
    <h2>Earnings Calendar</h2>
    <p>View earnings for the week. There is usually a run-up to earning date. Good earning report often cause price to jump higher. Nonetheless, any downward revisions to future sales, earnings, cash flow could cause a tank instead! </p>
    <div class="menu">
        <input type="text" placeholder="Ticker:" autocomplete="off" class="filter_ticker" id="search_ticker" onkeyup="searchTicker()">
        <span>Market Cap: </span>
        <select onchange="sortTicker(this)">
            <option>All</option>
            <option>>$10B</option>
            <option>>$20B</option>
            <option>>$50B</option>
        </select>
        <span>Date: </span>
    </div>
</div>

<div class="instructions">
    <h2>Other Datasets Available</h2>
    <div class="more_info_div_parent">
        <div class="more_info_div"><a class="more_info_btn" href="{% url 'market_summary' %}?type=snp500">S&P</a></div>
            <div class="more_info_div"><a class="more_info_btn" href="{% url 'market_summary' %}?type=nasdaq100">Nasdaq</a></div>
            <div class="more_info_div"><a class="more_info_btn" href="{% url 'market_summary' %}?type=dia">DIA</a></div>
            <div class="more_info_div"><a class="more_info_btn" href="{% url 'market_summary' %}?type=crypto">Crypto</a></div>
            <div class="more_info_div"><a class="more_info_btn" href="{% url 'market_summary' %}?type=wsb">WSB</a></div>
            <div class="more_info_div"><a class="more_info_btn" href="{% url 'futures' %}?type=wsb">Futures</a></div>
            <div class="more_info_div"><a class="more_info_btn current_link" href="{% url 'earnings_calendar' %}">Earnings</a></div>
    </div>
</div>

<div class="earnings_calendar">
    <div id="main"></div>
</div>
{% endblock %}

{% block bottom_script %}
<script>
    // When the user scrolls the page, execute myFunction
    window.onscroll = function() {stick_menu()};

    // Get the header
    var menu = document.getElementsByClassName("instructions")[0];

    // Get the offset position of the navbar
    var sticky = menu.offsetTop-50;

    // Add the sticky class to the menu when you reach its scroll position. Remove "sticky" when you leave the scroll position
    function stick_menu() {
      if (window.pageYOffset > sticky) {
        menu.classList.add("sticky");
      } else {
        menu.classList.remove("sticky");
      }
}
</script>
<script type="text/javascript">
    var None = "N/A"
    var earnings_calendar = {{ earnings_calendar|safe }};

    current_date = ""
    earning_date_list = []
    var days = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];
    html_string = "<div>"

    for (earning=0; earning<earnings_calendar.length; earning++) {
        earning_date = earnings_calendar[earning][6];

        if (earning_date != current_date) {
            current_date = earning_date;
            earning_date_list.push(earning_date)
            current_date_count = 0;
            var d = new Date(current_date);
            var dayName = days[d.getDay()];
            html_string += `</div>
                            <div class="daily_content ${earning_date}">
                            <h2>${earning_date} (${dayName})</h2></div>
                            <div class="earnings_div ${earning_date}">`
        }

        mkt_cap = Number(earnings_calendar[earning][2])
        if (mkt_cap < 1000000000) {
            // to round to 2dp
            mkt_cap = String(Math.round(mkt_cap / 10000, 2)) / 100 + "M"
        }
        else if (mkt_cap >= 1000000000) {
            mkt_cap = String(Math.round(mkt_cap / 10000000, 2)) / 100 + "B"
        }

        eps_est = earnings_calendar[earning][3]
        if (! eps_est.includes("N/A")) {
            if (eps_est.includes("-")) {
                eps_est = eps_est.replace("-", "-$")
            }
            else {
                eps_est = "$" + eps_est
            }
        }

        html_string += `
                        <span class="earnings_container">
                            <a href="{% url 'ticker' %}?quote=${earnings_calendar[earning][1]}" target="_blank">
                                <img src="https://g.foolcdn.com/art/companylogos/mark/${earnings_calendar[earning][1]}.png" onerror=this.src="{% static 'images/not_available.svg' %}" class="company_img">
                                <p><span>Name: </span>${earnings_calendar[earning][0]}</p>
                                <p><span>Ticker: </span>${earnings_calendar[earning][1]}</p>
                                <p><span>Mkt Cap: </span>${mkt_cap}</p>
                                <p><span>EPS Est: </span>${eps_est}</p>
                            </a>
                        </span>
                         `
    }
    html_string += `</div></div>`
    document.getElementById("main").innerHTML += html_string;

    earning_date_string = `<select onchange="date_filter(this)" id="select_date"><option>All</option>`
    for (earning_date of earning_date_list) {
        earning_date_string += `<option><a href="#${earning_date}">${earning_date}</a></option>`
    }
    document.getElementsByClassName("menu")[0].innerHTML += earning_date_string;
</script>
{% endblock %}
