th {
    min-width: 38px;
}

.dark_mode input, input {
    width: 97%;
    height: 100%;
    border: 0;
}

.select_div {
    margin-bottom: 10px;
}

select {
    border: 1px solid grey;
    border-radius: 6px;
    padding: 7px;
    margin-bottom: 5px;
}

#general_stats {
    text-align: center;
}

.chart-container {
    width:98%;
    max-width: 900px;
}

.avg_price_change {
    text-align:center;
    margin-bottom: 3px;
    font-weight: bold;
}