@media only screen and (max-width: 900px) {
    .contents_div h2 {
        margin-top: 22px;
        margin-bottom: 1px;
    }

    .options_summary {
        text-align: center;
        margin: auto;
        margin-top: 10px;
        background-color: #E9EAEA;
        border: 1.5px solid gray;
        border-radius: 6px;
        min-width: 300px;
        max-width: 600px;
        width: 95%;
    }

    .options_summary_sub {
        padding: 5px;
        margin: auto;
        font-weight: bold;
    }
}

@media only screen and (min-width: 900px) {
    .contents_div h2 {
        margin-top: 30px;
        margin-bottom: 1px;
    }

    .options_summary {
        text-align: center;
        margin: auto;
        margin-top: 10px;
        background-color: #E9EAEA;
        border: 1.5px solid gray;
        border-radius: 6px;
        min-width: 300px;
        max-width: 600px;
        width: 70%;
    }

    .options_summary_sub {
        padding: 7px;
        margin: auto;
        font-weight: bold;
    }
}

.contents_div h2 {
    text-align: center;
}

.options_summary .header {
    text-align: center;
    font-size: large;
    margin: auto;
    margin-top: 5px;
    font-weight: bold;
    text-decoration: underline;
    width: fit-content;
}

.options_summary_sub_div {
    display: flex;
}

.options_summary_sub span {
    font-size: larger;
}

.chart-container {
    height:55vh;
    width:98%;
    max-height:250px;
}

.dark_mode .options_summary, .dark_mode .options_summary_sub {
    background-color: #1c1f21;
    color: #ccc;
}

table, th {
    text-align: center !important;
}

tr, td, tr:last-child td {
    border: 2px solid #EAE9E9;
}
