<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="{% static 'style/format.css' %}">
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}"/>
    <title>Stocksera | 400</title>

</head>
<body>
    <p class="error_page">OOPS - 400, BAD REQUEST!</p>
    <p class="error_page"><a href="/" class="error_page_return_home">Homepage</a></p>
</body>
</html>