{% extends "format.html" %}
{% load static %}
{% load filter %}

{% block title %}Stocksera | {{gov_type | title}} Watcher{% endblock %}

{% block additional_script %}
<link rel="stylesheet" href="{% static 'style/government/trading.css' %}">
<script src="{% static 'javascript/government/usa_map.js' %}"></script>
<script src="{% static 'javascript/government/trading_summary.js' %}"></script>
{% endblock %}

{% block onload_properties%}load_individual_table('{{ gov_type }}'){% endblock %}

{% block main_nav %}
    <a href="/">Stocksera</a> /
    <a href="/{{gov_type}}">{{gov_type | title}}</a> /
    <a href="/{{gov_type}}/?state={{state}}">{{state}}</a>
{% endblock %}

{% block main_content %}
    <script>highlight_selected_nav('government')</script>
    <div class="instructions">
        <h2>Transaction Summary for {{state}}</h2>
        <p>
            In recent days, there are many scrutiny on the trades made by government officials, as they seem to time their
            buys & sells almost perfectly - with the help of insider information.
            Analyse trades made in the past 5 years to keep track of their movements.
        </p>
        <div>
            <form action="" method="GET" autocomplete="off" name="form">
                <div class="search_bar">
                    <input type="text" class="ticker_input datalist_input" name="state" list="district_list" value="{{state}}" placeholder="District:" autocomplete="off">
                    <button class="search_btn">Search</button>
                    <a href="/{{gov_type}}/" class="return_to_summary_btn">Overview</a>
                </div>
                <datalist id="district_list" onchange="this.form.submit()">
                    {% for district in district_list %}
                        <option value="{{district}}">{{district}}</option>
                    {% endfor %}
                </datalist>
            </form>
        </div>
    </div>

    <div id="daily_statistics"></div>

    <div class="contents_div">
        <div id="graph_div"></div>

        <div id="graph_big_div"></div>

        <div class="search_bar">
            <input type="text" class="ticker_input" placeholder="Name:" onkeyup="searchPerson(this, 2)" autocomplete="off">
            <button class="submit_btn" type="button">
                <span class="fa fa-search"></span>
            </button>
        </div>
        <span class="click_table_info"><b>Click on {{gov_type}} for more info</b></span>
        <div class="scrollable_div">
            {{district_df|safe}}
        </div>
    </div>
{% endblock %}
