iframe {
    border: 0;
    width: 100%;
    margin-top: 5px;
}

.header {
    margin: 15px 0 0px 0;
    text-align: center;
}

.click_table_info {
    float: right;
    margin: 7px 0 7px 0;
}

#mkt_cap {
    height: 320px;
}

#top_insider {
    width: 100%;
}