{% extends "format.html" %}
{% load static %}
{% load filter %}

{% block title %}Stocksera | Crypto Live ({{ticker_selected}}){% endblock %}

{% block additional_script %}
<link rel="stylesheet" href="{% static 'style/reddit/wsb_live.css' %}">
<script src="{% static 'javascript/reddit/crypto_live_ticker.js' %}"></script>
{% endblock %}

{% block onload_properties%}load_ticker_graph(12);load_ticker_change(){% endblock %}

{% block main_nav %}
    <a href="/">Stocksera</a> /
    <a href="/crypto_live/">Crypto Live</a> /
    <a href="/crypto_live/ticker/?quote={{ticker_selected}}">{{ticker_selected}}</a>
{% endblock %}

{% block main_content %}
    <script>highlight_selected_nav('reddit')</script>

    <div class="more_info_div_parent">
        <div class="more_info_div"><a href="/wsb_live">WSB Live</a></div>
        <div class="more_info_div current_link"><a href="/crypto_live">Crypto Live</a></div>
        <div class="more_info_div"><a href="{% url 'subreddit_count' %}">Subreddit</a></div>
    </div>

    <div class="instructions">
        <h2>Live CryptoCurrency Analysis</h2>
        <p>This page tracks & analysis trending tickers cryptocurrencies. Updates every 10 minutes.</p>
        <form action="/crypto_live_ticker" method="GET" autocomplete="off">
            <div class="search_bar">
                <input type="text" name="quote" value="{{ticker_selected}}" class="ticker_input" placeholder="Ticker:" autocomplete="off">
                <button class="submit_btn" type="button" onclick="this.form.submit();this.disabled=true;">
                    <span class="fa fa-search"></span>
                </button>
            </div>
            <a href="/crypto_live/" class="overview_btn">Overview</a>
        </form>
    </div>

    <div class="contents_div">
        <div id="ticker_basic_stats"></div>

        <div style="text-align: center; font-size: larger"><b>-- In last 7 days --</b></div>
        <div style="display: flex; justify-content: center">
            <div class="comparison">
                <h2 class="comparison_title">Mentions</h2>
                <div class="recent">{{recent_mention}}</div>
                <div class="change_div">
                    <div class="prev" style="display: none">{{previous_mention}}</div>
                    <div class="change"></div>
                </div>
            </div>
            <div class="comparison">
                <h2 class="comparison_title">Sentiment</h2>
                <div class="recent">{{recent_snt}}</div>
                <div class="change_div">
                    <div class="prev" style="display: none">{{previous_snt}}</div>
                    <div class="change"></div>
                </div>
            </div>
        </div>

        <div class="date_selector">
            <button name="date_range" onclick="btn_selected(this); load_ticker_graph(1)">1 Month</button>
            <button name="date_range" onclick="btn_selected(this); load_ticker_graph(3)">3 Months</button>
            <button name="date_range" onclick="btn_selected(this); load_ticker_graph(48)" class="selected">Max</button>
        </div>

        <h2 class="header">Number of Mentions</h2>
        <div id="mentions_chart" class="chart"></div>

        <h2 class="header">Daily Sentiment</h2>
        <div id="sentiment_chart" class="chart"></div>

        <div style="display:none">
            {{mentions_df|safe}}
            {{sentiment_df|safe}}
        </div>
    </div>
{% endblock %}
