{% extends "format.html" %}
{% load static %}
{% load filter %}

{% block title %}Stocksera | Reddit Ticker{% endblock %}

{% block additional_script %}
<link rel="stylesheet" href="{% static 'style/reddit/reddit_ticker_analysis.css' %}">
<script src="{% static 'javascript/reddit/reddit_ticker_analysis.js' %}"></script>
{% endblock %}

{% block onload_properties%}rank_chart(){% endblock %}

{% block main_nav %}
    <a href="/">Stocksera</a> /
    <a href="/reddit_analysis/?subreddit={{subreddit}}">Reddit Sentiment</a> /
    <a href="/reddit_ticker_analysis/?quote={{ticker_selected}}&subreddit={{subreddit}}">Reddit Ranking [{{ticker_selected}}]</a>
{% endblock %}

{% block main_content %}
    <script>highlight_selected_nav('reddit')</script>

    <div class="more_info_div_parent">
        <div class="more_info_div"><a href="/wsb_live">WSB Live</a></div>
        <div class="more_info_div"><a href="/crypto_live">Crypto Live</a></div>
        <div class="more_info_div current_link"><a href="/reddit_analysis">Trending</a></div>
        <div class="more_info_div"><a href="{% url 'subreddit_count' %}">Subreddit</a></div>
    </div>

    <div class="instructions">
        <h2>Reddit Stocks Analysis</h2>
        <p>View ranking of popular tickers in Reddit over time and compare it with its price.</p>
        <form action="" method="GET" autocomplete="off">
            <select name="subreddit" onchange="this.form.submit()">
                <option>Subreddit: {{subreddit}}</option>
                <option value="wallstreetbets">Wall Street Bets</option>
                <option value="stocks">Stocks</option>
                <option value="stockmarket">Stock Market</option>
                <option value="options">Options</option>
                <option value="investing">Investing</option>
                <option value="pennystocks">Pennystocks</option>
            </select>
            <div class="search_bar">
                <input type="text" class="ticker_input" name="quote" id="quote" value="{{ticker_selected}}" placeholder="Ticker:" autocomplete="off">
                <button class="submit_btn" type="button" onclick="this.form.submit();this.disabled=true;">
                    <span class="fa fa-search"></span>
                </button>
            </div>
        </form>
    </div>

    <div class="contents_div">
        <div id="ticker_basic_stats"></div>

        <h2 class="ranking_header">Ranking of ${{ticker_selected}} in r/{{subreddit}} over time</h2>
        <div class="ranking_description">The lower the ranking, the more popular the ticker.</div>

        <div class="chart-container">
            <canvas id="rank_chart"></canvas>
        </div>

        <table id="reddit_table" style="display:none">
            <thead>
                <tr>
                    <th>Rank</th>
                    <th>48H Score</th>
                    <th>Previous Close</th>
                    <th>Date (DD/MM/YYYY)</th>
                </tr>
            </thead>
            <tbody>
                {% for rank in ranking %}
                    <tr>
                        <td>{{rank.0}}</td>
                        <td>{{rank.1}}</td>
                        <td>{{rank.2}}</td>
                        <td>{{rank.3}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block bottom_script %}
<script type="text/javascript">
<!--Hack to convert python variables to javascript-->
var None = "N/A", False = false; True = true;
var information = {{information|safe}}
show_ticker_price(information)
</script>
{% endblock %}