
{% extends "format.html" %}
{% load static %}
{% load filter %}

{% block title %}StocksEra | AMD-XLNX Ratio {% endblock %}

{% block additional_script %}
<link rel="stylesheet" href="{% static 'style/stock/ftd.css' %}">
<script src="{% static 'javascript/discover/amd_xlnx_ratio.js' %}"></script>
{% endblock %}

{% block onload_properties%}amd_xlnx_ratio_graph(){% endblock %}

{% block main_nav %}
    <a href="/">Stocksera</a> /
    <a href="/market_overview">Discover</a> /
    <a href="/amd_xlnx_ratio">AMD-XLNX Ratio</a>
{% endblock %}

{% block main_content %}
<script>highlight_selected_nav('discover')</script>
<div class="instructions">
    <h2>AMD-XLNX Share Price Ratio</h2>
    <p style="margin-bottom: 0"></p>
    <div class="more_info_div_parent">
        <div class="more_info_div"><a class="more_info_btn" href="{% url 'ticker' %}?quote=AMD">Explore AMD</a></div>
        <div class="more_info_div"><a class="more_info_btn" href="{% url 'ticker' %}?quote=XLNX">Explore XLNX</a></div>
    </div>
</div>

<div class="instructions">
    <h2>Other Datasets Available</h2>
    <div class="more_info_div_parent">
        <div class="more_info_div"><a class="more_info_btn" href="{% url 'latest_insider' %}">Latest Insider</a></div>
        <div class="more_info_div"><a class="more_info_btn" href="{% url 'ark_trades' %}">ARK Fund</a></div>
        <div class="more_info_div"><a class="more_info_btn current_link" href="{% url 'amd_xlnx_ratio' %}">AMD-XLNX Ratio</a></div>
        <div class="more_info_div"><a class="more_info_btn" href="{% url 'short_interest' %}">Short Interest</a></div>
        <div class="more_info_div"><a class="more_info_btn" href="{% url 'beta' %}">Beta</a></div>
    </div>
</div>

<div class="contents_div">
    <div class="chart-container">
        <canvas id="ratio_chart"></canvas>
    </div>

    <div class="chart-container">
        <canvas id="price_chart"></canvas>
    </div>

    <div class="scrollable_div">
        {{combined_df|safe}}
    </div>
</div>
{% endblock %}
