
{% extends "format.html" %}
{% load static %}
{% load filter %}

{% block title %}Stocksera | AMD-XLNX Ratio {% endblock %}

{% block additional_script %}
<link rel="stylesheet" href="{% static 'style/stock/ftd.css' %}">
<script src="{% static 'javascript/discover/amd_xlnx_ratio.js' %}"></script>
{% endblock %}

{% block onload_properties%}amd_xlnx_ratio_graph(){% endblock %}

{% block main_nav %}
    <a href="/">Stocksera</a> /
    <a href="/discover">Discover</a> /
    <a href="/amd_xlnx_ratio">AMD-XLNX Ratio</a>
{% endblock %}

{% block main_content %}
<script>highlight_selected_nav('discover')</script>

<div class="more_info_div_parent">
    <div class="more_info_div"><a href="{% url 'latest_insider' %}">Insider</a></div>
    <div class="more_info_div"><a href="{% url 'ark_trades' %}">ARK</a></div>
    <div class="more_info_div"><a href="{% url 'jim_cramer' %}">Jim Cramer</a></div>
    <div class="more_info_div"><a href="{% url 'ipo_calendar' %}">IPOs</a></div>
    <div class="more_info_div"><a href="{% url 'stocktwits' %}">Stocktwits</a></div>
    <div class="more_info_div"><a href="{% url 'beta' %}">Beta</a></div>
    <div class="more_info_div"><a href="{% url 'correlation' %}">Correlation</a></div>
    <div class="more_info_div"><a href="{% url 'dividend_history' %}">Dividend</a></div>
    <div class="more_info_div"><a href="{% url 'stock_split' %}">Split</a></div>
    <div class="more_info_div"><a href="{% url 'short_interest' %}">Short Interest</a></div>
    <div class="more_info_div"><a href="{% url 'low_float' %}">Low Float</a></div>
    <div class="more_info_div current_link"><a href="{% url 'amd_xlnx_ratio' %}">AMD-XLNX</a></div>
</div>

<div class="instructions">
    <h2>AMD-XLNX Share Price Ratio [Deprecated]</h2>
    <p></p>
</div>

<div class="contents_div">
    <div class="chart-container">
        <canvas id="ratio_chart"></canvas>
    </div>

    <div class="chart-container">
        <canvas id="percentage_upside_chart"></canvas>
    </div>

    <div class="chart-container">
        <canvas id="price_chart"></canvas>
    </div>

    <div class="scrollable_div">
        {{combined_df|safe}}
    </div>
</div>
{% endblock %}
