{% extends "format.html" %}
{% load static %}
{% load filter %}

{% block title %}Stocksera | ARK Fund{% endblock %}

{% block additional_script %}
<link rel="stylesheet" href="{% static 'style/discover/ark_trade.css' %}">
{% endblock %}

{% block onload_properties%}load_holdings(0);load_profile(){% endblock %}

{% block main_nav %}
    <a href="/">Stocksera</a> /
    <a href="/discover">Discover</a> /
    <a href="/ark_trades">ARK Trades</a>
{% endblock %}

{% block main_content %}
    <script>highlight_selected_nav('discover')</script>

    <div class="more_info_div_parent">
        <div class="more_info_div"><a href="{% url 'latest_insider' %}">Insider</a></div>
        <div class="more_info_div current_link"><a href="{% url 'ark_trades' %}">ARK</a></div>
        <div class="more_info_div"><a href="{% url 'jim_cramer' %}">Jim Cramer</a></div>
        <div class="more_info_div"><a href="{% url 'ipo_calendar' %}">IPOs</a></div>
        <div class="more_info_div"><a href="{% url 'stocktwits' %}">Stocktwits</a></div>
        <div class="more_info_div"><a href="{% url 'beta' %}">Beta</a></div>
        <div class="more_info_div"><a href="{% url 'correlation' %}">Correlation</a></div>
        <div class="more_info_div"><a href="{% url 'dividend_history' %}">Dividend</a></div>
        <div class="more_info_div"><a href="{% url 'stock_split' %}">Split</a></div>
        <div class="more_info_div"><a href="{% url 'short_interest' %}">Short Interest</a></div>
        <div class="more_info_div"><a href="{% url 'low_float' %}">Low Float</a></div>
    </div>

    <div class="instructions">
        <h2>ARK Statistics</h2>
        <p>These are the positions, trades, and weight of all companies in ARK Fund. Data is updated daily.</p>
        <div class="fund_type_parent">
            <div class="fund_type selected" onclick="update_fund(this)">ARKK</div>
            <div class="fund_type" onclick="update_fund(this, false)">ARKQ</div>
            <div class="fund_type" onclick="update_fund(this, false)">ARKF</div>
            <div class="fund_type" onclick="update_fund(this, false)">ARKG</div>
            <div class="fund_type" onclick="update_fund(this, false)">ARKW</div>
            <div class="fund_type" onclick="update_fund(this, false)">ARKX</div>
            <div class="fund_type" onclick="update_fund(this, false)">CTRU</div>
            <div class="fund_type" onclick="update_fund(this, false)">PRNT</div>
            <div class="fund_type" onclick="update_fund(this, false)">IZRL</div>
            <div class="fund_type" onclick="update_fund(this, true)">Summary</div>
        </div>
    </div>

    <div class="contents_div">
        <div id="profile"></div>
        <div class="weightage_div"></div>

        <input id="fund_selected" value="ARKK">

        <div class="chart-container">
            <canvas id="weighting_chart"></canvas>
        </div>

        <div class="button_parent">
            <button class="btn_type selected" onclick="load_holdings(0)" type="button">Holdings</button>
            <button class="btn_type" onclick="load_trades(1)" type="button">Trades</button>
            <button class="btn_type" onclick="load_news(2)" type="button">News</button>
            <div class="search_bar">
                <input type="text" class="ticker_input" placeholder="Ticker:" autocomplete="off" onkeyup="searchFun()" id="ticker_name">
                <button class="submit_btn" type="button">
                    <span class="fa fa-search"></span>
                </button>
            </div>
            <span style="float: right" class="click_table_info"><b>Click on table row more info.</b></span>
        </div>

        <div class="scrollable_div"></div>

        <div id="ticker_model" class="modal">
            <div class="modal-content">
                <div class="modal-header">
                    <span class="close">&times;</span>
                    <h4>ARK Holding</h4>
                </div>
                <div class="modal-body">
                    <div id="ticker_contents">
                        <div id="ticker_description" class="scrollable_div"></div>
                        <div id="ticker_trade" class="scrollable_div"></div>
                        <div id="fund_ownership" class="scrollable_div"></div>
                    </div>
                </div>
            </div>
        </div>

        <p>Data from: <a href="https://arkfunds.io/api/" target="_blank">arkfunds.io/api</a></p>
   </div>
{% endblock %}

{% block bottom_script %}
<script src="{% static 'javascript/discover/ark_trade.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.bundle.min.js"></script>
{% endblock %}
