{% extends "format.html" %}
{% load static %}
{% load filter %}

{% block title %}Stocksera | Correlation{% endblock %}

{% block additional_script %}
<script src="{% static 'javascript/discover/correlation.js' %}"></script>
{% endblock %}

{% block onload_properties%}load_heatmap(){% endblock %}

{% block main_nav %}
    <a href="/">Stocksera</a> /
    <a href="/discover">Discover</a> /
    <a href="/correlation">Correlation</a>
{% endblock %}

{% block main_content %}
    <script>highlight_selected_nav('discover')</script>

    <div class="more_info_div_parent">
        <div class="more_info_div"><a href="{% url 'latest_insider' %}">Insider</a></div>
        <div class="more_info_div"><a href="{% url 'ark_trades' %}">ARK</a></div>
        <div class="more_info_div"><a href="{% url 'jim_cramer' %}">Jim Cramer</a></div>
        <div class="more_info_div"><a href="{% url 'ipo_calendar' %}">IPOs</a></div>
        <div class="more_info_div"><a href="{% url 'stocktwits' %}">Stocktwits</a></div>
        <div class="more_info_div"><a href="{% url 'beta' %}">Beta</a></div>
        <div class="more_info_div current_link"><a href="{% url 'correlation' %}">Correlation</a></div>
        <div class="more_info_div"><a href="{% url 'short_interest' %}">Short Interest</a></div>
        <div class="more_info_div"><a href="{% url 'low_float' %}">Low Float</a></div>
        <div class="more_info_div"><a href="{% url 'amd_xlnx_ratio' %}">AMD-XLNX</a></div>
    </div>

    <div class="instructions">
        <h2>Correlation</h2>
        <p>View correlation between stocks. The larger the value implies more correlation with each other. </p>
    </div>

    <div class="contents_div">
        <form action="" method="GET" autocomplete="off">
            <div class="search_bar">
                <input type="text" class="ticker_input" placeholder="Tickers:" autocomplete="off" name="quotes" value="{{symbols_list}}" style="max-width: 200px">
                <button class="submit_btn" type="button">
                    <span class="fa fa-search"></span>
                </button>
            </div>
        </form>
        <br>
        <div class="table_div">
            {{ df|safe }}
        </div>
    </div>
{% endblock %}
