{% extends "format.html" %}
{% load static %}
{% load filter %}

{% block title %}Stocksera | IPO{% endblock %}

{% block additional_script %}
<link rel="stylesheet" href="{% static 'style/discover/short_interest.css' %}">
<script src="{% static 'javascript/discover/ipo.js' %}"></script>
{% endblock %}

{% block onload_properties%}load_ipo(){% endblock %}

{% block main_nav %}
    <a href="/">Stocksera</a> /
    <a href="/discover">Discover</a> /
    <a href="/ipo_calendar">IPO Calendar</a>
{% endblock %}

{% block main_content %}
    <script>highlight_selected_nav('discover')</script>

    <div class="more_info_div_parent">
        <div class="more_info_div"><a href="{% url 'latest_insider' %}">Insider</a></div>
        <div class="more_info_div"><a href="{% url 'ark_trades' %}">ARK</a></div>
        <div class="more_info_div current_link"><a href="{% url 'ipo_calendar' %}">IPOs</a></div>
        <div class="more_info_div"><a href="{% url 'stocktwits' %}">Stocktwits</a></div>
        <div class="more_info_div"><a href="{% url 'twitter_trending' %}">Twitter Trending</a></div>
        <div class="more_info_div"><a href="{% url 'beta' %}">Beta</a></div>
        <div class="more_info_div"><a href="{% url 'correlation' %}">Correlation</a></div>
        <div class="more_info_div"><a href="{% url 'dividend_history' %}">Dividend</a></div>
        <div class="more_info_div"><a href="{% url 'stock_split' %}">Split</a></div>
        <div class="more_info_div"><a href="{% url 'fear_and_greed' %}">Fear and Greed</a></div>
        <div class="more_info_div"><a href="{% url 'largest_companies' %}">Largest Companies</a></div>
        <div class="more_info_div"><a href="{% url 'short_interest' %}">Short Interest</a></div>
        <div class="more_info_div"><a href="{% url 'low_float' %}">Low Float</a></div>
    </div>

    <div class="instructions">
        <h2>IPO Calendar</h2>
        <p>Get recent and past IPOs.</p>
    </div>

    <div class="contents_div">
        <div class="search_bar">
            <input type="text" class="ticker_input" placeholder="Ticker:" onkeyup="searchTicker(this)" autocomplete="off">
            <button class="submit_btn" type="button">
                <span class="fa fa-search"></span>
            </button>
        </div>
        <span class="click_table_info"><b>Click on ticker for more info</b></span>
        <div class="table_div">
            {{ ipo_df|safe }}
        </div>
    </div>
{% endblock %}

{% block bottom_script %}
{% endblock %}
