{% extends "format.html" %}
{% load static %}
{% load filter %}

{% block title %}StocksEra | Jim Cramer {% endblock %}

{% block additional_script %}
<link rel="stylesheet" href="{% static 'style/government/trading.css' %}">
<script src="{% static 'javascript/discover/jim_cramer_ticker_analysis.js' %}"></script>
{% endblock %}

{% block onload_properties%}load_ticker_table(){% endblock %}

{% block main_nav %}
    <a href="/">Stocksera</a> /
    <a href="/jim_cramer">Jim Cramer</a> /
    <a href="/jim_cramer/?quote={{ticker_selected}}">{{ticker_selected}}</a>
{% endblock %}

{% block main_content %}
    <script>highlight_selected_nav('government')</script>
    <div class="instructions">
        <h2>Jim Cramer ${{ticker_selected}} Recommendations</h2>
        <p>
            Add description here
        </p>
        <div>
            <form action="" method="GET" autocomplete="off" name="form">
                <div class="search_bar">
                    <input type="text" class="ticker_input" name="quote" value="{{ticker_selected}}" placeholder="Ticker:" autocomplete="off">
                    <button class="submit_btn" type="button" onclick="this.form.submit();this.disabled=true;">
                        <span class="fa fa-search"></span>
                    </button>
                    <a href="/jim_cramer" class="return_to_summary_btn">Overview</a>
                </div>
            </form>
        </div>
    </div>

<!--    <div class="instructions">-->
<!--        <h2>Other Datasets Available</h2>-->
<!--        <div class="more_info_div_parent">-->
<!--            <div class="more_info_div"><a class="more_info_btn" href="{% url 'senate' %}">Senate</a></div>-->
<!--            <div class="more_info_div"><a class="more_info_btn" href="{% url 'house' %}">House</a></div>-->
<!--        </div>-->
<!--    </div>-->

    <div class="contents_div">
        <div id="price_chart"></div>
        <div class="scrollable_div">
            {{ticker_df|safe}}
        </div>
        <div style="display: none">
            {{history_df|safe}}
        </div>
    </div>
{% endblock %}