{% extends "format.html" %}
{% load static %}
{% load filter %}

{% block title %}Stocksera | Short Interest{% endblock %}

{% block additional_script %}
<link rel="stylesheet" href="{% static 'style/discover/short_interest.css' %}">
<script src="{% static 'javascript/discover/short_interest.js' %}"></script>
{% endblock %}

{% block onload_properties%}update_table(){% endblock %}

{% block main_nav %}
    <a href="/">Stocksera</a> /
    <a href="/discover">Discover</a> /
    <a href="/short_interest">Short Interest</a>
{% endblock %}

{% block main_content %}
    <script>highlight_selected_nav('discover')</script>

    <div class="more_info_div_parent">
        <div class="more_info_div"><a href="{% url 'latest_insider' %}">Insider</a></div>
        <div class="more_info_div"><a href="{% url 'ark_trades' %}">ARK</a></div>
        <div class="more_info_div"><a href="{% url 'jim_cramer' %}">Jim Cramer</a></div>
        <div class="more_info_div"><a href="{% url 'ipo_calendar' %}">IPOs</a></div>
        <div class="more_info_div"><a href="{% url 'stocktwits' %}">Stocktwits</a></div>
        <div class="more_info_div"><a href="{% url 'beta' %}">Beta</a></div>
        <div class="more_info_div"><a href="{% url 'correlation' %}">Correlation</a></div>
        <div class="more_info_div current_link"><a href="{% url 'dividend_history' %}">Dividend</a></div>
        <div class="more_info_div"><a href="{% url 'stock_split' %}">Split</a></div>
        <div class="more_info_div current_link"><a href="{% url 'short_interest' %}">Short Interest</a></div>
        <div class="more_info_div"><a href="{% url 'low_float' %}">Low Float</a></div>
        <div class="more_info_div"><a href="{% url 'amd_xlnx_ratio' %}">AMD-XLNX</a></div>
    </div>

    <div class="instructions">
        <h2>High Short Interest</h2>
        <p>Short interest (SI) is the number of shares that have been sold short but have not yet been covered.
            The higher the SI, the higher probability of short squeezing as shortable shares reduce in number.
            Stocks with high SI are highly volatile. Data is updated 2 times a month.</p>
    </div>

    <div class="contents_div">
        <div class="search_bar">
            <input type="text" class="ticker_input" placeholder="Ticker:" onkeyup="searchTicker(this)" autocomplete="off">
            <button class="submit_btn" type="button">
                <span class="fa fa-search"></span>
            </button>
        </div>
        <span class="click_table_info"><b>Click on ticker for more info</b></span>
        <div class="table_div" style="display: none">
            {{ df_high_short_interest|safe }}
        </div>
    </div>
{% endblock %}
