{% extends "format.html" %}
{% load static %}
{% load filter %}

{% block title %}Stocksera | Stock Split{% endblock %}

{% block additional_script %}
<link rel="stylesheet" href="{% static 'style/government/trading.css' %}">
<script src="{% static 'javascript/discover/stock_split.js' %}"></script>
{% endblock %}

{% block onload_properties%}load_table(){% endblock %}

{% block main_nav %}
    <a href="/">Stocksera</a> /
    <a href="/discover">Discover</a> /
    <a href="/stock_split">Stock Split</a>
{% endblock %}

{% block main_content %}
    <script>highlight_selected_nav('discover')</script>

    <div class="more_info_div_parent">
        <div class="more_info_div"><a href="{% url 'latest_insider' %}">Insider</a></div>
        <div class="more_info_div"><a href="{% url 'ark_trades' %}">ARK</a></div>
        <div class="more_info_div"><a href="{% url 'jim_cramer' %}">Jim Cramer</a></div>
        <div class="more_info_div"><a href="{% url 'ipo_calendar' %}">IPOs</a></div>
        <div class="more_info_div"><a href="{% url 'stocktwits' %}">Stocktwits</a></div>
        <div class="more_info_div"><a href="{% url 'twitter_trending' %}">Twitter Trending</a></div>
        <div class="more_info_div"><a href="{% url 'beta' %}">Beta</a></div>
        <div class="more_info_div"><a href="{% url 'correlation' %}">Correlation</a></div>
        <div class="more_info_div"><a href="{% url 'dividend_history' %}">Dividend</a></div>
        <div class="more_info_div current_link"><a href="{% url 'stock_split' %}">Split</a></div>
        <div class="more_info_div"><a href="{% url 'fear_and_greed' %}">Fear and Greed</a></div>
        <div class="more_info_div"><a href="{% url 'largest_companies' %}">Largest Companies</a></div>
        <div class="more_info_div"><a href="{% url 'short_interest' %}">Short Interest</a></div>
        <div class="more_info_div"><a href="{% url 'low_float' %}">Low Float</a></div>
    </div>

    <div class="instructions">
        <h2>Stock Split</h2>
        <p>View upcoming and past stock splits.</p>
    </div>

    <div class="contents_div">
        <div class="search_bar">
            <input type="text" class="ticker_input" placeholder="Ticker:" onkeyup="searchTicker(this)" autocomplete="off">
            <button class="submit_btn" type="button">
                <span class="fa fa-search"></span>
            </button>
        </div>
        <div class="select_div">
            Type:
             <select name="order" onchange="filter_table(this)">
                <option value="All">All</option>
                <option value="False">Non-Reverse</option>
                <option value="True">Reverse</option>
            </select>
        </div>
        <div class="scrollable_div">
            {{df|safe}}
        </div>
    </div>
{% endblock %}

{% block bottom_script %}
<style>
    .filter {
        display: none;
    }
</style>
{% endblock %}