@media only screen and (max-width: 900px) {
    .top_section {
        width: 90%;
        margin:auto;
    }

    .contact_div input {
        padding: 0.4%;
        border-bottom: 1px solid;
        border-top: 0;
        border-left: 0;
        border-right: 0;
        border-radius: 0px;
        width: 38.5vw;
    }

    .contact_div textarea {
        font-family: Arial;
        padding: 0.4%;
        width: 80vw;
        border-top: 0;
        border-left: 0;
        border-right: 0;
        border-radius: 0px;
        height: 15vh;
        margin-top:4%;
        margin-bottom:1%;
        background-color: transparent;
    }
}

@media only screen and (min-width: 900px) {
    .top_section {
        width: 98%;
        margin:auto;
    }

    .contact_div input {
        padding: 0.4%;
        border-bottom: 1px solid ;
        border-top: 0;
        border-left: 0;
        border-right: 0;
        border-radius: 0px;
        width:18vw;
    }

    .contact_div textarea {
        font-family: Arial;
        padding: 0.4%;
        width: 40vw;
        border-top: 0;
        border-left: 0;
        border-right: 0;
        border-radius: 0px;
        height: 15vh;
        margin-top:4%;
        margin-bottom:1%;
        background-color: transparent;
    }
}

#about_title {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

#contact_title, #support_title, #acknowledgement_title, #releases_title {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-top: 50px;
}

.about, .support_div, .contact_div, .acknowledgement_div, .releases_div {
    line-height: 1.5;
}

.input_section {
    text-align: center;
}

.support_div a, .acknowledgement_div a, .releases_div a {
    text-decoration: underline;
    color: rgb(38, 166, 154);
}

.github_div {
    text-align: center;
    margin-top: 10px;
}

button {
    padding: 10px;
    border-radius: 50px;
    border: 1px solid;
    margin: auto;
    width: 170px;
    font-weight: bold;
    text-align: center;
    background-color: white;
}

.dark_mode button {
    background-color: wheat;
}

button:hover {
    cursor: pointer;
    background-color: #9e9e9e;
    transition: 0.5s;
}

.dark_mode button:hover {
    background-color: #ffba39;
}

td, th {
    width: auto;
}