@media only screen and (max-width: 900px) {
    .beta {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    #beta_chart {
        margin-top: 30px;
        max-height: 350px;
    }

    select {
        padding: 4px;
    }
}

@media only screen and (min-width: 900px) {
    .beta {
        width: 98%;
        margin-left: auto;
        margin-right: auto;
    }

    #beta_chart {
        margin-top: 30px;
        max-height: 400px;
    }

    select {
        padding: 6px;
    }
}

select {
    border: 1px solid grey;
    border-radius: 6px;
    margin-top: 4px;
    margin-bottom: 4px;
}