#instructions {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1%;
    text-align: center;
    padding: 2%;
    background-color: #E9EAEA;
    border-radius: 10px;
    width: 70%;
}

input {
    padding: 0.4%;
    border-bottom: 1px solid #858585;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    width:18vw;
}

textarea {
    font-family: Arial;
    padding: 0.4%;
    width: 40vw;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    height: 15vh;
    margin-top:4%;
    margin-bottom:4%;
}

input:focus, textarea:focus {
    padding: 0.4%;
    border-bottom: 1.5px solid rgb(38, 166, 154);
    outline: 0;
}

button {
    width: 10vw;
    height: 5vh;
    border: 1px solid;
    border-radius: 25px;
    background-color: #26a69a;
}

button:hover {
    cursor: pointer;
    outline: 0;
    border: 1px solid;
    background-color: #23e0ce;
}

button:focus {
    outline: 0;
}