@media only screen and (max-width: 900px) {
    .earnings_container {
        width: calc(100% / 6);
        border: 2px solid grey;
        margin: 1px;
        text-align: center;
        padding: 3px;
        word-wrap: break-word;
    }
}

@media only screen and (min-width: 900px) {
    .earnings_container {
        width: 120px;
        border: 2px solid grey;
        margin: 1px;
        text-align: center;
        padding: 3px;
        word-wrap: break-word;
    }
}

.menu {
    position: sticky;
    top: 0%;
    background-color: white;
    padding-bottom: 4px;
}

#to_top {
    float: right;
    margin-right: 20px;
    font-weight: bold;
    border: 2px solid grey;
    border-radius: 3px;
    padding: 3px;
}

#to_top a {
    color: grey;
}

button {
    border: 1px solid grey;
    border-radius: 3px;
    padding: 0.4%;
}

button:hover {
    cursor: pointer;
    outline: 0;
    background-color: #26a69a;
}

.selected_btn {
    background-color: #26a69a;
}

select {
    padding: 0.35%;
    border: 1px solid grey;
    border-radius: 3px;
}

#search_ticker {
    border: 1px solid grey;
    border-radius: 3px;
    padding: 0.4%;
    text-transform: uppercase;
    max-width: 18vw;
}

#search_ticker:focus {
    outline: none;
}

.earnings_div {
    display: flex;
    flex-flow: row wrap;
}

h2 {
    margin-bottom: 5px;
}

.company_img {
    width: 100%;
    background-color: white;
}

.earnings_container p {
    text-align: left;
    margin: 1px;
}

.earnings_container span {
    font-weight: bold;
}