@media only screen and (max-width: 900px) {
    .top_section {
        width: 90%;
        margin:auto;
    }

    .chart-container {
        position: relative;
        height:55vh;
        width:90%;
        max-height:250px;
        margin-left: auto;
        margin-right: auto;
    }

    #ticker_intro span {
        font-size:15px;
        font-weight:bold;
    }
}

@media only screen and (min-width: 900px) {
    .top_section {
        width: 98%;
        margin:auto;
    }

    .chart-container {
        position: relative;
        height:55vh;
        width:98%;
        max-height:250px;
        margin-left: auto;
        margin-right: auto;
    }

    #ticker_intro span {
        font-size:22px;
        font-weight:bold;
    }
}

#ticker_intro {
    width: 70%;
    margin-left: 8px;
    display: inline-block;
}

h2 {
    margin-top: 30px;
    margin-bottom: 5px;
}

h2 button {
    border: 0px;
    border-bottom: 2px solid #858585;
    background-color: transparent;
    color: #858585;
    margin-left: 2px;
    margin-right: 2px;
}

.selected_btn {
    border-bottom: 2px solid green;
    color: green;
}

.earnings-container {
    width: 70%;
    min-width: 150px;
    margin:auto;
}
  
#eps_surprise {
    display: flex;
    justify-content: space-between;
    font-size: 90%;
}

.eps_label{
    padding-left:8px;
    text-align:center;
    color:grey;
}