@media only screen and (max-width: 900px) {
    .modal-content {
        position: relative;
        background-color: #fefefe;
        padding: 0;
        margin: auto;
        width: 85vw;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
        -webkit-animation-name: animatetop;
        -webkit-animation-duration: 0.6s;
        animation-name: animatetop;
        animation-duration: 0.6s;
        border-radius: 8px;
        border: 1.5px solid gray;
    }

    #advertisement_model a, #advertisement_model .adv_close {
        padding: 6px;
    }
}

@media only screen and (min-width: 900px) {
    .modal-content {
        position: relative;
        background-color: #fefefe;
        padding: 0;
        margin-left: calc(15vw + 199px);
        width: calc(70vw - 200px);
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
        -webkit-animation-name: animatetop;
        -webkit-animation-duration: 0.6s;
        animation-name: animatetop;
        animation-duration: 0.6s;
        border-radius: 8px;
        border: 1.5px solid gray;
    }

    #advertisement_model a, #advertisement_model .adv_close {
        padding: 9px;
    }

    .footer_share img {
         width: 30px;
         height: 30px;
         border-radius: 10px;
         margin: 0 3px;
    }
}

.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    padding-top: 55px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.dark_mode .modal-content {
    background-color: #121212;
    border: 1.5px solid #ccc;
}

.modal a, .dark_mode .modal a {
    text-decoration: underline;
    color: rgb(38, 166, 154);
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

.close {
    float: right;
    font-size: 20px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 10px;
    background-color: #9e9e9e;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.modal-header h4 {
    margin: 10px 0;
}

.dark_mode .modal-header, .dark_mode .explore_more {
    background-color: #1c1f21;
}

.modal-body {
    padding: 2px 10px;
    height: 77vh;
    overflow-y: scroll;
}

.modal-body ul {
    list-style-type: disc;
    margin-top: 5px;
}

.footer {
    width: 100%;
    margin-top: 15px;
    background-color: #eae9e9;
}

.dark_mode .footer {
    background-color: #1c1f21;
}

.footer ul {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
}

.footer li {
    list-style-type: none;
    padding-left: 1.5%;
    padding-right: 1.5%;
    font-weight: bold;
    margin-top: 13px;
}

.footer li:hover {
    color: #9e9e9e;
    cursor: pointer;
}

.footer div:last-child {
    text-align: center;
    margin-top: 4px;
    padding-bottom: 15px;
}

.footer_share {
    margin: auto;
    text-align: center;
    margin-top: 6px
}

#disclaimer_model, #privacy_model, #contact_model, #support_model, #share_model {
    padding-top: 27vh !important;
}

#disclaimer_model .modal-body, #privacy_model .modal-body, #contact_model .modal-body, #support_model .modal-body, #share_model .modal-body {
    height: 18vh;
}

#support_model p {
    margin-top: 0;
}

#support_model p:first-child {
    text-align: center;
    margin: 0;
}

#share_model .modal-body {
    width: fit-content;
    margin: auto;
}

.github_div img {
    width: 30px !important;
    min-width: 30px !important;
    background-color: white;
    border-radius: 50% !important;
    border: 2px solid white;
}

.dark_mode .github_div img {
    background-color: #ccc;
    border: 2px solid #ccc;
}

#advertisement_model a, #advertisement_model .adv_close {
    background: #9e9e9e;
    color: black;
    font-weight: bold;
    text-decoration: none;
    border-radius: 3px;
}

#advertisement_model img {
    width: 100%;
}

#advertisement_model .buttons_div {
    display: flex; justify-content: space-around;
}

#advertisement_model .buttons_div div {
    margin: 25px 0 25px 0
}

.adv_close:hover {
    cursor: pointer;
}