@media only screen and (min-width: 2000px) {
    #main_content {
        width: 70%;
        margin: auto;
    }
}

@media only screen and (max-width: 900px) {
    body, button, input, select, textarea {
        font-size: 10px;
        background-color: transparent;
    }

    select {
        padding: 4.7px;
    }

    #dark_mode_btn {
        display: none;
    }

	#main_content {
		min-height: 100vh;
		border: 0px;
		overflow-y: scroll;
		margin-top: 15px;
	}

    .ticker_input {
        border: 1px solid grey;
        border-right: 0 !important;
        border-radius: 5px 0 0 5px;
        padding: 4.5px;
        text-transform: uppercase;
        max-width: 70px;
    }

    #ssr_msg div {
        text-align: center;
        width: fit-content;
        padding: 3px;
        margin: 3px;
        font-weight: bold;
        border-radius: 7px;
        display: inline-block
    }

    #no_img_div {
        border-radius: 50%;
        background-color: white;
        opacity: 0.8;
        color: black !important;
        width: 50px;
        height: 50px;
        vertical-align: top;
        border: 0.8px solid black;
        display: inline-block;
        text-align: center;
        margin: auto;
    }

    #no_img_div div {
        margin-top: 18px;
        font-size: 13px;
        font-weight: bolder;
    }

    .no_img_table_img div {
        margin-top: 4px;
        padding: 0 5px 0 5px;
        font-weight: bold;
    }

    .no_img_table_img_symbol {
        margin-top: 5px;
    }

    #img_div {
        width: 50px;
        display: inline-block;
    }

    #img_div img {
        border-radius: 50%;
        height: 50px;
        width: 50px;
        object-fit: contain;
        border: 0.8px solid black;
    }

    #ticker_intro span {
        font-size:15px;
        font-weight:bold;
    }

    #ticker_intro {
        margin-left: 8px;
        display: inline-block;
        vertical-align: bottom;
        width: calc(75% - 90px);
    }

    .price_details {
        display: inline-block;
        font-size: 10px;
        font-weight: bold;
        border-radius: 6px;
        padding-top: 4px;
        padding-bottom: 3px;
        padding-left: 5px;
        padding-right: 5px;
        float: right;
        margin-top: 10px;
    }

    .submit_btn {
        border: 1px solid grey;
        border-left: 0;
        border-radius: 0 5px 5px 0;
        padding: 4.5px;
        margin-left: -1px;
        text-transform: uppercase;
    }

    .instructions {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 12px;
        padding: 5px 5px 5px 10px;
        background-color: #E9EAEA;
    }

    .instructions h2 {
        margin-bottom: 0;
        margin-top: 5px;
    }

    .instructions p {
        margin-top: 5px;
    }

    .contents_div {
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }

    #img_div img {
        max-height: 50px !important;
    }

    .table_ticker_logo {
        width: 20px;
        height: 20px;
    }

    .donate_sticky {
        position: fixed;
        left: 83%;
        bottom: 2%;
        width: 10%;
        background-color: rgb(38, 166, 154);
        color: black;
        text-align: center;
        padding: 5px;
        border-radius: 5px
    }

    .loader {
        font-size: 2px !important;
    }

    .footer_share img {
         width: 20px;
         height: 20px;
         border-radius: 7px;
         margin: 0 3px;
    }
}

@media only screen and (min-width: 900px) {
    body, button, input, select, textarea {
        font-size: 13px;
        background-color: transparent;
    }

    select {
        padding: 6.7px;
    }

	#main_div {
		display: inline-block;
		width: calc(100% - 200px);
		margin-left: 200px;
	}

	#main_content {
		border: 0px;
		min-height: 100vh;
		margin-top: 15px;
	}

    .ticker_input {
        padding: 7px;
        border: 1px solid grey;
        border-right: 0 !important;
        border-radius: 5px 0 0 5px;
        max-width: 80px;
        text-transform: uppercase;
    }

    #ssr_msg div {
        text-align: center;
        width: fit-content;
        padding: 5px;
        margin: 5px;
        font-weight: bold;
        border-radius: 10px;
        display: inline-block
    }

    #no_img_div {
        border-radius: 50%;
        background-color: white;
        opacity: 0.8;
        color: black !important;
        width: 60px;
        height: 60px;
        vertical-align: top;
        border: 0.8px solid black;
        display: inline-block;
        text-align: center;
        margin: auto;
    }

    #no_img_div div {
        margin-top: 22px;
        font-size: 18px;
        font-weight: bolder;
    }

    .no_img_table_img div {
        margin-top: 8px;
        padding: 0 9px 0 9px;
        font-weight: bold;
    }

    .no_img_table_img_symbol {
        margin-top: 8px;
    }

    #img_div {
        width: 60px;
        display: inline-block;
    }

    #img_div img {
        border-radius: 50%;
        height: 60px;
        width: 60px;
        object-fit: contain;
        border: 0.8px solid black;
    }

    #ticker_intro span {
        font-size:22px;
        font-weight:bold;
    }

    #ticker_intro {
        margin-left: 8px;
        display: inline-block;
        vertical-align: bottom;
    }

    .price_details {
        display: inline-block;
        font-size: 15px;
        font-weight: bold;
        border-radius: 6px;
        padding-top: 6px;
        padding-bottom: 5px;
        padding-left: 10px;
        padding-right: 10px;
        float: right;
        margin-top: 10px;
    }

    .submit_btn {
        min-width: 40px;
        padding: 7px;
        border: 1px solid grey;
        border-left: 0;
        border-radius: 0 5px 5px 0;
        cursor: pointer;
    }

    .instructions {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        margin-bottom: 12px;
        padding: 5px 0px 5px 10px;
        background-color: #E9EAEA;
    }

    .instructions h2 {
        margin: 5px 0;
    }

    .instructions p {
        margin-top: 5px;
    }

    .contents_div {
        width: 98%;
        margin-left: auto;
        margin-right: auto;
    }

    .table_ticker_logo {
        width: 30px;
        height: 30px;
    }

    .donate_sticky {
        position: fixed;
        right: 15px;
        bottom: 3%;
        width: 55px;
        background-color: rgb(38, 166, 154);
        color: black;
        text-align: center;
        padding: 5px;
        border-radius: 5px
    }
}

body {
    margin:0;
	font-family: Arial;
	overflow-x:hidden;
	background-color: white;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.dark_mode .submit_btn {
    border-color: #ccc;
    background: none;
    color: #ccc;
}

.dark_mode .submit_btn:hover {
    background: none;
}

button:hover, a:hover {
    cursor: pointer;
    transition: 0.5s;
}

select {
    border: 1px solid grey;
    border-radius: 6px;
    margin-top: 4px;
    margin-bottom: 4px;
}

input:focus, select:focus, button:focus, textarea:focus {
	outline: none;
}

ul {
	list-style-type: none;
	padding: 0;
}

.donate_sticky:hover {
    cursor: pointer;
    border-color: #9e9e9e;
}

a {
	text-decoration: none;
	color: black;
}

.dark_mode a {
    color: #ccc;
}

#img_div img {
    background-color: white !important;
}

.dark_mode #img_div img {
    border: 0.8px solid white !important;
    background-color: white !important;
}

.dark_mode #nav_bar_div, .dark_mode .instructions, .dark_mode .more_info_div_parent, .dark_mode #nav_bar_div .dropdown-btn, .dark_mode #nav_bar_div_logo, .dark_mode .top_nav_right {
    background-color: #1c1f21;
}

.subscribe_email_div {
    margin-bottom: 10px;
}

.more_info_btn {
    border: 1.5px solid #9c9c9c;
    border-radius: 6px;
    padding: 5.5px;
    font-weight: bold;
    margin: auto;
    display: inline-flex;
}

.subscribe_email {
    border: 1.5px solid #9c9c9c;
    border-radius: 6px;
    padding: 5.5px;
    font-weight: bold;
    margin: auto;
    background-color: rgb(38, 166, 154);
}

.dark_mode .subscribe_email {
    color: #121212;
}

.change_day_btn:hover {
    background-color: #eae9e9;
}

#ticker_basic_stats {
    margin-bottom: 15px;
    width: 98%;
    margin-left: auto;
    margin-right: auto;
}

.search_bar {
    display: inline-table;
}

table {
    border: 0;
    border-collapse: collapse;
    white-space: nowrap;
    margin: auto;
    position: relative;
    width: 100%;
}

td {
    width:50vw;
}

td img {
    object-fit: contain;
    border: 0.1px solid #eae9e9;
    background-color: white;
}

td, th {
    border: 0px;
    border-bottom: 2px solid #EAE9E9;
    padding: 5px;
}

tr:last-child td {
    border: 0;
}

.dark_mode td, .dark_mode th {
    border-bottom: 1px solid #636363;
}

th {
    padding-top: 7px;
    padding-bottom: 7px;
    text-align: left;
    background-color: #EAE9E9;
    position: sticky;
    top: -1px;
}

.no_img_table_div {
    display: flex;
}

.no_img_table_img {
    border: 0.1px solid gray;
    text-align: center
}

.dark_mode th {
    background-color: #1c1f21;
}

.sticky_btn {
	width: fit-content;
    position: sticky;
    border-radius: 50%;
    border: 2px solid grey;
    padding: 11px;
    background-color: #EAE9E9;
    top: 90%;
    left: 93%;
}

.dark_mode {
    background-color: #121212;
    color: #ccc;
}

.dark_mode tr {
    background-color: #121212;
}

.dark_mode select, .dark_mode input, .dark_mode textarea {
    border: 1px solid #ccc;
    color: #ccc;
}

.dark_mode button, .dark_mode option {
    background-color: #ccc;
    color: #121212;
}

.dark_mode button:hover {
    background-color: rgb(38, 166, 154);
}

.dark_mode .more_info_btn:hover {
    background-color: rgb(38, 166, 154);
    color: #121212;
}

.scrollable_div {
    overflow-x:scroll;
    overflow-y: auto;
    width: 100%;
}

#ssr_msg {
    text-align: center;
}

.positive_price {
    background-color: green;
    color: white;
}

.negative_price {
    background-color: red;
    color: white;
}

.quote_type_color {
    background-color: grey;
    color: white;
}

.table_ticker_logo {
    border-radius: 50%;
    margin-right: 6px;
    vertical-align: middle;
    background-color: white;
    color: black;
    opacity: 0.8;
}

.download_btn {
    border:0;
    float: right;
}

.dark_mode .download_btn, .dark_mode .download_btn:hover {
    color: #ccc;
    background-color: transparent;
}

::-webkit-scrollbar {
    width: 3.5px;
    height: 2.5px;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: gray;
}

#consecutive_text {
    font-weight: bold;
    font-size: larger;
}

input[type=text], input[type=email] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.instructions p a {
    text-decoration: underline;
    color: rgb(38, 166, 154);
    font-weight: bold;
}

.error_page {
    margin: auto;
    text-align: center;
    margin-top: 20vh;
    font-size: 18px;
    font-weight: bold;
}

.error_page_return_home {
    text-align: center;
    margin: auto;
    padding: 5px;
    border: 1.5px solid #9c9c9c;
    border-radius: 5px;
}

.error_page_return_home:hover {
    background-color: grey;
}

.related_tickers {
    border: 1.5px solid gray;
    padding: 4px;
    border-radius: 5px;
    font-weight: bold;
}

.loader,
.loader:after {
    border-radius: 50%;
    width: 10em;
    height: 10em;
}
.loader {
    margin: 50vh auto;
    font-size: 3px;
    position: relative;
    text-indent: -9999em;
    border-top: 1.3em solid grey;
    border-right: 1.3em solid grey;
    border-bottom: 1.3em solid grey;
    border-left: 1.3em solid ;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s 0.1s infinite linear;
    animation: load8 1.1s infinite linear;
}

@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
#loadingDiv {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: white;
}

.dark_mode #loadingDiv {
    background-color: #121212;
}

.chart-container {
    position: relative;
    margin: 1px auto 20px auto;
    padding: 1px 5px;
    width: 95%;
}

#ticker_suggestions {
    position: absolute;
    width: 400px;
    background: #e9eaea;
    z-index: 1;
    border: 1px solid grey;
    margin-top: 1px;
}

#ticker_suggestions div {
    padding: 5px;
}

.dark_mode #ticker_suggestions, .dark_mode #ticker_suggestions div {
    background: #1c1f21;
}

#ticker_suggestions div:hover {
    background: #ccc;
    color: black;
    cursor: pointer;
}