@media only screen and (max-width: 900px) {
    #ftd {
        width: 90%;
        margin:auto;
    }

    #ticker_intro span {
        font-size:15px;
        font-weight:bold;
    }

    .price_details {
        display: inline-block;
        font-size: 10px;
        font-weight: bold;
        border-radius: 6px;
        padding-top: 4px;
        padding-bottom: 3px;
        padding-left: 5px;
        padding-right: 5px
    }

    #ticker_intro {
        width: 58%;
        margin-left: 8px;
        display: inline-block;
    }
}

@media only screen and (min-width: 900px) {
    #ftd {
        width: 98%;
        margin:auto;
    }

    #ticker_intro span {
        font-size:22px;
        font-weight:bold;
    }

    .price_details {
        display: inline-block;
        font-size: 15px;
        font-weight: bold;
        border-radius: 6px;
        padding-top: 6px;
        padding-bottom: 5px;
        padding-left: 10px;
        padding-right: 10px;
    }

    #ticker_intro {
        width: 73%;
        margin-left: 8px;
        display: inline-block;
    }
}

.chart-container {
    position: relative;
    height:55vh;
    width:98%;
    max-width: 900px;
    max-height:250px;
    margin-left: auto;
    margin-right: auto;
}

#img_div {
    display: inline-block;
}

.positive_price {
    background-color: green;
    color: white;
}

.negative_price {
    background-color: red;
    color: white;
}
