@media only screen and (max-width: 900px) {
    #ftd {
        width: 90%;
        margin:auto;
    }
}

@media only screen and (min-width: 900px) {
    #ftd {
        width: 98%;
        margin:auto;
    }
}

.chart-container {
    position: relative;
    height:55vh;
    width:98%;
    max-width: 900px;
    max-height:250px;
    margin-left: auto;
    margin-right: auto;
}

.instructions a {
    text-decoration: underline;
}


.date_selector button {
    border: 0px;
    border-bottom: 2px solid #858585;
    color: #858585;
    padding: 0 2px 0 2px;
    margin: 0 5px 0 5px
}

.selected {
    border-bottom: 2px solid rgb(38, 166, 154) !important;
    color: rgb(38, 166, 154) !important;
}

.dark_mode .date_selector button {
    background-color: transparent;
    color: wheat;
}

.dark_mode .selected {
    border-bottom: 2px solid wheat !important;
    color: wheat !important;
}