@media only screen and (max-width: 900px) {
    .top_section {
        width: 90%;
        margin:auto;
    }

    h3 {
        margin-top: 18px;
        margin-bottom: 5px;
        text-align: center;
    }

    .chart-container {
        margin-bottom: 30px;
    }
}

@media only screen and (min-width: 900px) {
    .top_section {
        width: 98%;
        margin:auto;
    }

    h3 {
        margin-top: 22px;
        margin-bottom: 5px;
        text-align: center;
    }

    .chart-container {
        margin-bottom: 50px;
    }
}

select {
    border: 1px solid grey;
    border-radius: 6px;
    padding: 7px;
}

.chart-container {
    position: relative;
    height:55vh;
    width:98%;
    min-height: 250px;
    max-height:250px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.reminder {
    text-align: center;
}

.dark_mode h3 {
    color: wheat;
}