@media only screen and (max-width: 900px) {
    .hedge_funds {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    td, th {
        max-width: 160px;
    }

    .page_num {
        padding-top: 5px;
        padding-bottom: 5px;
        border: 1px solid grey;
        border-radius: 3px;
        min-width: 18px;
        text-align: center;
        margin-left: 2px;
        margin-right: 2px;
        font-size: 9px;
    }
}

@media only screen and (min-width: 900px) {
    .hedge_funds {
        width: 98%;
        margin-left: auto;
        margin-right: auto;
    }

    td, th {
        max-width: 280px;
    }

    .page_num {
        padding-top: 5px;
        padding-bottom: 5px;
        border: 1px solid grey;
        border-radius: 3px;
        min-width: 26px;
        text-align: center;
        margin-left: 2px;
        margin-right: 2px;
        font-size: 11px;
    }
}

select, option {
    border: 1px solid grey;
    border-radius: 3px;
    padding: 4px;
    margin-bottom: 1%;
}

input, button {
    border: 1px solid grey;
    border-radius: 3px;
    max-width: 85px;
    text-transform: uppercase;
    padding: 4px;
}

.read_more {
    color: grey;
}

.read_more:hover {
    color: rgb(38, 166, 154);
}

.table_div {
    overflow-x: auto;
    overflow-y: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

th, td {
    text-overflow: ellipsis;
    overflow: hidden;
}

.page_section {
    display: flex;
    width: 50%;
    /*max-width: 200px;*/
    width: min-content;
    margin: auto;
}

.page_num:hover {
    cursor: pointer;
    transition: 0.5s;
    background-color: #EAE9E9;
}

.selected_page {
    background-color: #EAE9E9;
    font-weight: bold;
}

.dark_mode .selected_page {
    background-color: #505050;
    font-weight: bold;
}

.dark_mode .page_num:hover {
    background-color: #505050;
}