th {
    min-width: 38px;
}

.dark_mode input, input {
    width: 97%;
    height: 100%;
    border: 0;
}

.select_div {
    margin-top: 10px;
    margin-bottom: 10px;
}

select {
    border: 1px solid grey;
    border-radius: 6px;
    padding: 7px;
    margin-bottom: 5px;
}

#general_stats {
    margin-bottom: 15px;
}