@media only screen and (max-width: 450px) {
    .introSlides {
        height: 220px !important;
    }
}

@media only screen and (max-width: 900px) {
    .top_nav div {
        margin: auto;
    }

    .section_1 img {
        width: 90%;
        max-width: 470px;
    }

    .ranking_div {
        background-color: #eae9e9;
        width: 85vw;
        border-radius: 10px;
        box-shadow: 0 3px 3px -3px #333;
        display: flex;
        margin: auto;
        margin-bottom: 15px;
        align-items: center;
        justify-content: center;
        padding-bottom: 5px;
    }

    .ranking {
        width: 95%;
        padding: 5px;
        margin: 4px auto;
        border: 1.5px solid gray;
        border-radius: 5px;
        display: flex;
    }

    .ranking_num {
        width: 13%;
    }

    .ranking_symbol {
        width: 20%
    }

    .ranking_name {
        width: 70%;
        text-overflow: ellipsis;
        overflow: hidden;
        text-align: left;
    }

    .ranking_img {
        display: none;
    }

    .section_div {
        text-align: center;
        margin: auto;
        background-color: #eae9e9;
        width: 85vw;
        min-width: 250px;
        border-radius: 10px;
        margin: auto;
        margin-bottom: 15px;
        align-items: center;
        justify-content: center;
        box-shadow: 0 3px 3px -3px #333;
    }

    .section_div_left {
        padding: 12px;
    }

    .section_div_text {
        min-height: 35px;
    }

    .href_btn {
        padding: 6px;
        border-radius: 50px;
        border: 1.5px solid gray;
        width: 110px;
        font-weight: bold;
        text-align: center;
        margin: auto;
    }

    .href_btn a {
        width: fit-content;
        padding: 7px;
        padding-left: 18px;
        padding-right: 18px;
    }

    .section_div_right {
        padding: 12px;
        text-align: center;
        margin: auto;
    }


    .img_div img {
        width: 85%;
        max-width: 600px;
        border: 3px solid #e9eaea;
        border-radius: 25px;
        margin: 10px;
    }

    .section_1 .main_div {
        text-align: center;
        width: 85vw;
        margin: auto;
        margin-top: 30px
    }

    .showcase_div {
        text-align: center;
        background-color: #eae9e9;
        box-shadow: 0 3px 3px -3px #333;
        width: 85vw;
        min-width: 250px;
        height: 250px;
        border-radius: 10px;
        margin: auto;
        margin-bottom: 15px;
        align-items: center;
        justify-content: center;
    }

    .slides {
        height:220px;
    }

    .showcase1 {
        width: 90%;
        max-width: 360px;
    }

    .showcase2 {
        width: 70%;
        max-width: 220px;
    }

    .showcase3, .showcase4 {
        width: 90%;
    }

    .dot {
        height: 8px;
        width: 8px;
    }

    .introSlides {
        height: 350px;
    }
}

@media only screen and (min-width: 900px) {
    .top_nav div {
        margin: auto;
    }

    .section_1 img {
        width: 80%;
        min-width: 400px;
        max-width: 600px;
    }

    .ranking_div {
        background-color: #eae9e9;
        width: 94%;
        border-radius: 10px;
        box-shadow: 0 3px 3px -3px #333;
        display: flex;
        margin: auto;
        margin-bottom: 15px;
        align-items: center;
        justify-content: center;
        padding-bottom: 5px;
    }

    .ranking {
        padding: 3px;
        margin: 5px auto;
        border: 1.5px solid gray;
        border-radius: 5px;
        display: flex;
    }

    .ranking_num {
        width: 10%;
    }

    .ranking_symbol {
        width: 20%
    }

    .section_div {
        background-color: #eae9e9;
        width: 94%;
        height: 60vh;
        max-height: 350px;
        border-radius: 10px;
        display: flex;
        margin: auto;
        margin-bottom: 15px;
        align-items: center;
        justify-content: center;
        box-shadow: 0 3px 3px -3px #333;
    }

    .section_div_left {
        width: 52%;
        height: 94%;
        padding: 12px;
    }

    .section_div_text {
        min-height: 50px;
    }

    .experience_text {
        margin-top: 40px;
    }

    .href_btn {
        padding: 8px;
        border-radius: 50px;
        border: 1.5px solid gray;
        width: 130px;
        font-weight: bold;
        text-align: center;
    }

    .href_btn a {
        width: fit-content;
        padding: 10px;
        padding-left: 27px;
        padding-right: 27px;
    }

    .section_div_right {
        width: 42%;
        padding: 12px;
        text-align: center;
    }

    .img_div img {
        width: 85%;
        max-width: 600px;
        border: 3px solid #e9eaea;
        border-radius: 25px;
        margin: 10px;
    }

    .section_1 .main_div {
        text-align: center;
        width: 94%;
        margin: auto;
    }

    .showcase_div {
        background-color: #eae9e9;
        box-shadow: 0 3px 3px -3px #333;
        width: 94%;
        height: 355px;
        border-radius: 10px;
        margin: auto;
        margin-bottom: 15px;
        align-items: center;
        justify-content: center;
    }

    .slides {
        height:320px;
    }

    .showcase1 {
        width: 56%;
    }

    .showcase2 {
        width: 33%;
    }

    .showcase3, .showcase4 {
        width: 50%;
    }

    .dot {
        height: 10px;
        width: 10px;
    }

    .introSlides {
        height: 430px;
    }
}

.main_div a {
    color: rgb(38, 166, 154);
    text-decoration: underline;
}

.dark_mode .main_div a, .dark_mode .ranking a {
    color: wheat;
}

.github_div {
    padding-bottom: 0 !important;
}

.dark_mode .href_btn {
    background-color: wheat;
}

.href_btn:hover {
    cursor: pointer;
    background-color: #9e9e9e;
    transition: 0.5s;
}

.dark_mode .href_btn:hover {
    background-color: #ffba39;
}

.dark_mode a {
    color: black;
}

h1 {
    margin-top: 10px;
    margin-bottom: 5px;
}

.dark_mode .section_div, .dark_mode .ranking_div, .dark_mode .showcase_div {
    background-color: #505050;
}

.section_div_left button {
    border: 1.5px solid gray;
    border-radius: 50px;
    padding: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.section_div_left button:hover, .section_div_left .ranking:not(:first-of-type):hover, .selected {
    background-color: gray;
    color: #eae9e9;
}

.dark_mode .section_div_left button:hover, .dark_mode .selected {
    background-color: #ffba39;
    color: black;
}

.section_div_description {
    margin-top: 15px;
}

.section_div_right img {
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
}

.ranking:not(:first-of-type):hover {
    cursor: pointer;
    transition: 0.5s;
}

.ranking a {
    display: inherit;
    width: 100%;
}
.ranking a:hover {
    color: #eae9e9
}

.dark_mode .ranking a {
    color: wheat;
}

#op_description .section_div_text a {
    color: rgb(38, 166, 154);
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: 10px auto;
}

.introSlides, .slides {
    display: none;
    text-align: center;
    vertical-align: middle;
    width:100vw;
}

.dot_div {
    text-align: center;
}

.dot {
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #717171;
}

.section_1 img:hover {
   transform: perspective(1px) scale3d(1.022, 1.022, 1) translateZ(0px) !important;
   transition: 1s;
}