@media only screen and (max-width: 900px) {
    .top_nav div {
        margin: auto;
    }

    .top_nav .top_logo {
        width: 120px;
        margin-top: 2px;
    }

    .section_1 img {
        width: 90%;
        max-width: 500px;
    }

    .logo {
        width: 70% !important;
    }

    .href_btn {
        padding: 7px;
        border-radius: 50px;
        border: 1px solid;
        margin: auto;
        width: 110px;
        font-weight: bold;
        text-align: center;
        background-color: white;
    }

    .href_btn a {
        width: fit-content;
        padding: 7px;
        padding-left: 18px;
        padding-right: 18px;
    }

    .contents_div {
        width: 215px;
        border: 1.4px solid;
        border-radius: 15px;
        padding: 4px;
        margin: calc((100vw - 200px) / 60);
        margin-top: 0;
        text-align:center;
        display:inline-block;
        /*animation: 2s ease-out 0s 1 slideInFromRight;*/
        box-shadow: 0 2px 6px 0 rgba(0,0,0,1),0 4px 7px 0 ;
    }

    .contents_div img {
        width: 211px;
        height: 150px;
        border: 1px solid;
        border-radius: 15px;
    }

    .contents_description {
        text-align: left;
        padding-left: 3px;
        padding-right: 3px;
        height: 50px;
    }

    h2 {
        padding: 0;
        margin:2px;
    }

    .img_div img {
        width: 85%;
        max-width: 600px;
        border: 3px solid #e9eaea;
        border-radius: 25px;
        margin: 10px;
    }

    .section_1 .main_div {
        text-align: center;
        width: 70%;
        margin: auto;
        transform: translateY(10%);
    }

    .main_div div {
        margin-bottom: 20px;
    }
}

@media only screen and (min-width: 900px) {
    .top_nav div {
        margin: auto;
    }

    .top_nav .top_logo {
        width: 150px;
        margin-top: 6px;
    }

    .section_1 img {
        width: 80%;
        min-width: 400px;
        max-width: 600px;
    }

    .logo {
        width: 60% !important;
        min-width: 200px !important;
        max-width: 400px !important;
    }

    .href_btn {
        padding: 10px;
        border-radius: 50px;
        border: 1px solid;
        margin: auto;
        margin-top: 15px;
        width: 170px;
        font-weight: bold;
        text-align: center;
        background-color: white;
    }

    .href_btn a {
        width: fit-content;
        padding: 10px;
        padding-left: 38px;
        padding-right: 38px;
    }

    .contents_div {
        width: 290px;
        border: 1.4px solid;
        border-radius: 15px;
        padding: 4px;
        margin: calc((100vw - 200px) / 60);
        margin-top: 0;
        text-align:center;
        display:inline-block;
        /*animation: 2s ease-out 0s 1 slideInFromRight;*/
        box-shadow: 0 2px 6px 0 rgba(0,0,0,1),0 4px 7px 0 ;
    }

    .contents_div img {
        width: 282px;
        height: 200px;
        border: 1px solid;
        border-radius: 15px;
    }

    .contents_description {
        text-align: left;
        padding-left: 5px;
        padding-right: 5px;
        height: 50px;
    }

    h2 {
        padding: 0;
        margin:5px;
    }

    .img_div img {
        width: 85%;
        max-width: 600px;
        border: 3px solid #e9eaea;
        border-radius: 25px;
        margin: 10px;
    }

    .section_1 .main_div {
        text-align: center;
        width: 55%;
        margin: auto;
        transform: translateY(10%);
    }

    .main_div div {
        padding-bottom: 30px;
    }
}

.section_1 {
    width: 100%;
    height: 100%;
}

.main_div a {
    color: rgb(38, 166, 154);
    text-decoration: underline;
}

.dark_mode .main_div img {
    opacity: 1
}

.dark_mode .main_div a {
    color: wheat;
}

.github_div {
    padding-bottom: 0 !important;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

#contents_title, #experience_title {
    margin-top: 50px;
    text-align: center;
    /*animation: 2s ease-out 0s 1 slideInFromLeft;*/
}

#contents_section {
    text-align: center;
}

.dark_mode .href_btn {
    background-color: wheat;
}

.href_btn:hover {
    cursor: pointer;
    background-color: #9e9e9e;
    transition: 0.5s;
}

.dark_mode .href_btn:hover {
    background-color: #ffba39;
}

.dark_mode a {
    color: black;
}

.experience_div {
    text-align:center;
}

.experience_div p {
    max-width: 85%;
    margin: auto;
}

.experience_div img {
    width: 60%;
    border-radius: 7px;
}
