@media only screen and (max-width: 900px) {
    body, button {
        font-size: 10px;
    }

    .chart-container {
        position: relative;
        height:55vh;
        width:90vw;
        max-height:250px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (min-width: 900px) {
    body, button {
        font-size: 13px;
    }

    .chart-container {
        position: relative;
        height:55vh;
        width:83vw;
        max-height:250px;
        margin-left: auto;
        margin-right: auto;
    }
}

body {
    margin:0;
	font-family: Arial;
}

#img_div {
    width: 6%;
    min-width: 50px;
    display: inline-block;
}

#img_div img {
    border-radius: 50%;
    width:100%;
    border:1px solid black;
}

#ticker_intro {
    margin-left: 7px;
    margin-top: 5px;
}

.scrollable_div {
    overflow-x:scroll;
    overflow-y: auto;
}

table {
    border-collapse: collapse;
    white-space: nowrap;
}

td {
    width:50vw;
}

table td, table th {
    border: 1px solid #ddd;
    padding: 6px;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tr:hover {
    background-color: #ddd;
}

table th {
    padding-top: 9px;
    padding-bottom: 9px;
    text-align: left;
}

::-webkit-scrollbar {
    width: 5px;  /* for vertical scrollbar */
    height: 5px; /* for horizontal scrollbar */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: grey;
}