@media only screen and (max-width: 900px) {
    .contents {
       width: 95%;
       margin-left: auto;
       margin-right: auto;
    }

    #ticker_intro span {
        font-size:15px;
        font-weight:bold;
    }

    #ticker_intro {
        width: 58%;
        margin-left: 8px;
        display: inline-block;
    }

    .price_details {
        display: inline-block;
        font-size: 10px;
        font-weight: bold;
        border-radius: 6px;
        padding-top: 4px;
        padding-bottom: 3px;
        padding-left: 5px;
        padding-right: 5px
    }

    h2 {
        margin-top: 22px;
        margin-bottom: 5px;
    }
}

@media only screen and (min-width: 900px) {
    .contents {
       width: 98%;
       margin-left: auto;
       margin-right: auto;
    }

    #ticker_intro span {
        font-size:22px;
        font-weight:bold;
    }

    #ticker_intro {
        width: 73%;
        margin-left: 8px;
        display: inline-block;
    }

    .price_details {
        display: inline-block;
        font-size: 15px;
        font-weight: bold;
        border-radius: 6px;
        padding-top: 6px;
        padding-bottom: 5px;
        padding-left: 10px;
        padding-right: 10px;
    }

    h2 {
        margin-top: 30px;
        margin-bottom: 5px;
    }
}

#error_msg {
    margin-top: 5%;
}

.positive_price {
    background-color: green;
    color: white;
}

.negative_price {
    background-color: red;
    color: white;
}

.navigation_menu {
    display: flex;
    padding-top: 3px;
    width: fit-content;
}

select, option {
    border: 1px solid black;
    border-radius: 3px;
    padding: 2%;
    margin-top: 5px;
}

.options_summary {
    text-align: center;
    margin: auto;
    margin-top: 10px;
    background-color: #E9EAEA;
    border: 1.5px solid gray;
    border-radius: 6px;
    min-width: 300px;
    max-width: 600px;
    width: 70%;
}

.options_summary .header {
    text-align: center;
    font-size: large;
    margin: auto;
    margin-top: 5px;
    font-weight: bold;
    text-decoration: underline;
    width: fit-content;
}

.options_summary_sub_div {
    display: flex;
}

.options_summary_sub {
    padding: 7px;
    margin: auto;
    font-weight: bold;
}

.options_summary_sub span {
    font-size: larger;
}

.show_selection {
    margin-right: 4%;
    margin-top: 1%;
}

.choices {
    margin-top: 1%;
}

.choices:hover {
    cursor: pointer;
}

.choice_selected {
    color: rgb(38, 166, 154);
    font-weight: bold;
}

.delimiter {
    padding-left: 5px; 
    padding-right: 5px;
    margin-top: 1%;
}

.chart-container {
    position: relative; 
    height:55vh;
    width:98%;
    max-height:250px;
    margin-left: auto;
    margin-right: auto;
}

.max_pain_div {
    background-color: #E9EAEA;
    border: 1.5px solid grey;
    padding: 5px;
    border-radius: 6px;
    width: fit-content;
    float: right;
    margin-right: 10px;
}

.dark_mode .max_pain_div, .dark_mode .options_summary, .dark_mode .options_summary_sub {
    background-color: wheat;
    color: black;
}

#calls_div, #puts_div, #straddle_div {
    overflow-x: scroll; 
    overflow-y: auto;
}

#calls_div table th {
    background-color: #26a69a;
}

#puts_div table th {
    background-color: red;
}

#straddle_header {
    display: flex;
    justify-content: space-around;
}

#straddle_header_calls {
    font-size: 15px;
    font-weight: bold;
    color: #26a69a;
}

#straddle_header_puts {
    font-size: 15px;
    font-weight: bold;
    color: red;
}

.itm_description {
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
    padding-bottom: 1.5px;
    font-size: 15px;
}

.calls {
    color: rgb(38, 166, 154);
}

.puts {
    color: red;
}

.itm_description_right {
    display:flex;
    margin-right: 10px
}

.itm {
    margin-left: 7px;
}

.itm_date_description {
    margin-bottom: 0px;
    margin-top: 0;
    font-weight: bold;
}

.itm_symbol {
    opacity: 0.65;
    padding-left: 12px;
    padding-right: 12px;
    border: 1px solid grey;
    border-radius: 3px
}

.calls_symbol_background {
    background-color: rgb(38, 166, 154);
}

.puts_symbol_background {
    background-color: red;
}