@media only screen and (max-width: 900px) {
    table {
        margin-left: auto;
        margin-right: auto;
        font-size: 12px;
    }
}

@media only screen and (min-width: 900px) {
    table {
        margin-left: auto;
        margin-right: auto;
        font-size: 12px;
    }
}

.table_div {
    overflow-x: auto;
    overflow-y: auto;
    margin-bottom: 15px;
}

table {
    border-collapse: collapse;
    white-space: nowrap;
}

td {
    width:50vw;
}

table td, table th {
border: 1px solid #ddd;
padding: 8px;
}

table tr:nth-child(even) {background-color: #f2f2f2;}

table tr:hover {background-color: #ddd;}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    color: white;
}

.header {
    color: rgb(38, 166, 154);
    font-weight: bold;
    font-size: 15px;
}

table th {
    background-color: rgb(38, 166, 154);
}
