@media only screen and (max-width: 900px) {
    .table_data, .select_div {
        overflow-x:scroll;
        overflow-y: auto;
        width: 90%;
        margin: auto;
    }

    .subreddit_intro .lg {
        font-size: 14px;
        font-weight: 700;
        line-height: 17px;
        margin-top: 17px;
    }

    .subreddit_intro img {
        border-radius: 50%;
        width: 55px;
        height: 55px;
        border: 1.2px solid wheat;
        background-color: black;
    }

    .filter_ticker {
        padding: 3px;
    }

    .ticker_logo {
        width: 20px;
        height: 20px;
    }
}

@media only screen and (min-width: 900px) {
    .table_data, .select_div {
        overflow-x:scroll;
        overflow-y: auto;
        width: 98%;
        margin: auto;
    }

    .filter_ticker {
        padding: 5px;
    }

    .subreddit_intro .lg {
        font-size: 26px;
        font-weight: 700;
        line-height: 32px;
        margin-top: 17px;
    }

    .subreddit_intro img {
        border-radius: 50%;
        width: 65px;
        height: 65px;
        border: 1.2px solid wheat;
        background-color: black;
    }

    .ticker_logo {
        width: 30px;
        height: 30px;
    }
}

select, option {
    border: 1px solid grey;
    border-radius: 3px;
    padding: 4px;
    margin-bottom: 1%;
}

.subreddit_intro {
    display: flex;
}

.subreddit_intro .main_div {
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.subreddit_intro .sm {
    color: #7c7c7c;
    display: flex;
}

#filter_section {
    display:inline-block;
    padding: 7px;
    background-color:#e9eaea;
    border-radius: 10px;
}

.toggle_settings {
    cursor: pointer;
    text-decoration: underline;
}

.dark_mode #filter_section {
    background-color: #505050;
}

.filter_ticker {
    float:left;
    white-space: nowrap;
    margin: 3px;
    height: 15px;
    border: 1px solid black;
    border-radius: 3px;
    max-width: 70px;
    text-transform: uppercase;
    color: black !important;
}

.dark_mode .filter_ticker {
    background-color: wheat;
}

.filter_contents {
    background-color: white;
    float:left;
    white-space: nowrap;
    padding: 4px;
    margin: 3px;
    height: fit-content;
    border: 1px solid black;
    border-radius: 3px;
}

.dark_mode .filter_contents {
    background-color: wheat;
    color: black;
}

.filter_contents:hover {
    cursor: pointer;
}

.filter_contents_removed {
    border: 1px dashed;
    color: grey;
}

#reddit_table {
    margin-top: 10px;
}

#reddit_table th {
    cursor: pointer;
}

#reddit_table .th-sort-asc::after {
    content: "\25b4";
}

#reddit_table .th-sort-desc::after {
    content: "\25be";
}

.ticker_logo {
    border-radius: 50%;
    margin-right: 6px;
    vertical-align: middle;
    background-color: white;
}

.price_chart_cell {
    padding: 0;
}

.price_chart_cell img {
    border: 0;
}

.price_chart {
    border-radius: 0;
    background-color: transparent;
    max-height: 30px;
}

.reformat_text {
    text-transform: capitalize;
}

::-webkit-scrollbar {
    height: 4px; /* for horizontal scrollbar */
}

.banned_words {
    margin-top: 10px;
    font-weight: bold;
}

.banned_words:hover {
    cursor: pointer;
}

.banned-words-modal-body {
    padding-left: 25px;
    padding-top: 20px;
    height: 70vh;
    overflow: scroll;
}