@media only screen and (max-width: 900px) {
    .reddit_etf {
        width: 90%;
        margin: auto;
    }

    td img {
        width: 20px;
    }

    .table_title {
        text-align: center;
        font-size: medium;
        font-weight: bold;
        margin-bottom: 5px;
    }
}

@media only screen and (min-width: 900px) {
    .reddit_etf {
        width: 98%;
        margin: auto;
    }

    td img {
        width: 30px;
    }

    .table_title {
        text-align: center;
        font-size: large;
        font-weight: bold;
        margin-bottom: 5px;
    }
}

.performance_individual {
    background-color: #E9EAEA;
    border-radius: 10px;
    padding-left: 0.7%;
    padding-right: 0.7%;
    padding-top: 0.4%;
    padding-bottom: 0.4%;
    margin: 1.5%;
    width: 280px;
}

.performance_change {
    width: min-content;
    float: right;
    border-radius: 5px;
    padding: 1%;
    font-size: small;
    background-color: rgb(219, 27, 27);
}

input {
    border: 1px solid grey;
    border-radius: 6px;
    padding: 7px;
    margin-bottom: 5px;
    text-transform: uppercase;
    max-width: 130px;
}

.dark_mode input {
    border: 1px solid wheat;
    color: wheat;
}
  
table th {
    cursor: pointer;
}

table .th-sort-asc::after {
    content: "\25b4";
}

table .th-sort-desc::after {
    content: "\25be";
}

td img {
    border-radius: 50%;
    margin-right: 6px;
    vertical-align: middle;
    background-color: white;
}
