@media only screen and (max-width: 900px) {
    .table_data {
        overflow-x:scroll;
        overflow-y: auto;
        width: 90%;
        margin: auto;
    }
}

@media only screen and (min-width: 900px) {
    .table_data {
        overflow-x:scroll;
        overflow-y: auto;
        width: 98%;
        margin: auto;
    }
}

select, option {
    border: 1px solid black;
    border-radius: 3px;
    padding: 0.4%;
    margin-bottom: 1%;
}

#filter_section {
    display:inline-block;
    padding: 7px;
    background-color:#e9eaea;
}

.dark_mode #filter_section {
    background-color: #505050;
}

.filter_ticker {
    float:left;
    white-space: nowrap;
    padding: 4px;
    margin: 5px;
    height: 15px;
    border: 1px solid black;
    border-radius: 3px;
}

.filter_contents {
    background-color: white;
    float:left;
    white-space: nowrap;
    padding: 4px;
    margin: 3px;
    height: fit-content;
    border: 1px solid black;
    border-radius: 3px;
}

.dark_mode .filter_contents {
    background-color: wheat;
    color: black;
}

.filter_contents:hover {
    cursor: pointer;
}

.filter_contents_removed {
    border: 1px dashed;
    color: grey;
}

#reddit_table th {
    cursor: pointer;
}

#reddit_table .th-sort-asc::after {
    content: "\25b4";
}

#reddit_table .th-sort-desc::after {
    content: "\25be";
}