@media only screen and (max-width: 900px) {
    .reddit_ticker_analysis {
        width: 90%;
        margin:auto;
    }

    #ticker_intro span {
        font-size:15px;
        font-weight:bold;
    }

    #ticker_intro {
        width: 58%;
        margin-left: 8px;
        display: inline-block;
    }

    .price_details {
        display: inline-block;
        font-size: 10px;
        font-weight: bold;
        border-radius: 6px;
        padding-top: 4px;
        padding-bottom: 3px;
        padding-left: 5px;
        padding-right: 5px
    }

    .reddit_ticker_analysis h2 {
        margin-top: 22px;
        margin-bottom: 5px;
        text-align: center;
    }
}

@media only screen and (min-width: 900px) {
    .reddit_ticker_analysis {
        width: 98%;
        margin:auto;
    }

    #ticker_intro span {
        font-size:22px;
        font-weight:bold;
    }

    #ticker_intro {
        width: 73%;
        margin-left: 8px;
        display: inline-block;
    }

    .price_details {
        display: inline-block;
        font-size: 15px;
        font-weight: bold;
        border-radius: 6px;
        padding-top: 6px;
        padding-bottom: 5px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .reddit_ticker_analysis h2 {
        margin-top: 30px;
        margin-bottom: 5px;
        text-align: center;
    }
}

.chart-container {
    position: relative;
    height:55vh;
    width:98%;
    max-width: 900px;
    max-height:250px;
    margin-left: auto;
    margin-right: auto;
}

#img_div {
    display: inline-block;
}

.positive_price {
    background-color: green;
    color: white;
}

.negative_price {
    background-color: red;
    color: white;
}

.ranking_description {
    text-align: center;
    font-size: smaller;
    font-style: italic;
}

select, option {
    border: 1px solid grey;
    border-radius: 3px;
    padding: 4px;
    margin-bottom: 1%;
}

input, button {
    border: 1px solid grey;
    border-radius: 3px;
    max-width: 85px;
    text-transform: uppercase;
    padding: 4px;
}