@media only screen and (max-width: 900px) {
    #short_vol_data {
        width: 90%;
        margin:auto;
    }

    .chart-container {
        position: relative;
        height:55vh;
        width:90%;
        max-height:250px;
        margin-left: auto;
        margin-right: auto;
    }

    #ticker_intro span {
        font-size:15px;
        font-weight:bold;
    }
}

@media only screen and (min-width: 900px) {
    #short_vol_data {
        width: 98%;
        margin:auto;
    }

    .chart-container {
        position: relative;
        height:55vh;
        width:98%;
        max-width: 900px;
        max-height:250px;
        margin-left: auto;
        margin-right: auto;
    }

    #ticker_intro span {
        font-size:22px;
        font-weight:bold;
    }
}

#ticker_intro {
    width: 70%;
    margin-left: 8px;
    display: inline-block;
}

#summary {
    margin-top: 10px;
    margin-bottom: 10px;
}

.table_header {
    text-align: center;
    margin-bottom: 0;
    margin-top: 20px;
}