@media only screen and (max-width: 900px) {
    .short_interest {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    td img {
        width: 20px;
    }
}

@media only screen and (min-width: 900px) {
    .short_interest {
        width: 98%;
        margin-left: auto;
        margin-right: auto;
    }

    td img {
        width: 30px;
    }
}

#more_info_div {
    display: flex;
    margin: auto;
    overflow: auto;
    justify-content: center;
}

.table_div {
    overflow-x: auto;
    overflow-y: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

td img {
    border-radius: 50%;
    margin-right: 6px;
    vertical-align: middle;
    background-color: white;
}

th:hover {
    cursor: pointer;
}


.th-sort-asc::after {
    content: "\25b4";
}

.th-sort-desc::after {
    content: "\25be";
}
