.chart-container {
    position: relative;
    height:55vh;
    width:98%;
    max-width: 900px;
    max-height:250px;
    margin-left: auto;
    margin-right: auto;
}

#summary {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    text-align: center;
    padding: 4px;
    background-color: #E9EAEA;
    border-radius: 10px;
    max-width: 520px;
    border: 2px solid gray;
}

.dark_mode #summary {
    background-color: #505050;
}

.date_selector button {
    border: 0px;
    border-bottom: 2px solid #858585;
    color: #858585;
    padding: 0 2px 0 2px;
    margin: 0 5px 0 5px
}

.selected {
    border-bottom: 2px solid rgb(38, 166, 154) !important;
    color: rgb(38, 166, 154) !important;
}

.dark_mode .date_selector button {
    background-color: transparent;
    color: wheat;
}

.dark_mode .selected {
    border-bottom: 2px solid wheat !important;
    color: wheat !important;
}

.highest_short_vol {
    color: rgb(38, 166, 154) !important;
    text-decoration: underline !important;
}