@media only screen and (max-width: 900px) {
    .short_interest {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (min-width: 900px) {
    .short_interest {
        width: 98%;
        margin-left: auto;
        margin-right: auto;
    }
}

.table_div {
    overflow-x: auto;
    overflow-y: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

th:hover {
    cursor: pointer;
}

.th-sort-asc::after {
    content: "\25b4";
}

.th-sort-desc::after {
    content: "\25be";
}
