@media only screen and (max-width: 900px) {
    .short_interest {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (min-width: 900px) {
    .short_interest {
        width: 98%;
        margin-left: auto;
        margin-right: auto;
    }
}

.table_div {
    overflow-x: auto;
    overflow-y: auto;
    margin-bottom: 15px;
}

.header {
    color: rgb(38, 166, 154);
    font-weight: bold;
    font-size: 15px;
}
