@media only screen and (max-width: 900px) {
    .chart {
        max-height: 350px;
    }

    .chart-container {
        position: relative;
        height:55vh;
        width:90vw;
        max-height:250px;
        margin-left: auto;
        margin-right: auto;
    }

    .subreddit_intro .lg {
        font-size: 14px;
        font-weight: 700;
        line-height: 17px;
        margin-top: 17px;
    }

    .subreddit_intro img {
        border-radius: 50%;
        width: 55px;
        height: 55px;
        border: 1.2px solid wheat;
        background-color: black;
    }

    .contents_div h2 {
        margin-top: 22px;
        margin-bottom: 5px;
        text-align:center;
    }
}

@media only screen and (min-width: 900px) {
    .chart {
        max-height: 400px;
    }

    .chart-container {
        position: relative;
        height:55vh;
        width: 99%;
        max-height:250px;
        margin-left: auto;
        margin-right: auto;
    }

    .subreddit_intro .lg {
        font-size: 26px;
        font-weight: 700;
        line-height: 32px;
        margin-top: 17px;
    }

    .subreddit_intro img {
        border-radius: 50%;
        width: 65px;
        height: 65px;
        border: 1.2px solid wheat;
        background-color: black;
    }

    .contents_div h2 {
        margin-top: 30px;
        margin-bottom: 5px;
        text-align:center;
    }

    .overview_btn {
        border: 1px solid grey;
        border-radius: 5px;
        padding: 7px;
        min-width: 40px;
    }
}

.active_users_div {
    text-align: center;
    font-size: smaller;
    font-style: italic;
}

.subreddit_intro {
    display: flex;
}

.subreddit_intro .main_div {
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.subreddit_diff {
    margin-top: 17px;
    margin-left: 15px;
    background-color: #f1c40f;
    border-radius: 8px;
    height: fit-content;
}

.subreddit_diff div {
    margin-left: 7px;
    margin-right: 7px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    color: black;
}

.explore {
    font-size: 10px;
    font-weight: bold;
    background-color: #f1c40f;
    padding: 2px;
    border-radius: 8px;
    margin-left: 7px;
}

.explore a {
    color: black;
}

.subreddit_intro .sm {
    color: #7c7c7c;
    display: flex;
}

.subreddit a {
    color: black;
    text-decoration: none;
}

.date_selector button {
    border: 0px;
    border-bottom: 2px solid #858585;
    color: #858585;
    padding: 0 2px 0 2px;
    margin: 0 5px 0 5px
}

.selected {
    border-bottom: 2px solid rgb(38, 166, 154) !important;
    color: rgb(38, 166, 154) !important;
}

.dark_mode .date_selector button {
    background-color: transparent;
    color: wheat;
}

.dark_mode .selected {
    border-bottom: 2px solid wheat !important;
    color: wheat !important;
}

.individual_subreddit_description {
    background-color: #eae9e9;
    border: 2px solid grey;
    border-radius: 10px;
    padding: 5px;
}

.individual_subreddit_description h2 {
    margin: 7px;
}

.dark_mode .individual_subreddit_description {
    background-color: #505050;
}