@media only screen and (max-width: 900px) {
    .subreddit_count {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .chart-container {
        position: relative;
        height:55vh;
        width:90vw;
        max-height:250px;
        margin-left: auto;
        margin-right: auto;
    }

    .subreddit_intro .lg {
        font-size: 14px;
        font-weight: 700;
        line-height: 17px;
        margin-top: 17px;
    }

    .subreddit_intro img {
        border-radius: 50%;
        width: 55px;
        height: 55px;
        border: 1.2px solid wheat;
        background-color: black;
    }

    h2 {
        margin-top: 22px;
        margin-bottom: 5px;
        text-align:center;
    }
}

@media only screen and (min-width: 900px) {
    .subreddit_count {
        width: 98%;
        margin-left: auto;
        margin-right: auto;
    }

    .chart-container {
        position: relative;
        height:55vh;
        width: 99%;
        max-height:250px;
        margin-left: auto;
        margin-right: auto;
    }

    .subreddit_intro .lg {
        font-size: 26px;
        font-weight: 700;
        line-height: 32px;
        margin-top: 17px;
    }

    .subreddit_intro img {
        border-radius: 50%;
        width: 65px;
        height: 65px;
        border: 1.2px solid wheat;
        background-color: black;
    }

    h2 {
        margin-top: 30px;
        margin-bottom: 5px;
        text-align:center;
    }
}

.active_users_div {
    text-align: center;
    font-size: smaller;
    font-style: italic;
}

.subreddit_intro {
    display: flex;
}

.subreddit_intro .main_div {
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.subreddit_diff {
    margin-top: 17px;
    margin-left: 15px;
    background-color: #f1c40f;
    border-radius: 8px;
    height: fit-content;
}

.subreddit_diff div {
    margin-left: 7px;
    margin-right: 7px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    color: black;
}

.explore {
    font-size: 10px;
    font-weight: bold;
    background-color: #f1c40f;
    padding: 2px;
    border-radius: 8px;
    margin-left: 7px;
}

.explore a {
    color: black;
}

.subreddit_intro .sm {
    color: #7c7c7c;
    display: flex;
}

.subreddit a {
    color: black;
    text-decoration: none;
}