.header {
    text-align: center;
    margin-bottom: 0;
}

.input_section {
    text-align: center;
}

.input_div {
    margin-top: 10px
}

#captcha {
    width: fit-content;
    margin: 5px auto;
}

input {
    border: 1px solid grey;
    border-radius: 4px;
    padding: 7px;
    margin: 5px 0;
    width: 287px;
    max-width: 95%
}

.submit_btn {
    border: 1px solid grey;
    border-radius: 4px;
    padding: 7px;
    margin: 5px 0;
    width: 304px;
    max-width: 100%
}

.frequency_div {
    display: flex;
    text-align: center;
    justify-content: center
}

.frequency {
    width: 126px;
    border-radius: 4px;
    border: 1px solid grey;
    padding: 7px;
    margin: 3px 9px;
}

.frequency:hover {
    cursor: pointer;
}

.selected {
    background-color: gray;
}

.dark_mode .selected {
    background-color: wheat;
    color: black;
}

.disabled {
    opacity: 0.6;
}

.disabled:hover {
    cursor: not-allowed;
}