
@media only screen and (max-width: 900px) {
    .top_section {
        width: 90%;
        margin:auto;
    }

    #ticker_table, .ticker_news {
        margin-left: auto;
        margin-right: auto;
        width: 90vw;
    }

    #ticker_chart {
        width: 90% !important;
        margin: auto !important;
        height: 600px;
        padding: 0 !important;
    }

    #latest_price {
        font-size: 24px;
        display: flex;
        margin-top: 1%;
        width: 90vw;
        margin-left: auto;
        margin-right: auto;
    }

    #latest_price div {
        font-size: 10px;
        width: 5vw;
        margin-left: 1%;
    }

    #ticker_intro span {
        font-size:15px;
        font-weight:bold;
    }

    #ticker_intro {
        width: 58%;
        margin-left: 8px;
        display: inline-block;
    }

    .price_details {
        display: inline-block;
        font-size: 10px;
        font-weight: bold;
        border-radius: 6px;
        padding-top: 4px;
        padding-bottom: 3px;
        padding-left: 5px;
        padding-right: 5px
    }
}

@media only screen and (min-width: 900px) {
    .top_section {
        width: 98%;
        margin:auto;
    }

    #ticker_table, .ticker_news {
        margin-left: auto;
        margin-right: auto;
        width: 98%;
    }

    #ticker_chart {
        width: 96% !important;
        margin: auto !important;
        height: 600px;
        padding: 0 !important;
    }

    #latest_price {
        font-size: 40px;
        display: flex;
        margin-top: 1%;
        width: 98%;
        margin-left: auto;
        margin-right: auto;
    }

    #latest_price div {
        font-size: 17px;
        width: 10px;
        margin-left: 1%;
    }

    #ticker_intro span {
        font-size:22px;
        font-weight:bold;
    }

    #ticker_intro {
        width: 73%;
        margin-left: 8px;
        display: inline-block;
    }

    .price_details {
        display: inline-block;
        font-size: 15px;
        font-weight: bold;
        border-radius: 6px;
        padding-top: 6px;
        padding-bottom: 5px;
        padding-left: 10px;
        padding-right: 10px;
    }
}

.change_day_btn:hover {
    background-color: #26a69a;
}

#error_msg {
    margin-top: 5%;
}

.read_more {
    text-decoration: none;
    color: grey;
}

.read_more:hover {
    color: #26a69a;
}

.change_day_btn {
    border: 1.5px solid gray;
    border-radius: 4px;
    padding-left: 0.55rem;
    padding-right: 0.55rem;
}

.header {
    margin-bottom: 5px;
    margin-top: 5px;
}

.ticker_summary {
    line-height: 1.5;
}

.dark_mode #ticker_table button:hover {
    background-color: transparent;
    color: #ffba39;
}

.show_more_btn {
    font-weight: bold;
    border: 0;
    padding: 0;
    margin-top: 11px;
    margin-bottom: 5px;
    background-color: transparent;
}

.dark_mode .show_more_btn {
    color: wheat;
    background-color: transparent;
}

.show_more_btn span {
    color: grey;
}

.show_more_btn:hover {
    background-color: transparent;
}

iframe {
    border: 0;
    width: 100%;
}

.positive_price {
    background-color: green;
    color: white;
}

.negative_price {
    background-color: red;
    color: white;
}

.dark_mode #ticker_chart {
    opacity: 0.8;
}