@media only screen and (max-width: 900px) {
    .top_section {
        width: 90%;
        margin:auto;
    }

    .chart-container {
        position: relative; 
        height:55vh;
        width:90%;
        max-height:250px;
        margin-left: auto;
        margin-right: auto;
    }

    #ticker_table, .ticker_news {
        margin-left: auto;
        margin-right: auto;
        width: 90vw;
    }

    #latest_price {
        font-size: 24px;
        display: flex;
        margin-top: 1%;
        width: 90vw;
        margin-left: auto;
        margin-right: auto;
    }
    
    #latest_price div {
        font-size: 10px; 
        width: 5vw; 
        margin-left: 1%;
    }

    #ticker_intro span {
        font-size:15px;
        font-weight:bold;
    }
}

@media only screen and (min-width: 900px) {
    .top_section {
        width: 98%;
        margin:auto;
    }

    .chart-container {
        position: relative; 
        height:55vh;
        width:98%;
        max-height:250px;
        margin-left: auto;
        margin-right: auto;
    }

    #ticker_table, .ticker_news {
        margin-left: auto;
        margin-right: auto;
        width: 98%;
    }

    #latest_price {
        font-size: 40px;
        display: flex;
        margin-top: 1%;
        width: 98%;
        margin-left: auto;
        margin-right: auto;
    }
    
    #latest_price div {
        font-size: 17px;
        width: 10px;
        margin-left: 1%;
    }

    #ticker_intro span {
        font-size:22px;
        font-weight:bold;
    }
}

#more_info_div {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.more_info_btn {
    border: 1.5px solid #9c9c9c;
    border-radius: 6px;
    padding: 5.5px;
    font-weight: bold;
    margin-left: 8px;
    margin-right: 8px;
}

.more_info_btn:hover, .change_day_btn:hover {
    background-color: #26a69a;
}

#error_msg {
    margin-top: 5%;
}

#ticker_intro {
    width: 70%;
    margin-left: 8px;
}

.read_more {
    text-decoration: none;
    color: grey;
}

.read_more:hover {
    color: #26a69a;
}

.change_day_btn {
    border: 1.5px solid gray;
    border-radius: 4px;
    padding-left: 0.55rem;
    padding-right: 0.55rem;
}

.header {
    margin-bottom: 5px;
    margin-top: 5px;
}

.ticker_summary {
    line-height: 1.5;
}

.dark_mode #ticker_table button:hover {
    background-color: transparent;
    color: #ffba39;
}

.show_more_btn {
    font-weight: bold;
    border: 0;
    padding: 0;
    margin-top: 11px;
    margin-bottom: 5px;
    background-color: transparent;
}

.dark_mode .show_more_btn {
    color: wheat;
    background-color: transparent;
}

.show_more_btn span {
    color: grey;
}

.show_more_btn:hover {
    background-color: transparent;
}

iframe {
    border: 0;
    width: 100%;
}