@media only screen and (max-width: 900px) {
    #gainers, #losers {
        margin-top: 50px;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    table {
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (min-width: 900px) {
    #gainers, #losers {
        width: 98%;
        margin-left: auto;
        margin-right: auto;
    }

    table {
        margin-left: auto;
        margin-right: auto;
    }
}

.table_div {
    overflow-x: auto;
    overflow-y: auto;
    margin-bottom: 15px;
}

#gainers .header {
    color: rgb(38, 166, 154);
}

.header {
    font-weight: bold;
    font-size: 15px;
}

#gainers th {
    background-color: rgb(38, 166, 154);
}

#losers .header {
    color: red;
}

#losers th {
    background-color: red;
}