{% extends "format.html" %}
{% load static %}
{% load filter %}

{% block title %}StocksEra | Contact{% endblock %}

{% block additional_script %}
<link rel="stylesheet" href="{% static 'style/about.css' %}">
{% endblock %}

{% block onload_properties%};restore_dark_mode(){% endblock %}

{% block main_nav %}
    <div class="ticker-wrap"></div>
{% endblock %}

{% block main_content %}
    <div class="top_section">
        <div class="instructions">
            <p>Welcome to StocksEra! Do contact us if you have any feedbacks or suggestions. We will get to you as soon as possible!</p>
        </div>
        <div class="about_div">
            <div id="about_title">About</div>
            <div class="about">
                Hello World! I'm a 19 year old self-taught programmer.
                This is my first time deploying such as large scale website.
                Please bear with me if there's bugs or errors, I'll try to fix it immediately.
                Some of you may asked: "Why am I doing this?"
                Well, I started investing and trading in January 2021 - peak of a bull market.
                GME, AMC and other "memes" stocks such as BB and NOK shot up exponentially and making money was a breeze.
                However, in recent months, the rise in inflation fears, resurgence of Covid-19 cases around the world resulted in somewhat a minor market correction for technology stocks and that's when I constantly see myself in the red.
                I started to realise that actual DD is needed and buying stocks based on Reddit and news sentiment might not be a good choice every time.
                As such, I made this website to learn more about trading and investment and I thought that it would be beneficial if I share this website.
                What do I get in return? Absolutely nothing! This website is free of charge, open-sourced and would constantly be maintained in the future.
            </div>
        </div>

        <div class="support_div">
            <div id="support_title">Support</div>
            <div>
                If you want like this project and would want to support it, you can <a href="https://www.paypal.me/stocksera" target="_blank">Paypal</a> me. Alternatively, you can give me a star ⭐ on <a href="https://github.com/spartan737/Stocksera" target="_blank">Github</a>.
            </div>
        </div>

        <div class="contact_div">
            <div id="contact_title">Contact</div>
            <div>
                Do feel free to drop me a message if you have any comments or suggestions to improve the website.
                Any advice would be appreciated.
                Feel free to email me at stocksera@gmail.com for collaborations too.
            </div>
            <div class="input_section">
                <form action="" method="POST" autocomplete="off" onsubmit="alert('Thank you for your suggestion! We will get back to you as soon as possible.');"> {% csrf_token %}
                    <input type="text" placeholder="Name:" name="name" style="margin-right:3%;" required>
                    <input type="email" placeholder="Email Address:" name="email" required>
                    <br>
                    <textarea placeholder="Suggestions or improvements to the website:" name="suggestions" required></textarea>
                    <div>
                        <button type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="acknowledgement_div">
            <div id="acknowledgement_title">Acknowledgement</div>
            <div>
                Thank you to the following individuals/organisations stated below.
                <br>
                <ol>
                    <li><a href="https://github.com/GamestonkTerminal/GamestonkTerminal">Gamestonk Terminal</a> for your wonderful " Bloomberg Terminal". Gained lots of inspiration from you!</li>
                    <li><a href="https://github.com/frefrik/ark-invest-api">ark-invest-api</a> for ARK Fund API</li>
                    <li><a href="https://finance.yahoo.com/">yahoo finance</a></li>
                    <li><a href="https://finviz.com/">finviz</a></li>
                    <li>And lastly, the <a href="https://stackoverflow.com/">stackoverflow</a> community!</li>
                </ol>
                Without your help, this would not be possible.
            </div>
        </div>
        <div class="github_div">
            <a href="https://github.com/spartan737/Stocksera" target="_blank"><img src="{% static 'images/github.svg' %}"></a>
        </div>
    </div>
{% endblock %}