{% extends "format.html" %}
{% load static %}
{% load filter %}

{% block title %}StocksEra | About{% endblock %}

{% block additional_script %}
<link rel="stylesheet" href="{% static 'style/about.css' %}">
{% endblock %}

{% block onload_properties%};restore_dark_mode(){% endblock %}

{% block main_nav %}
    <a href="/">Stocksera</a> /
    <a href="/about">About</a>
{% endblock %}

{% block main_content %}
    <script>highlight_selected_nav('about')</script>
    <div class="instructions">
        <h2>About</h2>
        <p>Welcome to StocksEra! Do contact us if you have any feedbacks or suggestions. We will get to you as soon as possible!</p>
    </div>
    <div class="contents_div">
        <div class="about_div">
            <div id="about_title">Myself</div>
            <div class="about">
                Hello World! I'm a self-taught programmer.
                This is my first time deploying such as large scale website.
                Please bear with me if there's bugs or errors, I'll try to fix it immediately.
                I made this website to learn more about trading and investment and I thought that it would be beneficial if I share this website.
                What do I get in return? Absolutely nothing! This website is free of charge, open-sourced and would constantly be maintained in the future.
            </div>
        </div>

        <div class="support_div">
            <div id="support_title">Support</div>
            <div>
                If you want like this project, you can support me via <a href="https://www.paypal.me/stocksera" target="_blank">Paypal</a> or <a href="https://www.patreon.com/stocksera" target="_blank">Patreon</a>.
                Your support would allow me to provide more expensive data and provide better services in the future.
                Alternatively, you can give me a star ⭐ on <a href="https://github.com/spartan737/Stocksera" target="_blank">Github</a>. A little action goes a long way :)
            </div>
        </div>

        <div class="contact_div">
            <div id="contact_title">Contact</div>
            <div>
                Do feel free to drop me a message if you have any comments or suggestions to improve the website.
                Any advice would be appreciated.
                Feel free to email me at stocksera@gmail.com for collaborations too.
            </div>
            <div class="input_section">
                <form action="" method="POST" autocomplete="off" onsubmit="alert('Thank you for your suggestion! We will get back to you as soon as possible.');"> {% csrf_token %}
                    <input type="text" placeholder="Name:" name="name" style="margin-right:3%;" required>
                    <input type="email" placeholder="Email Address:" name="email" required>
                    <br>
                    <textarea placeholder="Suggestions or improvements to the website:" name="suggestions" required></textarea>
                    <div>
                        <button type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="releases_div">
            <div id="releases_title">Updates & Releases</div>
            <div class="scrollable_div">
                <table>
                    <tr>
                        <th>Date</th>
                        <th>Major Updates</th>
                    </tr>
                    <tr>
                        <td>12 Sep 2021</td>
                        <td>
                            <li>Re-designed options chain data</li>
                            <li>Add SEC fillings, news sentiment, insider trading information</li>
                            <li>Bug fix for ETFs in Analysis section</li>
                            <li>Subreddit Statistics with price comparison</li>
                            <li>Add weightage of ARK holdings in ARK section</li>
                            <li>Short volume data available to all tickers</li>
                        </td>
                    </tr>
                    <tr>
                        <td>25 Aug 2021</td>
                        <td>
                            <li>Re-designed web UI format</li>
                            <li>Add Retail Sales & Inflation data</li>
                        </td>
                    </tr>
                    <tr>
                        <td>9 Aug 2021</td>
                        <td>
                            <li>Stocksera Top-10 Trending Tickers</li>
                            <li>AMD-XLNX Share Price Ratio</li>
                            <li>FTD & Financial Data now available to all tickers</li>
                            <li>Add Daily Treasury data</li>
                        </td>
                    </tr>
                    <tr>
                        <td>25 Jul 2021</td>
                        <td>
                            <li>Improve speed of website by caching data</li>
                            <li>Include trending tickers for r/pennystocks and r/investing</li>
                            <li>Add reverse-repo data</li>
                            <li>Youtube channel at <a href="https://www.youtube.com/channel/UC-5zHYhBj3TmeAWBTDgesaQ" target="_blank">https://www.youtube.com/channel/UC-5zHYhBj3TmeAWBTDgesaQ</a></li>
                        </td>
                    </tr>
                    <tr>
                        <td>1 Jul 2021</td>
                        <td>
                            Main updates:
                            <li>Add Trading View widget to ticker analysis</li>
                            <li>Replace Top Movers Section with Market Overview</li>
                            <li>Add 1 month chart for popular Reddit tickers</li>
                            and more...
                        </td>
                    </tr>
                    <tr>
                        <td>15 Jun 2021</td>
                        <td>First Release of Stocksera</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="github_div">
            <a href="https://github.com/spartan737/Stocksera" target="_blank"><img src="{% static 'images/github.svg' %}"></a>
        </div>
    </div>
{% endblock %}