{% extends "format.html" %}
{% load static %}

{% block title %}Stocksera | About{% endblock %}

{% block additional_script %}
<link rel="stylesheet" href="{% static 'style/about.css' %}">
{% endblock %}

{% block main_nav %}
    <a href="/">Stocksera</a> /
    <a href="/about">About</a>
{% endblock %}

{% block main_content %}
    <script>highlight_selected_nav('about')</script>
    <div class="instructions">
        <h2>About</h2>
        <p>Welcome to Stocksera! Do contact us if you have any feedbacks or suggestions. We will get to you as soon as possible!</p>
    </div>
    <div class="contents_div">
        <div class="about_div">
            <div id="about_title">About</div>
            <div class="about">
                Stocksera is an open-sourced application with more than 60 financial features.
                The source code is available <a href="https://github.com/guanquann/Stocksera" target="_blank">here</a>.
                Please bear with me if there's bugs or errors, I'll try to fix it immediately.
                This website is free of charge, open-sourced and would constantly be maintained in the future.
            </div>
        </div>

        <div class="support_div">
            <div id="support_title">Support</div>
            <div>
                If you want like this project, you can support me via <a href="https://www.paypal.me/stocksera" target="_blank">Paypal</a> or <a href="https://www.patreon.com/stocksera" target="_blank">Patreon</a>.
                Your support would allow me to provide more expensive data and provide better services in the future.
                Alternatively, you can give me a star ⭐ on <a href="https://github.com/guanquann/Stocksera" target="_blank">Github</a>. A little action goes a long way :)
            </div>
        </div>

        <div class="contact_div">
            <div id="contact_title">Contact</div>
            <div>
                Do feel free to drop me a message if you have any comments or suggestions to improve the website.
                Any advice would be appreciated.
                Feel free to email me at <a href="mailto:stocksera@gmail.com" class="email">stocksera@gmail.com</a> for collaborations too.
            </div>
        </div>
    </div>
{% endblock %}