{% extends "format.html" %}
{% load static %}
{% load filter %}

{% block title %}StocksEra | ARK Fund{% endblock %}

{% block additional_script %}
<link rel="stylesheet" href="{% static 'style/ark_trade.css' %}">
{% endblock %}

{% block onload_properties%}load_holdings(0);load_profile();restore_dark_mode();{% endblock %}

{% block main_nav %}
    <a href="/">Stocksera</a> /
    <a href="/market_overview">Discover</a> /
    <a href="/ark_trades">ARK Trades</a>
{% endblock %}

{% block main_content %}
    <script>highlight_selected_nav('discover')</script>
    <div class="instructions">
        <h2>ARK Statistics</h2>
        <p>These are the positions, trades, and weight of all companies in ARK Fund. Data is updated daily.</p>
        <div class="fund_type_parent">
            <div class="fund_type selected" onclick="update_fund(this)">ARKK</div>
            <div class="fund_type" onclick="update_fund(this)">ARKQ</div>
            <div class="fund_type" onclick="update_fund(this)">ARKF</div>
            <div class="fund_type" onclick="update_fund(this)">ARKG</div>
            <div class="fund_type" onclick="update_fund(this)">ARKW</div>
            <div class="fund_type" onclick="update_fund(this)">ARKX</div>
            <div class="fund_type" onclick="update_fund(this)">PRNT</div>
            <div class="fund_type" onclick="update_fund(this)">IZRL</div>
        </div>
    </div>

    <div class="instructions">
        <h2>Other Datasets Available</h2>
        <div class="more_info_div_parent">
            <div class="more_info_div"><a class="more_info_btn" href="{% url 'market_overview' %}">Market Overview</a></div>
            <div class="more_info_div"><a class="more_info_btn" href="{% url 'short_interest' %}">Short Interest</a></div>
            <div class="more_info_div"><a class="more_info_btn" href="{% url 'low_float' %}">Low Float</a></div>
            <div class="more_info_div"><a class="more_info_btn current_link" href="{% url 'ark_trades' %}">ARK Fund</a></div>
            <div class="more_info_div"><a class="more_info_btn" href="{% url 'amd_xlnx_ratio' %}">AMD-XLNX Ratio</a></div>
        </div>
    </div>

    <div class="contents_div">
        <div id="profile"></div>
        <div class="weightage_div"></div>

        <input id="fund_selected" value="ARKK">

        <div class="chart-container">
            <canvas id="weighting_chart"></canvas>
        </div>

        <div class="button_parent">
            <button class="btn_type selected" onclick="load_holdings(0)" type="button">Holdings</button>
            <button class="btn_type" onclick="load_trades(1)" type="button">Trades</button>
            <button class="btn_type" onclick="load_news(2)" type="button">News</button>
            <div class="search_bar">
                <input type="text" class="ticker_input" placeholder="Ticker:" autocomplete="off" onkeyup="searchFun()" id="ticker_name">
                <button class="submit_btn" type="button"><img src="{% static 'images/search_icon.svg' %}"></button>
            </div>
            <span style="float: right" class="click_table_info"><b>Click on table row more info.</b></span>
        </div>

        <div class="scrollable_div"></div>

        <div id="ticker_model" class="modal">
            <div class="modal-content">
                <div class="modal-header">
                    <span class="close">&times;</span>
                    <h4>ARK Holding</h4>
                </div>
                <div class="modal-body">
                    <div>
                        <div id="ticker_description" class="scrollable_div"></div>
                        <div id="ticker_trade" class="scrollable_div"></div>
                        <div id="fund_ownership" class="scrollable_div"></div>
                    </div>
                </div>
            </div>
        </div>

        <p>Data from: <a href="https://arkfunds.io/api/" target="_blank">arkfunds.io/api</a></p>
   </div>
{% endblock %}

{% block bottom_script %}
<script src="{% static 'javascript/ark_trade.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.bundle.min.js"></script>
{% endblock %}
