{% extends "format.html" %}
{% load static %}
{% load filter %}

{% block title %}StocksEra | ARK Fund{% endblock %}

{% block additional_script %}
<link rel="stylesheet" href="{% static 'style/ark_trade.css' %}">
{% endblock %}

{% block onload_properties%}load_holdings(0);load_profile();restore_dark_mode(){% endblock %}

{% block main_nav %}
    <div class="ticker-wrap">
        <div class="tradingview-widget-container">
            <div class="tradingview-widget-container__widget"></div>
        </div>
        <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" async>
            {
            "symbols": [
            {
              "proName": "FOREXCOM:SPXUSD",
              "title": "S&P 500"
            },
            {
              "proName": "FOREXCOM:NSXUSD",
              "title": "Nasdaq 100"
            },
            {
              "description": "Apple",
              "proName": "NASDAQ:AAPL"
            },
            {
              "description": "Tesla, Inc",
              "proName": "NASDAQ:TSLA"
            },
            {
              "description": "Nvidia",
              "proName": "NASDAQ:NVDA"
            },
            {
              "description": "Microsoft",
              "proName": "NASDAQ:MSFT"
            },
            {
              "description": "Alphabet",
              "proName": "NASDAQ:GOOGL"
            },
            {
              "description": "Amazon",
              "proName": "NASDAQ:AMZN"
            },
            {
              "description": "JP Morgan",
              "proName": "NYSE:JPM"
            },
            {
              "description": "Paypal",
              "proName": "NASDAQ:PYPL"
            },
            {
              "description": "GameStop",
              "proName": "NYSE:GME"
            },
            {
              "description": "AMC",
              "proName": "NYSE:AMC"
            },
            {
              "description": "Blackberry",
              "proName": "NYSE:BB"
            }
            ],
            "showSymbolLogo": true,
            "colorTheme": "light",
            "isTransparent": true,
            "displayMode": "regular",
            "locale": "en"
            }
            </script>
    </div>
{% endblock %}

{% block main_content %}
    <div class="instructions">
        <h2>ARK Statistics</h2>
        <p>These are the positions, trades, and weight of all companies in ARK Fund. Data is updated daily.</p>
    </div>

    <div class="top_section">
        <div id="more_info_div">
            <a class="more_info_btn" href="{% url 'market_overview' %}" onclick="clickAndDisable(this);">Market Overview</a>
            <a class="more_info_btn" href="{% url 'short_interest' %}" onclick="clickAndDisable(this);">Short Interest</a>
            <a class="more_info_btn" href="{% url 'low_float' %}" onclick="clickAndDisable(this);">Low Float</a>
            <a class="more_info_btn" href="{% url 'hedge_funds' %}" onclick="clickAndDisable(this);">Hedge Fund</a>
        </div>

        <div id="profile"></div>

        <input id="fund_selected" value="ARKK">
        <div class="fund_type_parent">
            <div class="fund_type selected" onclick="update_fund(this)">ARKK</div>
            <div class="fund_type" onclick="update_fund(this)">ARKQ</div>
            <div class="fund_type" onclick="update_fund(this)">ARKF</div>
            <div class="fund_type" onclick="update_fund(this)">ARKG</div>
            <div class="fund_type" onclick="update_fund(this)">ARKW</div>
            <div class="fund_type" onclick="update_fund(this)">ARKX</div>
            <div class="fund_type" onclick="update_fund(this)">PRNT</div>
            <div class="fund_type" onclick="update_fund(this)">IZRL</div>
        </div>

        <div class="button_parent">
            <button class="btn_type selected" onclick="load_holdings(0)" type="button">Holdings</button>
            <button class="btn_type" onclick="load_trades(1)" type="button">Trades</button>
            <button class="btn_type" onclick="load_news(2)" type="button">News</button>
            <input placeholder="Ticker:" onkeyup="searchFun()" id="ticker_name">
        </div>
        <div class="scrollable_div"></div>

        <div id="ticker_model" class="modal">
            <div class="modal-content">
                <div class="modal-header">
                    <span class="close">&times;</span>
                    <h4>ARK Holding</h4>
                </div>
                <div class="modal-body">
                    <div>
                        <div id="ticker_description" class="scrollable_div"></div>
                        <div id="ticker_trade" class="scrollable_div"></div>
                        <div id="fund_ownership" class="scrollable_div"></div>
                    </div>
                </div>
            </div>
        </div>

        <p>Data from: <a href="https://arkfunds.io/api/" target="_blank">arkfunds.io/api</a></p>
   </div>
{% endblock %}

{% block bottom_script %}
<script src="{% static 'javascript/ark_trade.js' %}"></script>
{% endblock %}
