{% extends "format.html" %}
{% load static %}
{% load filter %}

{% block title %}StocksEra | Covid Beta{% endblock %}

{% block additional_script %}
<link rel="stylesheet" href="{% static 'style/beta.css' %}">
<script src="{% static 'javascript/beta.js' %}"></script>
{% endblock %}

{% block onload_properties%}restore_dark_mode();load_beta_graph({{ beta|safe }}){% endblock %}

{% block main_nav %}
    <a href="/">Stocksera</a> /
    <a href="/beta">Stocks Beta [Covid]</a>
{% endblock %}

{% block main_content %}
    <script>highlight_selected_nav('beta')</script>
    <div class="instructions">
        <h2>Covid Beta</h2>
            <p>Coming Soon!</p>
<!--        <p>Beta is a measure of a stock's volatility in relation to the overall market.-->
<!--            The larger the magnitude of the beta value, the more volatile the stock is.-->
<!--            Beta values differs from websites to websites due to different timeframe used and the lack of updated data.-->
<!--            <br><br>-->
<!--            Stocksera allows you to calculate the true beta value of any stock real-time.-->
<!--        </p>-->
        <form action="" method="GET" autocomplete="off">
            <div class="search_bar">
                <input type="text" class="ticker_input" name="quote" value="{{ticker_selected}}" placeholder="Ticker:" autocomplete="off">
                <button class="submit_btn" type="button" onclick="this.form.submit();this.disabled=true;">
                    <span class="fa fa-search"></span>
                </button>
            </div>

            <select name="timeframe" onchange="this.form.submit()">
                <option>Timeframe: {{timeframe}}</option>
                <option value="3mo">3 Months</option>
                <option value="6mo">6 Months</option>
                <option value="1y">1 Year</option>
                <option value="5y">5 Year</option>
            </select>

            <select name="interval" onchange="this.form.submit()">
                <option>Interval: {{interval}}</option>
                <option value="1d">Daily</option>
                <option value="1mo">Monthly</option>
            </select>
        </form>
    </div>

    <div class="instructions">
        <h2>Other Datasets Available</h2>
        <div class="more_info_div_parent" id="more_info_div">
            <div class="more_info_div"><a class="more_info_btn" href="/beta">True Beta</a></div>
            <div class="more_info_div"><a class="more_info_btn current_link" href="/covid_beta">Covid Beta</a></div>
        </div>
    </div>

    <div class="contents_div">
        <div id="beta_chart"></div>
        <div style="display: none">
            {{ price_change|safe }}
        </div>
    </div>
{% endblock %}

{% block bottom_script %}
{% endblock %}
