{% extends "format.html" %}
{% load static %}
{% load filter %}

{% block title %}StocksEra | Beta{% endblock %}

{% block additional_script %}
<link rel="stylesheet" href="{% static 'style/beta.css' %}">
<script src="{% static 'javascript/beta.js' %}"></script>
{% endblock %}

{% block onload_properties%}restore_dark_mode();load_beta_graph({{ beta|safe }}){% endblock %}

{% block main_nav %}
    <a href="/">Stocksera</a> /
    <a href="/beta">Stocks Beta</a>
{% endblock %}

{% block main_content %}
    <script>highlight_selected_nav('beta')</script>
    <div class="instructions">
        <h2>Beta</h2>
        <p>Beta is a measure of a stock's volatility in relation to the overall market.
            The larger the magnitude of the beta value, the more volatile the stock is.
            Beta values differs from websites to websites due to different timeframe used and the lack of updated data.
            <br><br>
            Stocksera allows you to calculate the true beta value of any stock real-time.
        </p>
        <form action="" method="GET" autocomplete="off">
            <div class="search_bar">
                <input class="ticker_input" name="quote" value="{{ticker_selected}}" placeholder="Ticker 1:" autocomplete="off">
                <button class="submit_btn" type="submit"><img src="{% static 'images/search_icon.svg' %}"></button>
            </div>
            <div class="search_bar">
                <input class="ticker_input" name="quote2" value="{{ticker_selected2}}" placeholder="Ticker 2:" autocomplete="off">
                <button class="submit_btn" type="submit"><img src="{% static 'images/search_icon.svg' %}"></button>
            </div>
            <button class="submit_btn" style="border: 1px solid grey;border-radius:5px" type="button" onclick="swap_ticker_position();this.form.submit()">Swap</button>

            <select name="timeframe" onchange="this.form.submit()">
                <option>Timeframe: {{timeframe}}</option>
                <option value="3mo">3 Months</option>
                <option value="6mo">6 Months</option>
                <option value="1y">1 Year</option>
                <option value="5y">5 Year</option>
            </select>

            <select name="interval" onchange="this.form.submit()">
                <option>Interval: {{interval}}</option>
                <option value="1d">Daily</option>
                <option value="1mo">Monthly</option>
            </select>
        </form>
    </div>

    <div class="beta">
        <div id="beta_chart"></div>
        <div style="display: none">
            {{ price_change|safe }}
        </div>
    </div>
{% endblock %}

{% block bottom_script %}
<script src='https://cdn.plot.ly/plotly-2.3.1.min.js'></script>
{% endblock %}
