{% extends "format.html" %}
{% load static %}
{% load filter %}

{% block title %}StocksEra | Contact{% endblock %}

{% block additional_script %}
<link rel="stylesheet" href="{% static 'style/contact.css' %}">
{% endblock %}

{% block onload_properties%}update_table(){% endblock %}

{% block main_nav %}
    <div class="ticker-wrap">
        <div class="ticker">
            {% for name in popular_name_list|length|get_range %}
            <div class="ticker_item">
                <b>{{popular_name_list|index:name}} &#183 {{price_list|index:name|index:0}} <span> {{price_list|index:name|index:1}} ({{price_list|index:name|index:2}}%) </span></b>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block main_content %} 
    <div class="instructions">
        <p>Do contact us if you have any feedbacks or suggestions. We will get to you as soon as possible!</p>
    </div> 
    <div>
        <input type="text" placeholder="Name:" style="margin-right:3%;" required>
        <input type="email" placeholder="Email Address:" required>
        <br>
        <textarea placeholder="Suggestions or improvements to the website:" ></textarea>
    </div>
    <div>
        <button type="submit">Submit</button>
    </div>
    <br>
    <div style="margin-left:47%;margin-top:11%">
        <a href="https://github.com/spartan737/Stocks-Analysis-on-Reddit-News" target="_blank"><img src="{% static 'images/github.svg' %}" style="width:6%;"></a>
    </div>
{% endblock %}