<!DOCTYPE html>
{% load static %}
{% load filter %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact</title>
    <link rel="stylesheet" href="{% static 'style/contact.css' %}">
</head>
<body style="margin-left:3%;height:62vh;margin-top:60px;font-family:arial">
    <div id="instructions">
        Do contact us if you have any feedbacks or suggestions. We will get to you as soon as possible!
    </div> 
    <div>
        <input type="text" placeholder="Name:" style="margin-right:3%;" required>
        <input type="email" placeholder="Email Address:" required>
        <br>
        <textarea placeholder="Suggestions or improvements to the website:" ></textarea>
    </div>
    <div>
        <button type="submit">Submit</button>
    </div>
    <br>
    <div style="margin-left:47%;margin-top:11%">
        <a href="https://github.com/spartan737/Stocks-Analysis-on-Reddit-News" target="_blank"><img src="{% static 'images/github.svg' %}" style="width:6%;"></a>
    </div>
</body>
</html>