{% extends "format.html" %}
{% load static %}
{% load filter %}

{% block title %}StocksEra | Reddit Sentiment{% endblock %}

{% block additional_script %}
<link rel="stylesheet" href="{% static 'style/reddit_sentiment.css' %}">
{% endblock %}

{% block onload_properties%}restore_dark_mode();load_graph();check_table();{% endblock %}

{% block main_nav %}
    <a href="/">Stocksera</a> /
    <a href="/reddit_analysis/?subreddit=CryptoCurrency">Reddit Sentiment [CryptoCurrency]</a>
{% endblock %}

{% block main_content %}
    <script>highlight_selected_nav('reddit')</script>
    <div class="instructions">
        <h2>Reddit Crypto Trending Posts</h2>
        <p>This page shows the top 35 trending tickers in Reddit in the last 48H <b>based on posts</b>. Number of posts (including deleted), comments and sentiment are taken into account. Data is refreshed daily.</p>
        <div class="subscribe_email_div"><a class="subscribe_email" href="/subscribe" target="_blank">Subscribe to Free WSB Notifications</a></div>
        <form action="" method="GET" autocomplete="off">
            <div class="select_div">
                <select name="subreddit" onchange="this.form.submit()">
                    <option>Selected: Cryptocurrency</option>
                </select>
                <select name="date_selected" onchange="this.form.submit()">
                    <option>Date: {{date_selected}}</option>
                    {% for date in all_dates %}
                        <option value="{{date}}">{{date}}</option>
                    {% endfor %}
                </select>
            </div>
        </form>
    </div>

    <div class="instructions">
        <h2>Other Datasets Available</h2>
        <div class="more_info_div_parent">
            <div class="more_info_div"><a class="more_info_btn" href="/wsb_live">WSB Live</a></div>
            <div class="more_info_div"><a class="more_info_btn" href="/reddit_analysis">Trending Stocks</a></div>
            <div class="more_info_div"><a class="more_info_btn current_link" href="/reddit_analysis/?subreddit=cryptocurrency">Trending Crypto</a></div>
            <div class="more_info_div"><a class="more_info_btn" href="{% url 'reddit_etf' %}">WSB ETF</a></div>
            <div class="more_info_div"><a class="more_info_btn" href="{% url 'subreddit_count' %}">Subreddit Stats</a></div>
        </div>
    </div>

    <div class="contents_div">
        <div class="subreddit_intro">
            <div><img src="/static/images/subreddit_icon/crypto_currency.png"></div>
            <div class="main_div">
                <div>
                    <div class="lg">CryptoCurrency</div>
                    <div class="sm">r/CryptoCurrency</div>
                </div>
            </div>
        </div>

        <div class="chart-container">
            <canvas id="subreddit_chart"></canvas>
        </div>

        <div id="filter_section">
            <div class="toggle_settings" onclick="toggle_settings(this)">Collapse Toolkit</div>
            <div class="filter_description">
                To remove a column from the table, select the buttons below. To add back that column, select the same button again. Click reset to restore default.
                <div>Last Updated: {{trending_tickers.0.18}} UTC</div>
            </div>
            <div id="2-filter" class="filter_contents" onclick="filter_table(this)">48H Score &#x2716;</div>
            <div id="3-filter" class="filter_contents" onclick="filter_table(this)">24H Score &#x2716;</div>
            <div id="4-filter" class="filter_contents" onclick="filter_table(this)">24H to 48H Score &#x2716;</div>
            <div id="5-filter" class="filter_contents" onclick="filter_table(this)">% Score Change &#x2716;</div>
            <div id="6-filter" class="filter_contents" onclick="filter_table(this)">1mo Chart &#x2716;</div>
            <div id="7-filter" class="filter_contents" onclick="filter_table(this)">Posts &#x2716;</div>
            <div id="8-filter" class="filter_contents" onclick="filter_table(this)">Upvotes &#x2716;</div>
            <div id="9-filter" class="filter_contents" onclick="filter_table(this)">Comments &#x2716;</div>
            <div id="10-filter" class="filter_contents" onclick="filter_table(this)">Price &#x2716;</div>
            <div id="11-filter" class="filter_contents" onclick="filter_table(this)">Volume &#x2716;</div>
            <div id="12-filter" class="filter_contents" onclick="filter_table(this)">Market Cap &#x2716;</div>
            <div id="13-filter" class="filter_contents" onclick="filter_table(this)">1D % Price Change &#x2716;</div>
            <div id="14-filter" class="filter_contents" onclick="filter_table(this)">30D % Price Change &#x2716;</div>
            <div id="15-filter" class="filter_contents" onclick="filter_table(this)">Circulating Supply &#x2716;</div>
            <div id="16-filter" class="filter_contents" onclick="filter_table(this)">Total Supply &#x2716;</div>
            <div class="filter_contents" style="padding:5px" onclick="reset_table();searchTicker()">Reset</div>
            <input type="text" placeholder="Symbol:" autocomplete="off" class="filter_ticker" id="search_ticker" onkeyup="searchTicker()">
        </div>

        <div class="click_table_info"><b>Click on ticker symbol for more info.</b></div>

        <div id="reddit_table_section">
            <div style="overflow-x:scroll;">
                <table id="reddit_table">
                    <thead>
                        <tr>
                            <th onclick="sortTable(0)" class="th-sort-desc" id='0'>Rank</th>
                            <th onclick="sortTable(1)" class="th-sort-desc" id='1'>Symbol</th>
                            <th onclick="sortTable(2)" class="th-sort-desc" id='2'>48H Score</th>
                            <th onclick="sortTable(3)" class="th-sort-desc" id='3'>24H Score</th>
                            <th onclick="sortTable(4)" class="th-sort-desc" id='4'>24H to 48H Score</th>
                            <th onclick="sortTable(5)" class="th-sort-desc" id='5'>% Score Change</th>
                            <th id='6'>1mo Chart</th>
                            <th onclick="sortTable(7)" class="th-sort-desc" id='7'>Posts</th>
                            <th onclick="sortTable(8)" class="th-sort-desc" id='8'>Upvotes</th>
                            <th onclick="sortTable(9)" class="th-sort-desc" id='9'>Comments</th>
                            <th onclick="sortTable(10)" class="th-sort-desc" id='10'>Price</th>
                            <th onclick="sortTable(11)" class="th-sort-desc" id='11'>Volume</th>
                            <th onclick="sortTable(12)" class="th-sort-desc" id='12'>Mkt Cap</th>
                            <th onclick="sortTable(13)" class="th-sort-desc" id='13'>1D % Price Change</th>
                            <th onclick="sortTable(14)" class="th-sort-desc" id='14'>30D % Price Change</th>
                            <th onclick="sortTable(15)" class="th-sort-desc" id='15'>Circulating Supply</th>
                            <th onclick="sortTable(15)" class="th-sort-desc" id='16'>Total Supply</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for ticker in trending_tickers %}
                        <tr>
                            <td>{{ticker.1}}</td>
                            <td><a href="{% url 'reddit_ticker_analysis' %}?quote={{ticker.2}}&subreddit=cryptocurrency" target="_blank"><img class="table_ticker_logo" src="https://s3-symbol-logo.tradingview.com/crypto/XTVC{{ticker.2}}.svg" onerror="this.error=null;load_table_error_img(this, '{{ticker.2}}')"><u><b>{{ticker.2}}</b></u></a></td>
                            <td>{{ticker.3}}</td>
                            <td>{{ticker.4}}</td>
                            <td>{{ticker.5}}</td>
                            <td>{{ticker.6}}</td>
                            <td class="price_chart_cell">
                                <img class="price_chart" src="/static/graph_chart/crypto/{{ticker.2}}.svg" onerror="this.src='/static/graph_chart/EMPTY_IMG.svg'">
                            </td>
                            <td>{{ticker.8}}</td>
                            <td>{{ticker.9}}</td>
                            <td>{{ticker.10}}</td>
                            <td>{{ticker.11}}</td>
                            <td>{{ticker.14}}</td>
                            <td>{{ticker.15}}</td>
                            <td>{{ticker.12}}</td>
                            <td>{{ticker.13}}</td>
                            <td>{{ticker.16}}</td>
                            <td>{{ticker.17}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block bottom_script %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.bundle.min.js"></script>
<script src="{% static 'javascript/reddit_sentiment_crypto.js' %}"></script>
{% endblock %}
