{% extends "format.html" %}
{% load static %}
{% load filter %}

{% block title %}StocksEra | Daily Treasury{% endblock %}

{% block additional_script %}
<link rel="stylesheet" href="{% static 'style/daily_treasury.css' %}">
<script src="{% static 'javascript/daily_treasury.js' %}"></script>
{% endblock %}

{% block onload_properties%}restore_dark_mode();daily_treasury('{{selected}}'){% endblock %}

{% block main_nav %}
    <div class="ticker-wrap">
        <div class="tradingview-widget-container">
            <div class="tradingview-widget-container__widget"></div>
            <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" async>
            {
            "symbols": [
            {
              "proName": "FOREXCOM:SPXUSD",
              "title": "S&P 500"
            },
            {
              "proName": "FOREXCOM:NSXUSD",
              "title": "Nasdaq 100"
            },
            {
              "description": "Apple",
              "proName": "NASDAQ:AAPL"
            },
            {
              "description": "Tesla, Inc",
              "proName": "NASDAQ:TSLA"
            },
            {
              "description": "Nvidia",
              "proName": "NASDAQ:NVDA"
            },
            {
              "description": "Microsoft",
              "proName": "NASDAQ:MSFT"
            },
            {
              "description": "GameStop",
              "proName": "NYSE:GME"
            },
            {
              "description": "AMC",
              "proName": "NYSE:AMC"
            },
            {
              "description": "Blackberry",
              "proName": "NYSE:BB"
            }
            ],
            "showSymbolLogo": true,
            "colorTheme": "light",
            "isTransparent": true,
            "displayMode": "regular",
            "locale": "en"
            }
            </script>
        </div>
    </div>
{% endblock %}

{% block main_content %}
    <div class="instructions">
        <h2>Daily Treasury</h2>
        <p>
            The Daily Treasury Statement summarizes the US Treasury’s cash and debt operations for the Federal
            Government on a modified cash basis. Deposits are reported as received and withdrawals are reported as processed.
        </p>
    </div>

    <div class="daily_treasury">
        <div id="more_info_div">
            <a class="more_info_btn" href="{% url 'reverse_repo' %}" onclick="clickAndDisable(this);">Reverse Repo</a>
            <a class="more_info_btn" href="{% url 'daily_treasury' %}" onclick="clickAndDisable(this);">Daily Treasury</a>
            <a class="more_info_btn" href="{% url 'inflation' %}" onclick="clickAndDisable(this);">Inflation</a>
        </div>

        <form action="" method="GET" autocomplete="off">
            <div class="date_selector">
                <button name="date_range" value="1 Month" id="1 Month">1 Month</button>
                <button name="date_range" value="6 Months" id="6 Months">6 Months</button>
                <button name="date_range" value="1 Year" id="1 Year">1 Year</button>
                <button name="date_range" value="Max" id="Max">Max</button>
            </div>
        </form>

        <div class="chart-container">
            <canvas id="daily_treasury_chart"></canvas>
        </div>

        <div class="scrollable_div" style="max-height: 800px">
            <table id="daily_treasury_table">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Close Balance</th>
                        <th>Open Balance</th>
                        <th>Amount Change</th>
                        <th>Percent Change</th>
                    </tr>
                </thead>
                <tbody>
                    {% for daily_treasury in daily_treasury_stats %}
                        <tr>
                            <td>{{daily_treasury.0}}</td>
                            <td>{{daily_treasury.1}}</td>
                            <td>{{daily_treasury.2}}</td>
                            <td>{{daily_treasury.3}}</td>
                            <td>{{daily_treasury.4}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block bottom_script %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
{% endblock %}