{% extends "format.html" %}
{% load static %}
{% load filter %}

{% block title %}StocksEra | Daily Treasury{% endblock %}

{% block additional_script %}
<link rel="stylesheet" href="{% static 'style/economy.css' %}">
<script src="{% static 'javascript/daily_treasury.js' %}"></script>
{% endblock %}

{% block onload_properties%}restore_dark_mode();display_table();treasury(100);get_economic_releases({{next_date}}){% endblock %}

{% block main_nav %}
    <a href="/">Stocksera</a> /
    <a href="/market_overview">Discover</a> /
    <a href="/reverse_repo">Economy</a> /
    <a href="/daily_treasury">Treasury</a>
{% endblock %}

{% block main_content %}
    <script>highlight_selected_nav('economy')</script>
    <div class="instructions">
        <h2>Daily Treasury</h2>
        <p>
            The Daily Treasury Statement summarizes the US Treasury’s cash and debt operations for the Federal
            Government on a modified cash basis. Deposits are reported as received and withdrawals are reported as processed.
        </p>
        <div id="consecutive_text"></div>
    </div>

    <div class="instructions">
        <h2>Other Datasets Available</h2>
        <div class="more_info_div_parent">
            <div class="more_info_div"><a class="more_info_btn" href="{% url 'reverse_repo' %}" onclick="clickAndDisable(this);">Reverse Repo</a></div>
            <div class="more_info_div"><a class="more_info_btn current_link" href="{% url 'daily_treasury' %}" onclick="clickAndDisable(this);">Treasury</a></div>
            <div class="more_info_div"><a class="more_info_btn" href="{% url 'inflation' %}" onclick="clickAndDisable(this);">Inflation</a></div>
            <div class="more_info_div"><a class="more_info_btn" href="{% url 'retail_sales' %}" onclick="clickAndDisable(this);">Retail Sales</a></div>
        </div>
    </div>

    <div class="instructions" id="releases_div">
        <h2>Next Release Date</h2>
    </div>

    <div class="contents_div">
        <div class="date_selector">
            <button name="date_range" onclick="btn_selected(this); treasury(1)">1 Month</button>
            <button name="date_range" onclick="btn_selected(this); treasury(6)">6 Months</button>
            <button name="date_range" onclick="btn_selected(this); treasury(12)">1 Year</button>
            <button name="date_range" onclick="btn_selected(this); treasury(100)" class="selected">Max</button>
        </div>

        <div class="chart-container">
            <canvas id="daily_treasury_chart"></canvas>
        </div>

        <div class="scrollable_div">
            {{daily_treasury_stats|safe}}
        </div>
    </div>
{% endblock %}

{% block bottom_script %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
{% endblock %}