{% extends "format.html" %}
{% load static %}
{% load filter %}
 
{% block title %}StocksEra | Financials{% endblock %}

{% block additional_script %}
<link rel="stylesheet" href="{% static 'style/financial.css' %}">
<script src="{% static 'javascript/financial.js' %}"></script>
{% endblock %}

{% block onload_properties%}display_data();restore_dark_mode(){% endblock %}

{% block main_nav %}
<div class="top_nav">
    <form action="" method="GET" autocomplete="off">
        <div>
            <input class="ticker_input" name="quote" id="quote" value="{{ticker_selected}}" placeholder="Search Ticker:" autocomplete="off">
            <button class="submit_btn" type="button" onclick="this.form.submit();this.disabled=true;">Search</button>
        </div>
    </form>
</div>
{% endblock %}

{% block main_content %}
    <div class="instructions">
        <h2>Financials</h2>
        <p>This page is still in beta. Currently, only the Balance Sheet of the company is available. Income Statement and Cash Flow will be added in the next update.</p>
    </div>

    <div id="error_msg" style="display:none;" class="instructions {{error}}">
            <p>There is no ticker named {{ticker_selected}} found! Please enter a ticker symbol (TSLA) instead of the name (Tesla).</p>
    </div>

    <div class="top_section">
        <div id="ticker_basic_stats"></div>

        <div id="more_info_div">
            <a class="more_info_btn" href="{% url 'ticker' %}?quote={{ticker_selected}}" onclick="clickAndDisable(this)">Analysis</a>
            <a class="more_info_btn" href="{% url 'options' %}?quote={{ticker_selected}}" onclick="clickAndDisable(this)">Options</a>
            <a class="more_info_btn" href="{% url 'short_volume' %}?quote={{ticker_selected}}" onclick="clickAndDisable(this)">Short Vol</a>
            <a class="more_info_btn" href="{% url 'failure_to_deliver' %}?quote={{ticker_selected}}" onclick="clickAndDisable(this)">FTD</a>
        </div>

        <div><i>Note: All numbers are in thousands</i></div>

        <div>
            <h2>Current Assets<button type="button" onclick="show_graph(this)" class="selected_btn">Graph</button><button type="button" onclick="show_table(this)">Table</button></h2>
            <div class="chart-container">
                <canvas id="current_assets"></canvas>
            </div>
            <div id="current_assets_table" class="table_div scrollable_div" style="display: none;"></div>
        </div>

        <div>
            <h2>Non Current Assets<button type="button" onclick="show_graph(this)" class="selected_btn">Graph</button><button type="button" onclick="show_table(this)">Table</button></h2>
            <div class="chart-container">
                <canvas id="non_current_assets"></canvas>
            </div>
            <div id="non_current_assets_table" class="table_div scrollable_div" style="display: none;"></div>
        </div>

        <div>
            <h2>Liabilities<button type="button" onclick="show_graph(this)" class="selected_btn">Graph</button><button type="button" onclick="show_table(this)">Table</button></h2>
            <div class="chart-container">
                <canvas id="liabilities"></canvas>
            </div>
            <div id="liabilities_table" class="table_div scrollable_div" style="display: none;"></div>
        </div>

        <div>
            <h2>Stockholders' Equity<button type="button" onclick="show_graph(this)" class="selected_btn">Graph</button><button type="button" onclick="show_table(this)">Table</button></h2>
            <div class="chart-container">
                <canvas id="stockholders_equity"></canvas>
            </div>
            <div id="stockholders_equity_table" class="table_div scrollable_div" style="display: none;"></div>
        </div>

        <h2>Earnings</h2>
        <div class="earnings-container">
            <canvas id="earning_chart"></canvas>
            <div id="eps_surprise"></div>
        </div>
        <p>Data from: <a href="https://finance.yahoo.com/" target="_blank">finance.yahoo.com</a></p>
    </div>

{% endblock %}

{% block bottom_script %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.bundle.min.js"></script>
<script type="text/javascript">
<!--Hack to convert python variables to javascript-->
var None = "N/A", False = false; True = true;
var information = {{information|safe}};

<!--Code to show price change-->
var latest_price = information["regularMarketPrice"];
var mkt_close = information["previousClose"];
<!--Code to show price change-->
var price_change = Math.round((latest_price - mkt_close) * 100) / 100
var price_percentage_change = Math.round(((latest_price - mkt_close) / mkt_close) * 10000) / 100
if (price_change > 0) {
    price_change = "+" + String(price_change)
    price_percentage_change = "+" + String(price_percentage_change) + "%"
}
else {
    price_percentage_change = String(price_percentage_change) + "%"
}

<!--Function to check that dictionary has a key-->
function check_stats(property) {
    if (information.hasOwnProperty(property) == true) {
        property_name = information[property]
    }
    else {
        property_name = "N/A"
    }
    return property_name
}

<!--If ticker does not have a website, bring users to Yahoo Finance-->
if (information.hasOwnProperty("website") == true) {
    var website = information["website"]
}
else {
    var website = `https://finance.yahoo.com/quote/${information["symbol"]}`
}

<!--If ticker does not have an image, show a default image-->
var img = `https://g.foolcdn.com/art/companylogos/mark/${information["symbol"]}.png`
if (img != "") {
    var img_code = `<img src="${img}" onerror=this.src="{% static 'images/not_available.svg' %}">`
}
else {
    var img_code = `<a href={{website}} target="_blank"><img src="{% static 'images/not_available.svg' %}">`
}

<!--Code to display image, full name, symbol, industry and sector-->
var official_name = check_stats("longName")
var sector = check_stats("sector")
var industry = check_stats("industry")

if (price_percentage_change.includes("-")) {
    var price_code = `<div class="price_details negative_price">$${latest_price}<br>${price_change} (${price_percentage_change})</div>`
}
else {
    var price_code = `<div class="price_details positive_price">$${latest_price}<br>${price_change} (${price_percentage_change})</div>`
}

var ticker_basic_stats_code = `
    <div id="img_div">${img_code}</div>
    <div id="ticker_intro">
        <span>${official_name} (${information["symbol"]})</span>
        <br>Sector: <b>${sector}</b><br>Industry: <b>${industry}</b>
    </div>
    ${price_code}`
document.getElementById("ticker_basic_stats").innerHTML = ticker_basic_stats_code;


var date_list = {{date_list|safe}};
var balance_list = {{balance_list|safe}};
var balance_col_list = {{balance_col_list|safe}};

var totalLiab=[], cash=[], shortTermInvestments=[], totalcash=[], netReceivables=[], inventory=[], otherCurrentAssets=[], totalCurrentAssets=[], propertyPlantEquipment=[], longTermInvestments=[], otherAssets=[], totalNonCurrentAssets=[], otherCurrentLiab=[], totalCurrentLiab=[], shortTermDebt=[], longTermDebt=[], commonStock=[], retainedEarnings=[], treasury=[], totalStockholderEquity=[], accountsPayable=[];

function simplify_num(row) {
    var new_list=[];
    for (k=0; k<row.length; k++) {
        new_list.push(row[k]/1000)

    }
    return new_list
}

for (i=balance_col_list.length-1; i>=0; i--) {
    if (balance_col_list[i] == "Total Assets") {
        current_assets = simplify_num(balance_list[i])
    }
    else if (balance_col_list[i] == "Cash") {
        cash = simplify_num(balance_list[i])
    }
    else if (balance_col_list[i] == "Short Term Investments") {
        shortTermInvestments = simplify_num(balance_list[i])
    }
    else if (balance_col_list[i] == "Net Receivables") {
        netReceivables = simplify_num(balance_list[i])
    }
    else if (balance_col_list[i] == "Inventory") {
        inventory = simplify_num(balance_list[i])
    }
    else if (balance_col_list[i] == "Other Current Assets") {
        otherCurrentAssets = simplify_num(balance_list[i])
    }
    else if (balance_col_list[i] == "Total Current Assets") {
        totalCurrentAssets = simplify_num(balance_list[i])
    }



    else if (balance_col_list[i] == "Property Plant Equipment") {
        propertyPlantEquipment = simplify_num(balance_list[i])
    }
    else if (balance_col_list[i] == "Long Term Investments") {
        longTermInvestments = simplify_num(balance_list[i])
    }
    else if (balance_col_list[i] == "Other Assets") {
        otherAssets = simplify_num(balance_list[i])
    }
    else if (balance_col_list[i] == "Property Plant Equipment") {
        propertyPlantEquipment = simplify_num(balance_list[i])
    }



    else if (balance_col_list[i] == "Accounts Payable") {
        accountsPayable = simplify_num(balance_list[i])
    }
    else if (balance_col_list[i] == "Short Long Term Debt") {
        shortTermDebt = simplify_num(balance_list[i])
    }
    else if (balance_col_list[i] == "Long Term Debt") {
        longTermDebt = simplify_num(balance_list[i])
    }
    else if (balance_col_list[i] == "Other Current Liab") {
        otherCurrentLiab = simplify_num(balance_list[i])
    }
    else if (balance_col_list[i] == "Total Current Liabilities") {
        totalCurrentLiab = simplify_num(balance_list[i])
    }
    else if (balance_col_list[i] == "Total Liab") {
        totalLiab = simplify_num(balance_list[i])
    }



    else if (balance_col_list[i] == "Common Stock") {
        commonStock = simplify_num(balance_list[i])
    }
    else if (balance_col_list[i] == "Retained Earnings") {
        retainedEarnings = simplify_num(balance_list[i])
    }
    else if (balance_col_list[i] == "Treasury Stock") {
        treasury = simplify_num(balance_list[i])
    }
    else if (balance_col_list[i] == "Total Stockholder Equity") {
        totalStockholderEquity = simplify_num(balance_list[i])
    }
}

for (i=0; i<cash.length; i++) {
    totalcash.push(cash[i] + shortTermInvestments[i])
    totalNonCurrentAssets.push(longTermInvestments[i] + otherAssets[i])
}    

var options_dict = {
        responsive:true,
        maintainAspectRatio: false,
        layout: {
            padding: 5
        },
        scales: {
            xAxes: [{
                categoryPercentage: 0.7,
                barPercentage: 1.0,
                ticks: {
                    beginAtZero: false
                }, 
                gridLines: {
                    drawOnChartArea: false
                }   
            }],
            yAxes: [{
                ticks: {
                    beginAtZero: false,
                    minTicksLimit: 8,
                    maxTicksLimit: 12,
                }, 
            }],
        },

        tooltips: {
            mode: 'index',
            intersect: false,
            callbacks: {
                title: tooltipItem => date_list[tooltipItem[0].index],
                label: function(tooltipItem, data) {
                    var value = data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index];
                    var label = data.datasets[tooltipItem.datasetIndex].label;
                    return label + ': ' + value + 'K USD';
                }
            },
        },
   }

var current_assets = document.getElementById('current_assets');
var current_assets = new Chart(current_assets, {
    type: 'bar',
    data: {
        labels: date_list,
        datasets: [
        {
            label: 'Cash & Cash Equivalent',
            data: cash,
            backgroundColor: 'rgba(255, 159, 64, 0.5)',
            borderColor: 'rgb(255, 159, 64)',
            borderWidth: '2',
            barThickness: 'flex',
        },
        {
            label: 'Other Short-Term Investments',
            data: shortTermInvestments,
            backgroundColor: 'rgba(255, 99, 132, 0.5)',
            borderColor: 'rgb(255, 99, 132)',
            borderWidth: '2',
            barThickness: 'flex',
        },    
        {
            label: 'Net Receivables',
            data: netReceivables,
            backgroundColor: 'rgba(75, 192, 192, 0.5)',
            borderColor: 'rgb(75, 192, 192)',
            borderWidth: '2',
            barThickness: 'flex',
        }, 
        {
            label: "Inventory",
            data: inventory,
            backgroundColor: 'rgba(54, 162, 235, 0.5)',
            borderColor: 'rgb(54, 162, 235)',
            borderWidth: '2',
            barThickness: 'flex',
        },        
        {
            label: "Other Current Assets",
            data: otherCurrentAssets,
            backgroundColor: 'rgba(161, 253, 55, 0.5)',
            borderColor: 'rgb(161, 253, 55)',
            borderWidth: '2',
            barThickness: 'flex',
        },   
        {
            label: "Total Cash",
            data: totalcash,
            backgroundColor: 'rgba(136, 82, 55, 0.5)',
            borderColor: 'rgb(136, 82, 55)',
            borderWidth: '2',
            barThickness: 'flex',
        }, 
        {
            label: "Total Current Assets",
            data: totalCurrentAssets,
            backgroundColor: 'rgba(0, 39, 255, 0.5)',
            borderColor: 'rgb(0, 39, 255)',
            borderWidth: '2',
            barThickness: 'flex',
        }
        ],
    },

    options: options_dict,
});

var current_assets_table = document.getElementById("current_assets_table");
var current_assets_table_html =  `
    <table>
        <tr>
            <th></th>
            <th>${date_list[0]}</th>
            <th>${date_list[1]}</th>
            <th>${date_list[2]}</th>
            <th>${date_list[3]}</th>
        </tr>
        <tr>
            <th>Cash & Cash Equivalent</th>
            <td>${Number(cash[0]).toLocaleString()}</td>
            <td>${Number(cash[1]).toLocaleString()}</td>
            <td>${Number(cash[2]).toLocaleString()}</td>
            <td>${Number(cash[3]).toLocaleString()}</td>
        </tr>
        <tr>
            <th>Other Short-Term Investments</th>
            <td>${Number(shortTermInvestments[0]).toLocaleString()}</td>
            <td>${Number(shortTermInvestments[1]).toLocaleString()}</td>
            <td>${Number(shortTermInvestments[2]).toLocaleString()}</td>
            <td>${Number(shortTermInvestments[3]).toLocaleString()}</td>
        </tr>
        <tr>
            <th>Net Receivables</th>
            <td>${Number(netReceivables[0]).toLocaleString()}</td>
            <td>${Number(netReceivables[1]).toLocaleString()}</td>
            <td>${Number(netReceivables[2]).toLocaleString()}</td>
            <td>${Number(netReceivables[3]).toLocaleString()}</td>
        </tr>
        <tr>
            <th>Inventory</th>
            <td>${Number(inventory[0]).toLocaleString()}</td>
            <td>${Number(inventory[1]).toLocaleString()}</td>
            <td>${Number(inventory[2]).toLocaleString()}</td>
            <td>${Number(inventory[3]).toLocaleString()}</td>
        </tr>
        <tr>
            <th>Other Current Assets</th>
            <td>${Number(otherCurrentAssets[0]).toLocaleString()}</td>
            <td>${Number(otherCurrentAssets[1]).toLocaleString()}</td>
            <td>${Number(otherCurrentAssets[2]).toLocaleString()}</td>
            <td>${Number(otherCurrentAssets[3]).toLocaleString()}</td>
        </tr>
        <tr>
            <th>Total Cash</th>
            <td>${Number(totalcash[0]).toLocaleString()}</td>
            <td>${Number(totalcash[1]).toLocaleString()}</td>
            <td>${Number(totalcash[2]).toLocaleString()}</td>
            <td>${Number(totalcash[3]).toLocaleString()}</td>
        </tr>
        <tr>
            <th>Total Current Assets</th>
            <td>${Number(totalCurrentAssets[0]).toLocaleString()}</td>
            <td>${Number(totalCurrentAssets[1]).toLocaleString()}</td>
            <td>${Number(totalCurrentAssets[2]).toLocaleString()}</td>
            <td>${Number(totalCurrentAssets[3]).toLocaleString()}</td>
        </tr>
    </table>`
current_assets_table.innerHTML = current_assets_table_html


var non_current_assets = document.getElementById('non_current_assets');
var non_current_assets = new Chart(non_current_assets, {
    type: 'bar',
    data: {
        labels: date_list,
        datasets: [
        {
            label: 'Net Property, Plant and Equipment',
            data: propertyPlantEquipment,
            backgroundColor: 'rgba(255, 159, 64, 0.5)',
            borderColor: 'rgb(255, 159, 64)',
            borderWidth: '2',
            barThickness: 'flex',
        },
        {
            label: 'Equity and Other Investments',
            data: longTermInvestments,
            backgroundColor: 'rgba(255, 99, 132, 0.5)',
            borderColor: 'rgb(255, 99, 132)',
            borderWidth: '2',
            barThickness: 'flex',
        },    
        {
            label: 'Other Long-Term Assets',
            data: otherAssets,
            backgroundColor: 'rgba(75, 192, 192, 0.5)',
            borderColor: 'rgb(75, 192, 192)',
            borderWidth: '2',
            barThickness: 'flex',
        }, 
        {
            label: "Total Non-Current Assets",
            data: totalNonCurrentAssets,
            backgroundColor: 'rgba(54, 162, 235, 0.5)',
            borderColor: 'rgb(54, 162, 235)',
            borderWidth: '2',
            barThickness: 'flex',
        },  
        ],
    },

    options: options_dict
});

var non_current_assets_table = document.getElementById("non_current_assets_table");
var non_current_assets_table_html =  `
    <table>
        <tr>
            <th></th>
            <th>${date_list[0]}</th>
            <th>${date_list[1]}</th>
            <th>${date_list[2]}</th>
            <th>${date_list[3]}</th>
        </tr>
        <tr>
            <th>Net Property, Plant & Equipment</th>
            <td>${Number(propertyPlantEquipment[0]).toLocaleString()}</td>
            <td>${Number(propertyPlantEquipment[1]).toLocaleString()}</td>
            <td>${Number(propertyPlantEquipment[2]).toLocaleString()}</td>
            <td>${Number(propertyPlantEquipment[3]).toLocaleString()}</td>
        </tr>
        <tr>
            <th>Equity & Other Investments</th>
            <td>${Number(longTermInvestments[0]).toLocaleString()}</td>
            <td>${Number(longTermInvestments[1]).toLocaleString()}</td>
            <td>${Number(longTermInvestments[2]).toLocaleString()}</td>
            <td>${Number(longTermInvestments[3]).toLocaleString()}</td>
        </tr>
        <tr>
            <th>Other Long-Term Assets</th>
            <td>${Number(otherAssets[0]).toLocaleString()}</td>
            <td>${Number(otherAssets[1]).toLocaleString()}</td>
            <td>${Number(otherAssets[2]).toLocaleString()}</td>
            <td>${Number(otherAssets[3]).toLocaleString()}</td>
        </tr>
        <tr>
            <th>Total Non-Current Assets</th>
            <td>${Number(totalNonCurrentAssets[0]).toLocaleString()}</td>
            <td>${Number(totalNonCurrentAssets[1]).toLocaleString()}</td>
            <td>${Number(totalNonCurrentAssets[2]).toLocaleString()}</td>
            <td>${Number(totalNonCurrentAssets[3]).toLocaleString()}</td>
        </tr>
    </table>`
non_current_assets_table.innerHTML = non_current_assets_table_html

var liabilities = document.getElementById('liabilities');
var liabilities = new Chart(liabilities, {
    type: 'bar',
    data: {
        labels: date_list,
        datasets: [
        {
            label: 'Accounts Payable',
            data: accountsPayable,
            backgroundColor: 'rgba(255, 159, 64, 0.5)',
            borderColor: 'rgb(255, 159, 64)',
            borderWidth: '2',
            barThickness: 'flex',
        },
        {
            label: 'Debt',
            data: shortTermDebt,
            backgroundColor: 'rgba(255, 99, 132, 0.5)',
            borderColor: 'rgb(255, 99, 132)',
            borderWidth: '2',
            barThickness: 'flex',
        },
        {
            label: 'Long Term Debt',
            data: longTermDebt,
            backgroundColor: 'rgba(75, 192, 192, 0.5)',
            borderColor: 'rgb(75, 192, 192)',
            borderWidth: '2',
            barThickness: 'flex',
        },
        {
            label: 'Other Current Liab',
            data: otherCurrentLiab,
            backgroundColor: 'rgba(54, 162, 235, 0.5)',
            borderColor: 'rgb(54, 162, 135)',
            borderWidth: '2',
            barThickness: 'flex',
        },    
        {
            label: 'Total Current Liab',
            data: totalCurrentLiab,
            backgroundColor: 'rgba(161, 253, 55, 0.5)',
            borderColor: 'rgb(161, 253, 55)',
            borderWidth: '2',
            barThickness: 'flex',
        },   
        {
            label: 'Total Liab',
            data: totalLiab,
            backgroundColor: 'rgba(136, 82, 55, 0.5)',
            borderColor: 'rgb(136, 82, 55)',
            borderWidth: '2',
            barThickness: 'flex',
        }
        ],
    },

    options: options_dict
});

var liabilities_table = document.getElementById("liabilities_table");
var liabilities_table_html =  `
    <table>
        <tr>
            <th></th>
            <th>${date_list[0]}</th>
            <th>${date_list[1]}</th>
            <th>${date_list[2]}</th>
            <th>${date_list[3]}</th>
        </tr>
        <tr>
            <th>Accounts Payable</th>
            <td>${Number(accountsPayable[0]).toLocaleString()}</td>
            <td>${Number(accountsPayable[1]).toLocaleString()}</td>
            <td>${Number(accountsPayable[2]).toLocaleString()}</td>
            <td>${Number(accountsPayable[3]).toLocaleString()}</td>
        </tr>
        <tr>
            <th>Debt</th>
            <td>${Number(shortTermDebt[0]).toLocaleString()}</td>
            <td>${Number(shortTermDebt[1]).toLocaleString()}</td>
            <td>${Number(shortTermDebt[2]).toLocaleString()}</td>
            <td>${Number(shortTermDebt[3]).toLocaleString()}</td>
        </tr>
        <tr>
            <th>Long Term Debt</th>
            <td>${Number(longTermDebt[0]).toLocaleString()}</td>
            <td>${Number(longTermDebt[1]).toLocaleString()}</td>
            <td>${Number(longTermDebt[2]).toLocaleString()}</td>
            <td>${Number(longTermDebt[3]).toLocaleString()}</td>
        </tr>
        <tr>
            <th>Other Current Liab</th>
            <td>${Number(otherCurrentLiab[0]).toLocaleString()}</td>
            <td>${Number(otherCurrentLiab[1]).toLocaleString()}</td>
            <td>${Number(otherCurrentLiab[2]).toLocaleString()}</td>
            <td>${Number(otherCurrentLiab[3]).toLocaleString()}</td>
        </tr>
        <tr>
            <th>Total Current Liab</th>
            <td>${Number(accountsPayable[3]).toLocaleString()}</td>
            <td>${totalCurrentLiab[1]}</td>
            <td>${totalCurrentLiab[2]}</td>
            <td>${totalCurrentLiab[3]}</td>
        </tr>
        <tr>
            <th>Total Liab</th>
            <td>${Number(totalLiab[0]).toLocaleString()}</td>
            <td>${Number(totalLiab[1]).toLocaleString()}</td>
            <td>${Number(totalLiab[2]).toLocaleString()}</td>
            <td>${Number(totalLiab[3]).toLocaleString()}</td>
        </tr>
    </table>`
liabilities_table.innerHTML = liabilities_table_html


var stockholders_equity = document.getElementById('stockholders_equity');
var stockholders_equity = new Chart(stockholders_equity, {
    type: 'bar',
    data: {
        labels: date_list,
        datasets: [
        {
            label: 'Common Stock',
            data: commonStock,
            backgroundColor: 'rgba(255, 159, 64, 0.5)',
            borderColor: 'rgb(255, 159, 64)',
            borderWidth: '2',
            barThickness: 'flex',
        },
        {
            label: 'Retained Earnings',
            data: retainedEarnings,
            backgroundColor: 'rgba(255, 99, 132, 0.5)',
            borderColor: 'rgb(255, 99, 132)',
            borderWidth: '2',
            barThickness: 'flex',
        },    
        {
            label: 'Treasury',
            data: treasury,
            backgroundColor: 'rgba(75, 192, 192, 0.5)',
            borderColor: 'rgb(75, 192, 192)',
            borderWidth: '2',
            barThickness: 'flex',
        }, 
        {
            label: "Total StockHolders' Equity",
            data: totalStockholderEquity,
            backgroundColor: 'rgba(54, 162, 235, 0.5)',
            borderColor: 'rgb(54, 162, 235)',
            borderWidth: '2',
            barThickness: 'flex',
        },        
        ],
    },
    options: options_dict,
});


var stockholders_equity_table = document.getElementById("stockholders_equity_table");
var stockholders_equity_table_html =  `
    <table>
        <tr>
            <th></th>
            <th>${date_list[0]}</th>
            <th>${date_list[1]}</th>
            <th>${date_list[2]}</th>
            <th>${date_list[3]}</th>
        </tr>
        <tr>
            <th>Common Stock</th>
            <td>${Number(commonStock[0]).toLocaleString()}</td>
            <td>${Number(commonStock[1]).toLocaleString()}</td>
            <td>${Number(commonStock[2]).toLocaleString()}</td>
            <td>${Number(commonStock[3]).toLocaleString()}</td>
        </tr>
        <tr>
            <th>Retained Earnings</th>
            <td>${Number(retainedEarnings[0]).toLocaleString()}</td>
            <td>${Number(retainedEarnings[1]).toLocaleString()}</td>
            <td>${Number(retainedEarnings[2]).toLocaleString()}</td>
            <td>${Number(retainedEarnings[3]).toLocaleString()}</td>
        </tr>
        <tr>
            <th>Treasury</th>
            <td>${Number(treasury[0]).toLocaleString()}</td>
            <td>${Number(treasury[1]).toLocaleString()}</td>
            <td>${Number(treasury[2]).toLocaleString()}</td>
            <td>${Number(treasury[3]).toLocaleString()}</td>
        </tr>
        <tr>
            <th>Total StockHolders' Equity</th>
            <td>${Number(totalStockholderEquity[0]).toLocaleString()}</td>
            <td>${Number(totalStockholderEquity[1]).toLocaleString()}</td>
            <td>${Number(totalStockholderEquity[2]).toLocaleString()}</td>
            <td>${Number(totalStockholderEquity[3]).toLocaleString()}</td>
        </tr>
    </table>`
stockholders_equity_table.innerHTML = stockholders_equity_table_html


var earnings_list = {{earnings_list|safe}}

var earning_est=[]
var earning_act=[]
var axes = []

for (i=0; i<earnings_list.length; i++) {
    var dict_est = {}
    dict_est['x'] = earnings_list[i][0]
    dict_est['y'] = earnings_list[i][1]
    earning_est.push(dict_est)

    var dict_act = {}
    dict_act['x'] = earnings_list[i][0]
    dict_act['y'] = earnings_list[i][2]
    earning_act.push(dict_act)
}

var earning_chart = document.getElementById('earning_chart');
var myChart = new Chart(earning_chart, {
    type: 'scatter',
    data: {
        datasets: [
        {
            label: 'Est EPS',
            data: earning_est,
            backgroundColor: 'rgb(158, 158, 158, 0.5)',
            borderColor: 'rgb(158, 158, 158)',
        }, 
        {
            label: 'Act EPS',
            data: earning_act,
            backgroundColor: 'rgb(0, 0, 255, 0.5)',
            borderColor: 'rgb(0, 0, 255)'
        },
        
        ],
    },

    options: {
        responsive:true,
        maintainAspectRatio: false,
        layout: {
            padding: 10
        },
        scales: {
            xAxes: [{
                display: false,
                ticks: {
                  minTicksLimit: 5,
                },
                ticks: {
                    beginAtZero: false
                }, 
                gridLines: {
                    drawOnChartArea: false
                }   
            }],
            yAxes: [{
                ticks: {
                    beginAtZero: false
                }, 
            }],
        },

        elements: {
            point: {
                radius: 7
            }
        },

        tooltips: {
            mode: 'index',
            intersect: false,
            callbacks: {
                label: (item) => `${item.yLabel} USD`,
            },
        },
        hover: {
            mode: 'index',
            intersect: false
        },
   }
});

var eps_surprise = document.getElementById("eps_surprise");
var full_eps_code = ""
var financial_quarter_list = {{financial_quarter_list|safe}};
for (i=earning_act.length-1; i>=0; i--) {

    percentage_diff = (Number(earning_act[i].y) - Number(earning_est[i].y)) / Math.abs((earning_est[i].y)) * 100
    percentage_diff = Math.round(percentage_diff * 100) / 100
    percentage_diff =  String(percentage_diff) + "%"

    if (percentage_diff.includes("-")) {
        full_eps_code += `<div class="eps_label">${financial_quarter_list[i]}<br><span style="color:red">Surprise:<br>${percentage_diff}</span></div>`
    }

    else if (percentage_diff == "NaN%") {
        full_eps_code += `<div class="eps_label">${financial_quarter_list[i]}</div>`
    }

    else {
        full_eps_code += `<div class="eps_label">${financial_quarter_list[i]}<br><span style="color:green">Surprise:<br>+${percentage_diff}</span></div>`
    }    
}

eps_surprise.innerHTML = full_eps_code;

</script>
{% endblock %}