<!DOCTYPE html>
{% load static %}
{% load filter %}

<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'style/format.css' %}">
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}"/>
    <script src="{% static 'javascript/format.js' %}"></script>
    {% block additional_script %}{% endblock %}
</head>

<body onload="update_price_color();{% block onload_properties%}{% endblock %}">
<script>restore_dark_mode()</script>
<div>
    <div id="nav_bar_div">
        <div>
            <ul>
                <li ><img class="main_logo" src="{% static 'images/logo.png' %}"></li>

                <a href="{% url 'main' %}"><li class="nav_bar"><img class="nav_bar_logo" src="{% static 'images/nav_bar/home.svg' %}">Home</li></a>

                <div onclick="expand_nav(this)">
                    <li class="nav_bar"><img class="nav_bar_logo" src="{% static 'images/nav_bar/ticker_analysis.svg' %}">Stocks</li>
                    <a href="{% url 'ticker' %}"><li class="sub_nav_bar" style="display: none;">Ticker Analysis</li></a>
                    <a href="{% url 'financial' %}"><li class="sub_nav_bar" style="display: none;">Financials</li></a>
                    <a href="{% url 'options' %}"><li class="sub_nav_bar" style="display: none;">Options</li></a>
                    <a href="{% url 'short_volume' %}"><li class="sub_nav_bar" style="display: none;">Short Volume</li></a>
                    <a href="{% url 'failure_to_deliver' %}"><li class="sub_nav_bar" style="display: none;">FTD</li></a>
<!--                    <a href="{% url 'latest_news' %}"><li class="sub_nav_bar" style="display: none;">News Sentiment</li></a>-->
                    <a href="{% url 'earnings_calendar' %}"><li class="sub_nav_bar" style="display: none;">Earnings Calendar</li></a>
                </div>

                <div onclick="expand_nav(this)">
                    <li class="nav_bar"><img class="nav_bar_logo" src="{% static 'images/nav_bar/reddit.svg' %}">Reddit</li>
                    <a href="{% url 'reddit_analysis' %}"><li class="sub_nav_bar" style="display: none;">Trending</li></a>
                    <a href="{% url 'reddit_etf' %}"><li class="sub_nav_bar" style="display: none;">WSB ETF</li></a>
                    <a href="{% url 'subreddit_count' %}"><li class="sub_nav_bar" style="display: none;">Subreddit Count</li></a>
                </div>

                <div onclick="expand_nav(this)">
                    <li class="nav_bar"><img class="nav_bar_logo" src="{% static 'images/nav_bar/discover.svg' %}">Discover</li>
                    <a href="{% url 'market_overview' %}"><li class="sub_nav_bar" style="display:none">Market Overview</li></a>
                    <a href="{% url 'short_interest' %}"><li class="sub_nav_bar" style="display: none;">Short Interest</li></a>
                    <a href="{% url 'low_float' %}"><li class="sub_nav_bar" style="display: none;">Low Float</li></a>
                    <a href="{% url 'hedge_funds' %}"><li class="sub_nav_bar" style="display: none;">Hedge Funds</li></a>
                    <a href="{% url 'ark_trades' %}"><li class="sub_nav_bar" style="display: none;">ARK Trades</li></a>
                    <a href="{% url 'amd_xlnx_ratio' %}"><li class="sub_nav_bar" style="display: none;">AMD-XLNX Ratio</li></a>
                    <a href="{% url 'reverse_repo' %}"><li class="sub_nav_bar" style="display: none;">Economy</li></a>
                </div>

                {% comment %} <a href="{% url 'latest_news' %}"><li class="nav_bar"><img class="nav_bar_logo" src="{% static 'images/nav_bar/newspaper.svg' %}">News Sentiment</li></a> {% endcomment %}
                <a href="{% url 'about' %}"><li class="nav_bar"><img class="nav_bar_logo" src="{% static 'images/nav_bar/about.svg' %}">About</li></a>
            </ul>
            <div><img src="{% static 'images/nav_bar/day_icon.svg' %}" class="sun_icon"></div>
            <div><img src="{% static 'images/nav_bar/night_icon.svg' %}" class="night_icon"></div>

            <label class="switch">
                <input id="dark_mode" type="checkbox" onchange="activate_dark_mode()">
                <span class="slider round"></span>
            </label>

        </div>

    </div>
    <div id="nav_bar_div_sm" onclick="hide_nav_bar()">
        &#9776; MENU
    </div>

    <div id="main_div">
        {% block main_nav %}{% endblock %}
        <div id="main_content">
            {% block main_content %}
            {% endblock %}
            <div class="donate_sticky" id="donate_sticky">Support</div>
        </div>

        <div class="footer">
                <ul>
                    <li id="disclaimer">Disclaimer</li>
                    <li id="contact">Contact</li>
                    <li id="privacy">Privacy</li>
                    <li id="support">Donate</li>
                    <li id="share">Share</li>
                </ul>
                <div>&copy; 2021 Stocksera</div>
        </div>

            <div id="disclaimer_model" class="modal">
                <div class="modal-content">
                    <div class="modal-header">
                        <span class="close">&times;</span>
                        <h4>Disclaimer</h4>
                    </div>
                    <div class="modal-body">
                        <p> Before deciding to trade, you should be fully informed of the risks and costs associated
                            with trading. You are encouraged to conduct your own Due-Diligence (DD) and seek professional
                            advice when necessary. StocksEra will not be responsible for any losses or damages
                            incurred as a result of your trading.
                            <br><br>
                            Do note that the price of tickers are delayed. You should depend on your broker for latest
                            price changes instead.
                        </p>
                    </div>
                </div>
            </div>

            <div id="contact_model" class="modal">
                <div class="modal-content">
                    <div class="modal-header">
                        <span class="close">&times;</span>
                        <h4>Contact</h4>
                    </div>
                    <div class="modal-body">
                        <p>If you have any questions or suggestions regarding Stockera, please drop me a message in the <a href="{% url 'about' %}" target="_blank">About</a> section or email me at stocksera.pythonanywhere.com</p>
                    </div>
                </div>
            </div>

            <div id="privacy_model" class="modal">
                <div class="modal-content">
                <div class="modal-header">
                    <span class="close">&times;</span>
                    <h4>Privacy</h4>
                </div>
                <div class="modal-body">
                    <p>We value your privacy. No personal information, Internet Protocol (IP) address, location, device name would be collected without permission. To enable better user experience, do note that Cookies are used. Cookies are stored in your device's internal memory and Stockera would not use these Cookies for other purposes.</p>
                </div>
                </div>
            </div>

            <div id="support_model" class="modal">
                <div class="modal-content">
                <div class="modal-header">
                    <span class="close">&times;</span>
                    <h4>Support</h4>
                </div>
                <div class="modal-body github_div">
                    <p>
                        <a href="https://www.paypal.me/stocksera" target="_blank"><img src="{% static 'images/paypal.svg' %}" style="width: 30px"></a>
                        <a href="https://github.com/spartan737/Stocksera" target="_blank"><img src="{% static 'images/github.svg' %}" style="width: 30px"></a>
                        <a href="https://www.patreon.com/stocksera" target="_blank"><img src="{% static 'images/patreon.png' %}" style="width: 30px"></a>
                    </p>
                    <p>Stocksera is an open-source, free for all application.
                       I spent months just to create this application, with new updates & bug fixes almost every week, with no monetary benefits.
                       If you like this project, you can support me via <a href="https://www.paypal.me/stocksera" target="_blank">Paypal</a> or <a href="https://www.patreon.com/stocksera" target="_blank">Patreon</a>.
                       Alternatively, you can give me a star ⭐ on <a href="https://github.com/spartan737/Stocksera" target="_blank">Github</a> and share it with everyone.</p>
                </div>
                </div>
            </div>

            <div id="share_model" class="modal">
                <div class="modal-content">
                <div class="modal-header">
                    <span class="close">&times;</span>
                    <h4>Share</h4>
                </div>
                <div class="modal-body">
                    <div style="margin-top: 25px">
                        <div class="a2a_kit a2a_kit_size_32 a2a_default_style" data-a2a-url="https://stocksera.pythonanywhere.com/" data-a2a-title="StocksEra">
                        <a class="a2a_button_whatsapp"></a>
                        <a class="a2a_button_telegram"></a>
                        <a class="a2a_button_facebook"></a>
                        <a class="a2a_button_twitter"></a>
                        <a class="a2a_button_reddit"></a>
                    </div>
                    </div>
                    <script async src="https://static.addtoany.com/menu/page.js"></script>
                </div>
                </div>
            </div>

    </div>
</div>
</body>
<script src="{% static 'javascript/load_footer.js' %}"></script>
{% block bottom_script %}
{% endblock %}
</html>