
{% extends "format.html" %}
{% load static %}
{% load filter %}

{% block title %}StocksEra | FTD {% endblock %}

{% block additional_script %}
<link rel="stylesheet" href="{% static 'style/ftd.css' %}">
<script src="{% static 'javascript/ftd.js' %}"></script>
{% endblock %}

{% block onload_properties%}display_data();ftd_graph(48);display_table();restore_dark_mode();{% endblock %}

{% block main_nav %}
    <a href="/">Stocksera</a> /
    <a href="/ticker/?quote={{ticker_selected}}">Analysis</a> /
    <a href="/ticker/options/?failure_to_deliver={{ticker_selected}}">FTD [{{ticker_selected}}]</a>
{% endblock %}

{% block main_content %}
<script>highlight_selected_nav('stocks_analysis')</script>
<div>
    <div class="instructions">
        <h2>Failure to Deliver</h2>
        <p>
            Failure to Deliver (FTD) data is retrieved from the US Securities and Exchange Commission (SEC). It occurs when a broker-dealer fails to deliver securities to the party on the other side of the transaction on the settlement date.
            What is T+35 Theory? It means to check for FTD surges (example: FTD Quantity more than 1 million/more than 90th percentile of FTD Amount and at least 100k FTD) for stocks that are heavily shorted such as AMC and GME and count 34 trading days after the surge date. On that date, stocks might experience a surge in price action. You can refer to <a href="https://www.reddit.com/r/amcstock/comments/o21ejs/amc_ftds_will_spike_amc_price_21st_22nd_23rd_25th/" target="_blank">this post</a> on Reddit for more information.
        </p>
        <form action="" method="GET" autocomplete="off">
            <div class="top_nav_right_btn">
                <input class="ticker_input" name="quote" id="quote" list="list_of_tickers" value="{{ticker_selected}}" placeholder="Ticker:" autocomplete="off">
                <datalist id="list_of_tickers">
                    {% for i in symbol_list %}
                    <option value="{{i}}">{{i}}</option>
                    {% endfor %}
                </datalist>
                <button class="submit_btn" type="button" onclick="this.form.submit();this.disabled=true;">Search</button>
            </div>
        </form>
    </div>

    <div class="instructions">
        <h2>Other Datasets Available</h2>
        <div class="more_info_div_parent">
            <div class="more_info_div"><a class="more_info_btn" href="{% url 'ticker' %}?quote={{ticker_selected}}" onclick="clickAndDisable(this);">Analysis</a></div>
            <div class="more_info_div"><a class="more_info_btn" href="{% url 'financial' %}?quote={{ticker_selected}}" onclick="clickAndDisable(this);">Financials</a></div>
            <div class="more_info_div"><a class="more_info_btn" href="{% url 'options' %}?quote={{ticker_selected}}" onclick="clickAndDisable(this);">Options</a></div>
            <div class="more_info_div"><a class="more_info_btn" href="{% url 'short_volume' %}?quote={{ticker_selected}}" onclick="clickAndDisable(this);">Short Vol</a></div>
            <div class="more_info_div"><a class="more_info_btn current_link" href="{% url 'failure_to_deliver' %}?quote={{ticker_selected}}" onclick="clickAndDisable(this);">FTD</a></div>
        </div>
    </div>

    <div id="error_msg" style="display:none;" class="instructions {{error}}">
        <p>Currently, only popular tickers like {{included_list|safe}} have FTD data. If you like to see more tickers, drop me a message in the About
            section.
        </p>
    </div>

    <div id="ftd">
        <div id="ticker_basic_stats"></div>
        <div class="date_selector">
            <button name="date_range" id="3 Months" onclick="btn_selected(this); ftd_graph(3)">3 Months</button>
            <button name="date_range" id="6 Months" onclick="btn_selected(this); ftd_graph(6)">6 Months</button>
            <button name="date_range" id="1 Year" onclick="btn_selected(this); ftd_graph(12)">1 Year</button>
            <button name="date_range" id="Max" onclick="btn_selected(this); ftd_graph(48)" class="selected">Max</button>
        </div>

        <div class="chart-container">
            <canvas id="ftd_chart"></canvas>
        </div>

        <div id="90th_percentile" style="display: none">{{90th_percentile}}</div>
        <form action="" method="GET" autocomplete="off">
            <button type="submit" name="download_csv" class="download_btn"><u>➥ Download</u></button>
            <input name="quote" value="{{ticker_selected}}" style="display:none">
        </form>

        <div class="scrollable_div">
            {{ftd|safe}}
        </div>

        <p>Data from: <a href="https://www.sec.gov/data/foiadocsfailsdatahtm" target="_blank">sec.gov</a></p>
    </div>
</div>
{% endblock %}

{% block bottom_script %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<script>
    <!--Hack to convert python variables to javascript-->
    var None = "N/A", False = false; True = true;
    var information = {{information|safe}};
    show_ticker_price(information)
</script>
{% endblock %}