
{% extends "format.html" %}
{% load static %}
{% load filter %}

{% block title %}StocksEra | FTD {% endblock %}

{% block additional_script %}
<link rel="stylesheet" href="{% static 'style/ftd.css' %}">
<script src="{% static 'javascript/ftd.js' %}"></script>
{% endblock %}

{% block onload_properties%}display_data();ftd_graph();restore_dark_mode(){% endblock %}

{% block main_nav %}
<div class="top_nav">
    <form action="" method="GET" autocomplete="off">
        <div>
            <input class="ticker_input" name="quote" id="quote" value="{{ticker_selected}}" placeholder="Search Ticker:" autocomplete="off">
            <button class="submit_btn" type="button" onclick="this.form.submit();this.disabled=true;">Search</button>
        </div>
    </form>
</div>
<div id="spinner_div"></div>
{% endblock %}

{% block main_content %}
<div>
    <div class="instructions">
        <p>
            Failure to Deliver (FTD) data is retrieved from the US Securities and Exchange Commission (SEC). It occurs when a broker-dealer fails to deliver securities to the party on the other side of the transaction on the settlement date.
        </p>
    </div>

    <div id="error_msg" style="display:none;" class="instructions {{error}}">
        <p>Currently, only popular tickers like {{included_list|safe}} have FTD data. If you like to see more tickers, drop me a message in the About
            section.
        </p>
    </div>

    <div id="ftd">
        <div id="ticker_basic_stats"></div>

        <div id="more_info_div">
            <a class="more_info_btn" href="{% url 'ticker' %}?quote={{ticker_selected}}" onclick="clickAndDisable(this);">Analysis</a>
            <a class="more_info_btn" href="{% url 'financial' %}?quote={{ticker_selected}}" onclick="clickAndDisable(this);">Financials</a>
            <a class="more_info_btn" href="{% url 'options' %}?quote={{ticker_selected}}" onclick="clickAndDisable(this);">Options</a>
            <a class="more_info_btn" href="{% url 'short_volume' %}?quote={{ticker_selected}}" onclick="clickAndDisable(this);">Short Vol</a>
        </div>

        <div class="chart-container">
            <canvas id="ftd_chart"></canvas>
        </div>

        <div class="instructions theory">
            <p>
                What is T+35 Theory? It means to check for FTD surges (FTD more than 1 million) for stocks that are heavily shorted such as AMC and GME and count 34 trading days after the surge date. On that date, stocks might experience a surge in price action. You can refer to <a href="https://www.reddit.com/r/amcstock/comments/o21ejs/amc_ftds_will_spike_amc_price_21st_22nd_23rd_25th/" target="_blank">this post</a> on Reddit for more information.
            </p>
        </div>

        <div class="scrollable_div">
            {{ftd|safe}}
        </div>

        <p>Data from: <a href="https://www.sec.gov/data/foiadocsfailsdatahtm" target="_blank">sec.gov</a></p>
    </div>
</div>
{% endblock %}

{% block bottom_script %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<script>
    <!--Hack to convert python variables to javascript-->
    var None = "N/A", False = false; True = true;
    var information = {{information|safe}};

    <!--Code to show price change-->
    var latest_price = information["regularMarketPrice"];
    var mkt_close = information["previousClose"];
    <!--Code to show price change-->
    var price_change = Math.round((latest_price - mkt_close) * 100) / 100
    var price_percentage_change = Math.round(((latest_price - mkt_close) / mkt_close) * 10000) / 100
    if (price_change > 0) {
        price_change = "+" + String(price_change)
        price_percentage_change = "+" + String(price_percentage_change) + "%"
    }
    else {
        price_percentage_change = String(price_percentage_change) + "%"
    }

    <!--Function to check that dictionary has a key-->
    function check_stats(property) {
        if (information.hasOwnProperty(property) == true) {
            property_name = information[property]
        }
        else {
            property_name = "N/A"
        }
        return property_name
    }

    <!--If ticker does not have a website, bring users to Yahoo Finance-->
    if (information.hasOwnProperty("website") == true) {
        var website = information["website"]
    }
    else {
        var website = `https://finance.yahoo.com/quote/${information["symbol"]}`
    }

    <!--If ticker does not have an image, show a default image-->
    var img = information["logo_url"]
    if (img != "") {
        var img_code = `<img src="${img}" onerror=this.src="{% static 'images/not_available.svg' %}">`
    }
    else {
        var img_code = `<a href={{website}} target="_blank"><img src="{% static 'images/not_available.svg' %}">`
    }

    <!--Code to display image, full name, symbol, industry and sector-->
    var official_name = check_stats("longName")
    var sector = check_stats("sector")
    var industry = check_stats("industry")

    if (price_percentage_change.includes("-")) {
        var price_code = `<div class="price_details negative_price">$${latest_price}<br>${price_change} (${price_percentage_change})</div>`
    }
    else {
        var price_code = `<div class="price_details positive_price">$${latest_price}<br>${price_change} (${price_percentage_change})</div>`
    }

    var ticker_basic_stats_code = `
        <div id="img_div">${img_code}</div>
        <div id="ticker_intro">
            <span>${official_name} (${information["symbol"]})</span>
            <br>Sector: <b>${sector}</b><br>Industry: <b>${industry}</b>
        </div>
        ${price_code}`
    document.getElementById("ticker_basic_stats").innerHTML = ticker_basic_stats_code;
</script>
{% endblock %}