<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no">
    <title>StocksEra | Historical Data</title>
    <link rel="stylesheet" href="{% static 'style/format.css' %}">
    <link rel="stylesheet" href="{% static 'style/historical.css' %}">
    <script src="{% static 'javascript/format.js' %}"></script>
    <script src="{% static 'javascript/historical.js' %}"></script>
</head>
<body onload="stats();display_data();draw_graph();restore_dark_mode();">
    <script>restore_dark_mode()</script>
    <form action="" method="GET" autocomplete="off">
        <div class="select_div">
            <select name="sort" onchange="this.form.submit()">
                <option>Sort By: {{sort_by}}</option>
                <option value="Date">Date</option>
                <option value="Open">Open</option>
                <option value="High">High</option>
                <option value="Low">Low</option>
                <option value="Close">Close</option>
                <option value="Volume">Volume</option>
                <option value="% Price Change">% Price Change</option>
                <option value="Amplitude">Amplitude</option>
                <option value="% Vol Change">% Vol Change</option>
                <option value="Volume / % Price Ratio">Volume / % Price Ratio</option>
            </select>
            <select name="order" onchange="this.form.submit()">
                <option>Order: {{order}}</option>
                <option value="Ascending">Ascending</option>
                <option value="Descending">Descending</option>
            </select>

            <select name="timeframe" onchange="this.form.submit()">
                <option>Timeframe: {{timeframe}}</option>
                <option value="1Y">1Y</option>
                <option value="5Y">5Y</option>
                <option value="Max">Max</option>
            </select>
        </div>

        <p class="avg_price_change">Avg % Price Change (Last 50 trading days)</p>
        <div id="general_stats"></div>
        <div class="chart-container" style="min-height: 250px">
            <canvas id="historical_chart"></canvas>
        </div>

        <button type="submit" name="download_csv" class="download_btn"><u>➥ Download</u></button>
        <input id="latest_date" value="{{latest_date}}" style="display:none">
        <input name="quote" value="{{ticker_selected}}" style="display:none">
    </form>
    <div>
        <span>Note: Volume / % Price Ratio = no. shares to move price by 1%</span>
        <div class="scrollable_div" style="max-height:600px;">
            {{price_df|safe}}
        </div>

        <div style="display: none">
            {{summary_df|safe}}
        </div>
    </div>
</body>
</html>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.bundle.min.js"></script>
