<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>StocksEra | {{title}}</title>
    <link rel="stylesheet" href="{% static 'style/format.css' %}">
    <script src="{% static 'javascript/format.js' %}"></script>
</head>
<body onload="restore_dark_mode();">
    <script>restore_dark_mode()</script>
    <div class="{{class}}">
        <div class="scrollable_div" style="max-height:450px">
            {{table|safe}}
        </div>
    </div>
</body>
</html>