<!DOCTYPE html>
{% load static %}
{% load filter %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Industry</title>
    <link rel="stylesheet" href="{% static 'style/home.css' %}">
    <script src="{% static 'javascript/home.js' %}"></script>
</head>

<body onload="update_price_color()" style="font-family:arial">
<div>
    <form action="" method="POST" autocomplete="off"> {% csrf_token %}
testing
        testing
        <br><br><br><br><br>
        testing
    </form>
</div>

</body>
</html>