{% extends "format.html" %}
{% load static %}
{% load filter %}

{% block title %}StocksEra | Inflation{% endblock %}

{% block additional_script %}
<link rel="stylesheet" href="{% static 'style/economy.css' %}">
<script src="{% static 'javascript/inflation.js' %}"></script>
{% endblock %}

{% block onload_properties%}restore_dark_mode();color_table('checked');inflation('max');get_economic_releases({{next_date}}){% endblock %}

{% block main_nav %}
    <a href="/">Stocksera</a> /
    <a href="/market_overview">Discover</a> /
    <a href="/reverse_repo">Economy</a> /
    <a href="/inflation">Inflation</a>
{% endblock %}

{% block main_content %}
    <script>highlight_selected_nav('economy')</script>
    <div class="instructions">
        <h2>Inflation</h2>
        <p> Inflation is the decline of purchasing power of a given currency over time. A quantitative estimate of the
            rate at which the decline in purchasing power occurs can be reflected in the increase of an average price
            level of a basket of selected goods and services in an economy over some period of time.
        </p>
    </div>

    <div class="instructions">
        <h2>Other Datasets Available</h2>
        <div class="more_info_div_parent">
            <div class="more_info_div"><a class="more_info_btn" href="{% url 'reverse_repo' %}" onclick="clickAndDisable(this);">Reverse Repo</a></div>
            <div class="more_info_div"><a class="more_info_btn" href="{% url 'daily_treasury' %}" onclick="clickAndDisable(this);">Treasury</a></div>
            <div class="more_info_div"><a class="more_info_btn current_link" href="{% url 'inflation' %}" onclick="clickAndDisable(this);">Inflation</a></div>
            <div class="more_info_div"><a class="more_info_btn" href="{% url 'retail_sales' %}" onclick="clickAndDisable(this);">Retail Sales</a></div>
        </div>
    </div>

    <div class="instructions" id="releases_div">
        <h2>Next Release Date</h2>
    </div>

    <div class="contents_div">
        <div class="date_selector">
            <button name="date_range" value="1 Year" onclick="btn_selected(this); inflation('one_year')">1 Year</button>
            <button name="date_range" value="Max" onclick="btn_selected(this); inflation('max')" class="selected">Max</button>
        </div>

        <div class="chart-container">
            <canvas id="inflation_chart"></canvas>
        </div>

        <div>
            <input type="checkbox" onclick="change_color_table(this)" checked>Heat Map
        </div>
        <div class="scrollable_div">
            {{inflation_stats|safe}}
        </div>
    </div>
{% endblock %}

{% block bottom_script %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
{% endblock %}