{% extends "format.html" %}
{% load static %}
{% load filter %}

{% block title %}StocksEra | Low Float{% endblock %}

{% block additional_script %}
<link rel="stylesheet" href="{% static 'style/low_float.css' %}">
<script src="{% static 'javascript/low_float.js' %}"></script>
{% endblock %}

{% block onload_properties%}restore_dark_mode(){% endblock %}

{% block main_nav %}
    <div class="ticker-wrap">
        <div class="ticker">
            {% for name in popular_name_list|length|get_range %}
            <div class="ticker_item">
                <b>{{popular_name_list|index:name}} &#183 {{price_list|index:name|index:0}} <span> {{price_list|index:name|index:1}} ({{price_list|index:name|index:2}}%) </span></b>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block main_content %}
    <div class="instructions">
        <p>Low float stocks are those with a low number of shares. Floating stock is calculated by subtracting closely-held shares and restricted stock from a firm’s total outstanding shares. A stock with a small float will generally be more volatile since it's harder to find a buyer/seller.</p>
    </div>
    <div class="low_float">
        <div class="header">Low Float</div>
        <div class="table_div">
            {{ df_low_float|safe }}
        </div>
    </div>
    <p>Data from: <a href="https://www.lowfloat.com" target="_blank">lowfloat.com</a>
{% endblock %}