{% extends "format.html" %}
{% load static %}
{% load filter %}

{% block title %}StocksEra | Low Float{% endblock %}

{% block additional_script %}
<link rel="stylesheet" href="{% static 'style/low_float.css' %}">
<script src="{% static 'javascript/low_float.js' %}"></script>
{% endblock %}

{% block onload_properties%}restore_dark_mode();update_table(){% endblock %}

{% block main_nav %}
    <div class="ticker-wrap">
        <div class="tradingview-widget-container">
            <div class="tradingview-widget-container__widget"></div>
            <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" async>
            {
            "symbols": [
            {
              "proName": "FOREXCOM:SPXUSD",
              "title": "S&P 500"
            },
            {
              "proName": "FOREXCOM:NSXUSD",
              "title": "Nasdaq 100"
            },
            {
              "description": "Apple",
              "proName": "NASDAQ:AAPL"
            },
            {
              "description": "Tesla, Inc",
              "proName": "NASDAQ:TSLA"
            },
            {
              "description": "Nvidia",
              "proName": "NASDAQ:NVDA"
            },
            {
              "description": "Microsoft",
              "proName": "NASDAQ:MSFT"
            },
            {
              "description": "GameStop",
              "proName": "NYSE:GME"
            },
            {
              "description": "AMC",
              "proName": "NYSE:AMC"
            },
            {
              "description": "Blackberry",
              "proName": "NYSE:BB"
            }
            ],
            "showSymbolLogo": true,
            "colorTheme": "light",
            "isTransparent": true,
            "largeChartUrl": "http://stocksera.pythonanywhere.com",
            "displayMode": "regular",
            "locale": "en"
            }
            </script>
        </div>
    </div>
{% endblock %}

{% block main_content %}
    <div class="instructions">
        <p>Low float stocks are those with a low number of shares. Floating stock is calculated by subtracting closely-held shares and restricted stock from a firm’s total outstanding shares. A stock with a small float will generally be more volatile since it's harder to find a buyer/seller.</p>
    </div>
    <div class="low_float">
        <h2>Low Float</h2>
        <div id="more_info_div">
            <a class="more_info_btn" href="{% url 'top_movers' %}" onclick="show_spinner()">Top Movers</a>
            <a class="more_info_btn" href="{% url 'short_interest' %}" onclick="show_spinner()">Short Interest</a>
            <a class="more_info_btn" href="{% url 'ark_trades' %}" onclick="show_spinner()">ARK Fund</a>
        </div>
        <div class="table_div">
            {{ df_low_float|safe }}
        </div>
    </div>
    <p>Data from: <a href="https://www.lowfloat.com" target="_blank">lowfloat.com</a>
{% endblock %}

{% block bottom_script %}
<script>
    var table = document.getElementsByTagName("table")[0];
    var tr = table.querySelectorAll("tr");
    for (row=1; row<tr.length; row++) {
        var td = tr[row].querySelector("td");
        ticker = td.innerHTML;
        td.innerHTML = `<a href="{% url 'ticker' %}?quote=${ticker}" target="_blank">${ticker}</a>`;
    }
</script>
{% endblock %}