{% extends "format.html" %}
{% load static %}
{% load filter %}

{% block title %}StocksEra | Market Overview{% endblock %}

{% block additional_script %}
<link rel="stylesheet" href="{% static 'style/market_overview.css' %}">
<script src="{% static 'javascript/market_overview.js' %}"></script>
{% endblock %}

{% block onload_properties%}restore_dark_mode(){% endblock %}

{% block main_nav %}
    <div class="ticker-wrap">
        <div class="tradingview-widget-container">
            <div class="tradingview-widget-container__widget"></div>
        </div>
        <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" async>
            {
            "symbols": [
            {
              "proName": "FOREXCOM:SPXUSD",
              "title": "S&P 500"
            },
            {
              "proName": "FOREXCOM:NSXUSD",
              "title": "Nasdaq 100"
            },
            {
              "description": "Apple",
              "proName": "NASDAQ:AAPL"
            },
            {
              "description": "Tesla, Inc",
              "proName": "NASDAQ:TSLA"
            },
            {
              "description": "Nvidia",
              "proName": "NASDAQ:NVDA"
            },
            {
              "description": "Microsoft",
              "proName": "NASDAQ:MSFT"
            },
            {
              "description": "Alphabet",
              "proName": "NASDAQ:GOOGL"
            },
            {
              "description": "Amazon",
              "proName": "NASDAQ:AMZN"
            },
            {
              "description": "JP Morgan",
              "proName": "NYSE:JPM"
            },
            {
              "description": "Paypal",
              "proName": "NASDAQ:PYPL"
            },
            {
              "description": "GameStop",
              "proName": "NYSE:GME"
            },
            {
              "description": "AMC",
              "proName": "NYSE:AMC"
            },
            {
              "description": "Blackberry",
              "proName": "NYSE:BB"
            }
            ],
            "showSymbolLogo": true,
            "colorTheme": "light",
            "isTransparent": true,
            "displayMode": "regular",
            "locale": "en"
            }
            </script>
    </div>
{% endblock %}

{% block main_content %}
    <div class="instructions">
        <p>Overview of the performance of the entire market.</p>
    </div>

    <div class="market_overview">
        <div id="more_info_div">
            <a class="more_info_btn" href="{% url 'short_interest' %}" onclick="clickAndDisable(this);">Short Interest</a>
            <a class="more_info_btn" href="{% url 'low_float' %}" onclick="clickAndDisable(this);">Low Float</a>
            <a class="more_info_btn" href="{% url 'ark_trades' %}" onclick="clickAndDisable(this);">ARK Fund</a>
            <a class="more_info_btn" href="{% url 'hedge_funds' %}" onclick="clickAndDisable(this);">Hedge Fund</a>
        </div>

        <h2>Market Overview</h2>

        <div class="selector_div">
            <div class="selector selected" onclick="select_selector(0)">Stocks</div>
            <div class="selector" onclick="select_selector(1)">Indices</div>
            <div class="selector" onclick="select_selector(2)">Commodities</div>
            <div class="selector" onclick="select_selector(3)">Forex</div>
            <div class="selector" onclick="select_selector(4)">Cryptocurrencies</div>
        </div>

        <div><i>For better experience, please view this on a large screen device.</i></div>

        <div class="scrollable_div">
            <div class="chart-container">
                <div class="tradingview-widget-container__widget"></div>
                <div class="tradingview-widget-copyright"></div>
                <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-market-quotes.js" async>
                {
                "width": "100%",
                "height": "100%",
                "locale": "en",
                "showSymbolLogo": true,
                "symbolsGroups": [
                    {
                        "name": "Financial",
                        "symbols": [
                            {
                                "name": "NYSE:JPM",
                                "displayName": "JP Morgan Chase & Co"
                            },
                            {
                                "name": "NYSE:WFC",
                                "displayName": "Wells Fargo Co New"
                            },
                            {
                                "name": "NYSE:BAC",
                                "displayName": "Bank America"
                            },
                            {
                                "name": "NYSE:HSBC",
                                "displayName": "HSBC Holdings"
                            },
                            {
                                "name": "NYSE:C",
                                "displayName": "Citigroup Inc"
                            },
                            {
                                "name": "NYSE:MA",
                                "displayName": "Mastercard Incorporated"
                            }
                        ]
                    },
                    {
                    "name": "Technology",
                    "symbols": [
                            {
                                "name": "NASDAQ:AAPL",
                                "displayName": "Apple"
                            },
                            {
                                "name": "NASDAQ:GOOGL",
                                "displayName": "Google Inc"
                            },
                            {
                                "name": "NASDAQ:MSFT",
                                "displayName": "Microsoft Corp"
                            },
                            {
                                "name": "NASDAQ:FB",
                                "displayName": "Facebook Inc"
                            },
                            {
                                "name": "NASDAQ:TSLA",
                                "displayName": "Tesla Inc"
                            },
                            {
                                "name": "NASDAQ:NVDA",
                                "displayName": "NVDA Corp"
                            }
                        ]
                    },
                    {
                    "name": "Services",
                    "symbols": [
                        {
                            "name": "NASDAQ:AMZN",
                            "displayName": "Amazon Com Inc"
                        },
                        {
                            "name": "NYSE:BABA",
                            "displayName": "Alibaba Group Hldg Ltd"
                        },
                        {
                            "name": "NYSE:SE",
                            "displayName": "Sea Ltd"
                        },
                        {
                            "name": "NYSE:T",
                            "displayName": "AT&T Inc"
                        },
                        {
                            "name": "NYSE:WMT",
                            "displayName": "Wal-mart Stores Inc"
                        },
                        {
                            "name": "NYSE:V",
                            "displayName": "Visa Inc"
                        }
                    ]
                    }
                ],
                "colorTheme": "light"
                }
                </script>
            </div>
        </div>

        <div class="scrollable_div">
            <div class="chart-container" style="display: none">
              <div class="tradingview-widget-container__widget"></div>
              <div class="tradingview-widget-copyright"></div>
              <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-market-quotes.js" async>
              {
              "width": "100%",
              "height": "100%",
              "locale": "en",
              "showSymbolLogo": true,
              "symbolsGroups": [
                {
                  "name": "US",
                  "symbols": [
                    {
                      "name": "FOREXCOM:SPXUSD",
                      "displayName": "S&P 500"
                    },
                    {
                      "name": "FOREXCOM:NSXUSD",
                      "displayName": "Nasdaq 100"
                    },
                    {
                      "name": "FOREXCOM:DJI",
                      "displayName": "Dow 30"
                    },
                    {
                      "name": "INDEX:DXY",
                      "displayName": "U.S. Dollar Currency Index"
                    }
                  ]
                },
                {
                  "name": "Europe",
                  "symbols": [
                    {
                      "name": "INDEX:SX5E",
                      "displayName": "Euro Stoxx 50"
                    },
                    {
                      "name": "FOREXCOM:UKXGBP",
                      "displayName": "UK 100"
                    },
                    {
                      "name": "INDEX:DEU30",
                      "displayName": "DAX Index"
                    },
                    {
                      "name": "INDEX:CAC40",
                      "displayName": "CAC 40 Index"
                    },
                    {
                      "name": "INDEX:SMI"
                    }
                  ]
                },
                {
                  "name": "Asia/Pacific",
                  "symbols": [
                    {
                      "name": "INDEX:NKY",
                      "displayName": "Nikkei 225"
                    },
                    {
                      "name": "INDEX:HSI",
                      "displayName": "Hang Seng"
                    },
                    {
                        "name": "SZSE:399001",
                        "displayName": "ShenZhen Comp"
                    },
                    {
                      "name": "BSE:SENSEX",
                      "displayName": "BSE SENSEX"
                    },
                    {
                      "name": "INDEX:KSIC",
                      "displayName": "Kospi Composite"
                    },
                    {
                    "name": "INDEX:STI",
                      "displayName": "Straits Times"
                    }
                  ]
                }
              ],
              "colorTheme": "light"
            }
              </script>
            </div>
        </div>

        <div class="scrollable_div">
            <div class="chart-container" style="display: none">
                <div class="tradingview-widget-container__widget"></div>
                <div class="tradingview-widget-copyright"></div>
                <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-market-quotes.js" async>
                {
                "width": "100%",
                "height": "100%",
                "locale": "en",
                "showSymbolLogo": true,
                "symbolsGroups": [
                    {
                    "name": "Energy",
                    "symbols": [
                        {
                            "name": "NYMEX:CL1!",
                            "displayName": "Crude Oil"
                        },
                        {
                            "name": "NYMEX:NG1!",
                            "displayName": "Natural Gas"
                        },
                        {
                            "name": "TVC:UKOIL",
                            "displayName": "Brent Oil"
                        },
                        {
                            "name": "NYMEX:RB1!",
                            "displayName": "Gasoline"
                        },
                        {
                            "name": "NYMEX:HO1!",
                            "displayName": "Heating Oil"
                        },
                        {
                            "name": "NYMEX:AEZ1!",
                            "displayName": "Ethanol"
                        }
                    ]
                    },
                    {
                    "name": "Metals",
                    "symbols": [
                        {
                            "name": "COMEX:GC1!",
                            "displayName": "Gold"
                        },
                        {
                            "name": "COMEX:SI1!",
                            "displayName": "Silver"
                        },
                        {
                            "name": "NYMEX:PL1!",
                            "displayName": "Platinum"
                        },
                        {
                            "name": "COMEX_MINI:QC1!",
                            "displayName": "Copper"
                        },
                        {
                            "name": "COMEX:ZNC1!",
                            "displayName": "Zinc"
                        }
                    ]
                    },
                    {
                    "name": "Agricultural",
                    "symbols": [
                        {
                            "name": "NYMEX:KT1!",
                            "displayName": "Coffee"
                        },
                        {
                            "name": "NYMEX:TT1!",
                            "displayName": "Cotton"
                        },
                        {
                            "name": "CBOT:ZS1!",
                            "displayName": "Soybean"
                        },
                        {
                            "name": "CBOT:ZW1!",
                            "displayName": "Wheat"
                        },
                        {
                            "name": "NYMEX:YO1!",
                            "displayName": "Sugar"
                        },
                        {
                            "name": "CBOT:ZC1!",
                            "displayName": "Corn"
                        }
                    ]
                    },
                    {
                    "name": "Interest Rates",
                    "symbols": [
                        {
                            "name": "CBOT:ZN1!",
                            "displayName": "10 Year T-Note"
                        },
                        {
                            "name": "CBOT:ZF1!",
                            "displayName": "5 Year T-Note"
                        },
                        {
                            "name": "CBOT:Z3N1!",
                            "displayName": "3 Year T-Note"
                        },
                        {
                            "name": "CBOT:ZT1!",
                            "displayName": "2 Year T-Note"
                        },
                        {
                            "name": "CBOT:ZQ1!",
                            "displayName": "30-day FED Funds IR"
                        },
                        {
                            "name": "CBOT:ZB1!",
                            "displayName": "T-Bond"
                        }
                    ]
                    }
                ],
                "colorTheme": "light"
                }
                </script>
            </div>
        </div>

        <div class="scrollable_div">
            <div class="chart-container" style="display: none">
                <div class="tradingview-widget-container__widget"></div>
                <div class="tradingview-widget-copyright"></div>
                <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-forex-heat-map.js" async>
                {
                    "width": "500px",
                    "currencies": [
                        "EUR",
                        "USD",
                        "JPY",
                        "GBP",
                        "CHF",
                        "AUD",
                        "CAD",
                        "NZD",
                        "CNY"
                    ],
                    "colorTheme": "light",
                    "locale": "en"
                }
                </script>
            </div>
        </div>

        <div class="scrollable_div">
            <div class="chart-container" style="display: none">
                <div class="tradingview-widget-container__widget"></div>
                <div class="tradingview-widget-copyright"></div>
                <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-screener.js" async>
                {
                    "width": "100%",
                    "height": "100%",
                    "defaultColumn": "overview",
                    "screener_type": "crypto_mkt",
                    "displayCurrency": "USD",
                    "colorTheme": "light",
                    "locale": "en"
                }
                </script>
            </div>
        </div>
    </div>
    <p>Data from: <a href="https://www.tradingview.com" target="_blank">tradingview.com</a></p>
{% endblock %}
