<!DOCTYPE html>
{% load static %}
{% load filter %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Opinion</title>
    <link rel="stylesheet" href="{% static 'style/opinion.css' %}">
    <script src="{% static 'javascript/opinion.js' %}"></script>
</head>

<body style="margin-left:3%;height:60vh;margin-top:70px;font-family:arial" onload="get_date()">
    <span id="date"></span>
    <ul>
        <li><a href="#guide">Basic guide for new investors</a></li>
        <li><a href="#top_stocks">Top 5 stocks to buy now</a></li>
    </ul>

    <div id="guide" style="margin-bottom:60px;"></div>
    <h2>Basic guide for new investors</h2>

    <h3>Investing in stocks</h3>
    <span>
        You can profit from owning stocks when the share price increases, or from quarterly dividend payments. Investments accumulate over time and can yield a solid return due to compound interest, which allows your interest to begin earning interest.
        <br><br>
        For example, you might make an initial investment of $1,000 and you plan to add $100 every month for 20 years. You'd end up with $75,457.50 after 20 years, even though you only contributed $25,000 over time, if you see an annual return of 10% interest.
    </span>

    <h3>Selling Stocks</h3>
    <span>
        Knowing when to sell is just as important as buying stocks. Most investors buy when the stock market is rising and sell when it's falling, but a wise investor follows a strategy based on their financial needs.
        <br><br>
        Keep an eye on the major market indices. The three largest U.S. indices are:
        <ul>
            <li>Dow Jones Industrial Average</li>
            <li>S&P 500</li>
            <li>Nasdaq</li>
        </ul>
        Don't panic if they enter a correction or a crash. These events don't tend to last very long, and history has shown that the market will climb again. Losing money is never fun, but it's smart to weather the storm of a down market and hold onto your investments because they may rise again.
    </span>
    <br><br>
    <span style="font-size: small;color: #858585;"><i>Credits: https://www.thebalance.com/the-complete-beginner-s-guide-to-investing-in-stock-358114</i></span>

    <div id="top_stocks" style="margin-bottom:60px;"></div>
    <h2>Top 5 stocks to buy now</h2>
    <h3>Ford ($F)</h3>
    <span>
        Ford stock is just above a 12.14 buy point after previously clearing a three-weeks-tight pattern. It is also rebounding from its 10-week moving average, which also serves as entry.
        <br><br>
        The RS line has been falling back after a strong spike from early January until mid-March. From a longer term perspective, it has been making progress, with periodic pullbacks, since May 2020. It is now at levels last seen in early 2019.
        <br><br>
        Ford stock has more than tripled from its 2020 lows. This improving stock market performance has helped its IBD Composite Rating improve to a strong, but not ideal, 86. This puts it in the top 14% of stocks tracked overall.
        <br><br>
        Earnings are improving, but are lagging its price performance. This is reflected in its EPS Rating of 75. Earnings have accelerated for the two quarters, with EPS growth coming in at 183% in the most recent quarter.
        <br><br>
        Ford stock has been bolstered by the firm taking a more aggressive stance on investments in electric vehicles and other technology.
        <br><br>
        Spending in electric and autonomous vehicles will total $29 billion through 2025, more than double prior guidance of $11.5 billion. Of the $29 billion, Ford will spend $22 billion on EVs and $7 billion on autonomy.
        <br><br>
        The bigger amount even outpaces the $27 billion commitment from rival GM, which had already hiked it from $20 billion.
        <br><br>
        "We are accelerating all our plans – breaking constraints, increasing battery capacity, improving costs and getting more electric vehicles into our product cycle plan," CEO Jim Farley said when the firm posted earnings in February.
        <br><br>
        However, the company said chip shortages will hurt production and profit this year. It has had to cut production of its lucrative F-150 pickup due to chip shortages.
        <br><br>
        The iconic auto giant is ticking boxes for CAN SLIM investors, who look out for firms bringing new products to market.
        <br><br>
        The Ford Mustang Mach-E launched at the end of 2020 and picked up steam in February. The electric crossover competes with Tesla's Model Y.
        <br><br>
        Ford also has launched the Mach-E in Europe and has begun production of the Mach-E in China.
        <br><br>
        It is also an investor in electric truck maker Rivian, whose shares could go public as soon as September and set a record for the biggest EV IPO.
        <br><br>
        Ford stock rose in February after it announced a six-year partnership with Google parent Alphabet (GOOGL) to develop more connected vehicles. The partnership will put Google apps and services into future Ford and Lincoln vehicles.
    </span>
    <h3>Testing</h3>
    <span>
        Testing12345 Testing12345 Testing12345 Testing12345 Testing12345 Testing12345 Testing12345 Testing12345 Testing12345 Testing12345 Testing12345 Testing12345 Testing12345 Testing12345 Testing12345 
    </span>
    <h3>Testing</h3>
    <span>
        Testing12345 Testing12345 Testing12345 Testing12345 Testing12345 Testing12345 Testing12345 Testing12345 Testing12345 Testing12345 Testing12345 Testing12345 Testing12345 Testing12345 Testing12345 
    </span>
    <h3>Testing</h3>
    <span>
        Testing12345 Testing12345 Testing12345 Testing12345 Testing12345 Testing12345 Testing12345 Testing12345 Testing12345 Testing12345 Testing12345 Testing12345 Testing12345 Testing12345 Testing12345 
    </span>
        <h3>Testing</h3>
    <span>
        Testing12345 Testing12345 Testing12345 Testing12345 Testing12345 Testing12345 Testing12345 Testing12345 Testing12345 Testing12345 Testing12345 Testing12345 Testing12345 Testing12345 Testing12345 
    </span>
    <br><br>
    <span style="font-size: small;color: #858585;"><i>Note that this is not financial advice. Please do your own due-diligence (DD) before making an investment.</i></span>
</body>
</html>