{% extends "format.html" %}
{% load static %}
{% load filter %}

{% block title %}StocksEra | Penny Stocks{% endblock %}

{% block additional_script %}
<link rel="stylesheet" href="{% static 'style/penny_stocks.css' %}">
<script src="{% static 'javascript/penny_stocks.js' %}"></script>
{% endblock %}

{% block onload_properties%}restore_dark_mode();{% endblock %}

{% block main_nav %}
    <div class="ticker-wrap">
        <div class="ticker">
            {% for name in popular_name_list|length|get_range %}
            <div class="ticker_item">
                <b>{{popular_name_list|index:name}} &#183 {{price_list|index:name|index:0}} <span> {{price_list|index:name|index:1}} ({{price_list|index:name|index:2}}%) </span></b>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block main_content %}
    <div class="penny">
        <div class="header">Penny Stocks</div>
        <div class="table_div">
            {{ df_penny_stocks|safe }}
        </div>
    </div>
{% endblock %}