<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>StocksEra | Insider Trading</title>
    <link rel="stylesheet" href="{% static 'style/format.css' %}">
    <link rel="stylesheet" href="{% static 'style/recent_news.css' %}">
    <script src="{% static 'javascript/format.js' %}"></script>
    <script src="{% static 'javascript/recent_news.js' %}"></script>
</head>
<body onload="remove_spinner();load_table_url();restore_dark_mode()">
    <script>restore_dark_mode()</script>
    <div class="scrollable_div" style="max-height:450px">
        {{recent_news_df|safe}}
    </div>
</body>
</html>