{% extends "format.html" %}
{% load static %}
{% load filter %}

{% block title %}StocksEra | Reddit Sentiment{% endblock %}

{% block additional_script %}
<link rel="stylesheet" href="{% static 'style/reddit_sentiment.css' %}">
<script src="{% static 'javascript/reddit_sentiment.js' %}"></script>
{% endblock %}

{% block onload_properties%}restore_dark_mode();check_table(){% endblock %}

{% block main_nav %}
    <div class="ticker-wrap">
        <div class="ticker">
            {% for name in popular_name_list|length|get_range %}
            <div class="ticker_item">
                <b>{{popular_name_list|index:name}} &#183 {{price_list|index:name|index:0}} <span> {{price_list|index:name|index:1}} ({{price_list|index:name|index:2}}%) </span></b>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block main_content %} 
    <div class="instructions">
        <p>This page shows the sentiment of tickers in Reddit in the last 24H. Deleted posts, flairs, number of posts are also taken into account. Data is refreshed about 1H before 09:30 NYSE (market open) daily.</p>
    </div>
    <form action="" method="GET" autocomplete="off">
        <div class="select_div">
            <select name="subreddit" onchange="this.form.submit()">
                <option>Selected: {{subreddit_selected}}</option>
                <option value="wallstreetbets">Wall Street Bets</option>
                <option value="stocks">Stocks</option>
                <option value="stockmarket">Stock Market</option>
            </select>
        </div>
    </form>
    
    <div class="table_data">
        <div id="filter_section" style="display:none">
            To remove a column from the table, select the buttons below. To add back that column, select the same button again. Click reset to restore default.
            <br>
            <div id="1-filter" class="filter_contents" onclick="filter_table(this)">48H Score &#x2716;</div>
            <div id="2-filter" class="filter_contents" onclick="filter_table(this)">24H Score &#x2716;</div>
            <div id="3-filter" class="filter_contents" onclick="filter_table(this)">24H - 48H Score &#x2716;</div>
            <div id="4-filter" class="filter_contents" onclick="filter_table(this)">% Score Change &#x2716;</div>
            <div id="5-filter" class="filter_contents" onclick="filter_table(this)">Previous Close &#x2716;</div>
            <div id="6-filter" class="filter_contents" onclick="filter_table(this)">Volume &#x2716;</div>
            <div id="7-filter" class="filter_contents" onclick="filter_table(this)">Market Cap &#x2716;</div>
            <div id="8-filter" class="filter_contents" onclick="filter_table(this)">1D % Price Change &#x2716;</div>
            <div id="9-filter" class="filter_contents" onclick="filter_table(this)">50D % Price Change &#x2716;</div>
            <div id="10-filter" class="filter_contents" onclick="filter_table(this)">Floating Shares &#x2716;</div>
            <div id="11-filter" class="filter_contents" onclick="filter_table(this)">Beta &#x2716;</div>
            <div id="12-filter" class="filter_contents" onclick="filter_table(this)">Shares/Float &#x2716;</div>
            <div id="13-filter" class="filter_contents" onclick="filter_table(this)">Price Target &#x2716;</div>
            <div id="14-filter" class="filter_contents" onclick="filter_table(this)">Recommend &#x2716;</div>
            <div id="15-filter" class="filter_contents" onclick="filter_table(this)">Industry &#x2716;</div>
            <div class="filter_contents" style="padding:5px" onclick="reset_table();searchTicker()">Reset</div>
            <input type="text" placeholder="Ticker:" autocomplete="off" class="filter_ticker" id="search_ticker" onkeyup="searchTicker()">
        </div>

        <div id="reddit_table_section" style="display:none">
            <div style="overflow-x:scroll;">
                <table id="reddit_table">
                    <thead>
                        <tr>
                            <th onclick="sortTable(0)" class="th-sort-desc" id='0'>Ticker</th>
                            <th onclick="sortTable(1)" class="th-sort-desc" id='1'>48H Score</th>
                            <th onclick="sortTable(2)" class="th-sort-desc" id='2'>24H Score</th>
                            <th onclick="sortTable(3)" class="th-sort-desc" id='3'>24H - 48H Score</th>
                            <th onclick="sortTable(4)" class="th-sort-desc" id='4'>% Score Change</th>
                            <th onclick="sortTable(5)" class="th-sort-desc" id='5'>Previous Close</th>
                            <th onclick="sortTable(6)" class="th-sort-desc" id='6'>Volume</th>
                            <th onclick="sortTable(7)" class="th-sort-desc" id='7'>Mkt Cap</th>
                            <th onclick="sortTable(8)" class="th-sort-desc" id='8'>1D % Price Change</th>
                            <th onclick="sortTable(9)" class="th-sort-desc" id='9'>50D % Price Change</th>
                            <th onclick="sortTable(10)" class="th-sort-desc" id='10'>Floating Shares</th>
                            <th onclick="sortTable(11)" class="th-sort-desc" id='11'>Beta</th>
                            <th onclick="sortTable(12)" class="th-sort-desc" id='12'>Shorts/Float</th>
                            <th onclick="sortTable(13)" class="th-sort-desc" id='13'>Price Target</th>
                            <th onclick="sortTable(14)" class="th-sort-desc" id='14'>Recommend</th>
                            <th onclick="sortTable(15)" class="th-sort-desc" id='15'>Industry</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for ticker in trending_tickers %}
                        <tr>
                            <td><a href="{% url 'ticker' %}?quote={{ticker.0}}" target="_blank">{{ticker.0}}</a></td>
                            <td>{{ticker.1}}</td>
                            <td>{{ticker.2}}</td>
                            <td>{{ticker.3}}</td>
                            <td>{{ticker.4}}%</td>
                            <td>${{ticker.8}}</td>
                            <td>{{ticker.11}}</td>
                            <td>{{ticker.12}}</td>
                            <td>{{ticker.9}}</td>
                            <td>{{ticker.10}}</td>
                            <td>{{ticker.13}}</td>
                            <td>{{ticker.14}}</td>
                            <td>{{ticker.15}}</td>
                            <td>{{ticker.21}}</td>
                            <td>{{ticker.22}}</td>
                            <td>{{ticker.16}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                Last Updated: {{trending_tickers.0.23}} UTC
            </div>
        </div>
    </div>
{% endblock %}
