{% extends "format.html" %}
{% load static %}
{% load filter %}

{% block title %}StocksEra | Reddit ETF{% endblock %}

{% block additional_script %}
<link rel="stylesheet" href="{% static 'style/reddit_etf.css' %}">
<script src="{% static 'javascript/reddit_etf.js' %}"></script>
{% endblock %}

{% block onload_properties%}restore_dark_mode();check_table(){% endblock %}

{% block main_nav %}
    <a href="/">Stocksera</a> /
    <a href="/reddit_analysis/?subreddit=wallstreetbets">Reddit Sentiment</a> /
    <a href="/reddit_etf">Reddit ETF</a>
{% endblock %}

{% block main_content %}
    <script>highlight_selected_nav('reddit')</script>
    <div class="instructions">
        <h2>Reddit ETF</h2>
        <p>Reddit ETF is based on the trending stocks on WSB.
            If a new ticker enters the Top 10 trending ticker list before the market opens, $10000 worth of shares will be bought.
            Any ticker that falls out of the Top 10 list will be sold. All trades will be conducted the moment market opens.
            <br><br>
            Starting from 2021-09-01, the ETFs listed: SPY, QQQ, TQQQ, DIA <b>will no longer be purchased by Reddit ETF</b>.
            <br><br>
            <b>Do note that this is not financial advice.</b> All "trades" are conducted solely based on tickers' popularity in r/wallstreetbets.
        </p>
    </div>

    <div class="instructions">
        <h2>Other Datasets Available</h2>
        <div class="more_info_div_parent">
            <div class="more_info_div"><a class="more_info_btn" href="/reddit_analysis" onclick="clickAndDisable(this);">Trending Stocks</a></div>
            <div class="more_info_div"><a class="more_info_btn" href="/reddit_analysis/?subreddit=cryptocurrency" onclick="clickAndDisable(this);">Trending Crypto</a></div>
            <div class="more_info_div"><a class="more_info_btn current_link" href="{% url 'reddit_etf' %}" onclick="clickAndDisable(this);">WSB ETF</a></div>
            <div class="more_info_div"><a class="more_info_btn" href="{% url 'subreddit_count' %}" onclick="clickAndDisable(this);">Subreddit Stats</a></div>
        </div>
    </div>

    <div class="contents_div">
        <div>
            <p class="table_title">Current Trades (Unrealized PnL: <span>{{unrealized_PnL}}</span>)</p>
            <div class="scrollable_div">
                <form action="" method="POST"> {% csrf_token %}
                    <table id="current_trade">
                        <thead>
                            <tr>
                                <th>Ticker</th>
                                <th>Buy Date</th>
                                <th>Buy Price</th>
                                <th>Num Shares</th>
                                <th>Last Refreshed Price</th>
                                <th>Unrealized PnL</th>
                                <th>% Change</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for ticker in open_trade %}
                                <tr>
                                    <td><a href="{% url 'ticker' %}?quote={{ticker.0}}" target="_blank"><img src="https://g.foolcdn.com/art/companylogos/mark/{{ticker.0}}.png" class="table_ticker_logo" onerror="this.error=null;load_table_error_img(this, '{{ticker.0}}')"><b>{{ticker.0}}</b></a></td>
                                    <td>{{ticker.1}}</td>
                                    <td>${{ticker.2}}</td>
                                    <td>{{ticker.3}}</td>
                                    <td>${{ticker.5}}</td>
                                    <td>{{ticker.6}}</td>
                                    <td>{{ticker.7}}%</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
        <div>
            <p class="table_title">Previous Trades (Realized PnL: <span>{{realized_PnL}}</span>)</p>
            <div class="previous_trades_stats"></div>
            <div class="search_bar">
                <input type="text" class="ticker_input" placeholder="Ticker: " onkeyup="searchTicker(this)" style="border: 1px solid gray; border-radius: 5px">
            </div>
            <div class="scrollable_div">
            <table id="previous_trades">
                    <thead>
                        <tr>
                            <th onclick="sortTable(0)" class="th-sort-desc" id='0'>Ticker</th>
                            <th onclick="sortTable(1)" class="th-sort-desc" id='1'>Open Date</th>
                            <th onclick="sortTable(2)" class="th-sort-desc" id='2'>Open Price</th>
                            <th onclick="sortTable(3)" class="th-sort-desc" id='3'>Num Shares</th>
                            <th onclick="sortTable(4)" class="th-sort-desc" id='4'>Close Date</th>
                            <th onclick="sortTable(5)" class="th-sort-desc" id='5'>Close Price</th>
                            <th onclick="sortTable(6)" class="th-sort-desc" id='6'>Realized PnL</th>
                            <th onclick="sortTable(7)" class="th-sort-desc" id='7'>% Change</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for ticker in close_trade %}
                            <tr>
                                <td><a href="{% url 'ticker' %}?quote={{ticker.0}}" target="_blank"><img src="https://g.foolcdn.com/art/companylogos/mark/{{ticker.0}}.png" class="table_ticker_logo" onerror="this.error=null;load_table_error_img(this, '{{ticker.0}}')"><b>{{ticker.0}}</b></a></td>
                                <td>{{ticker.1}}</td>
                                <td>${{ticker.2}}</td>
                                <td>{{ticker.3}}</td>
                                <td>{{ticker.4}}</td>
                                <td>${{ticker.5}}</td>
                                <td>{{ticker.6}}</td>
                                <td>{{ticker.7}}%</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}