{% extends "format.html" %}
{% load static %}
{% load filter %}

{% block title %}StocksEra | Retail Sales{% endblock %}

{% block additional_script %}
<link rel="stylesheet" href="{% static 'style/retail_sales.css' %}">
<script src="{% static 'javascript/retail_sales.js' %}"></script>
{% endblock %}

{% block onload_properties%}restore_dark_mode();display_table();retail_sales(48){% endblock %}

{% block main_nav %}
    <a href="/">Stocksera</a> /
    <a href="/market_overview">Discover</a> /
    <a href="/reverse_repo">Economy</a> /
    <a href="/retail_sales">Retail Sales</a>
{% endblock %}

{% block main_content %}
    <script>highlight_selected_nav('economy')</script>
    <div class="instructions">
        <h2>Retail Sales</h2>
        <p> US Retail Sales measures the total sales within the US economy.
            Retail sales are a good gauge of how the economy is doing.
            It can also give an idea of whether or not consumers are using their discretionary income.
        </p>
    </div>

    <div class="instructions">
        <h2>Other Datasets Available</h2>
        <div class="more_info_div_parent">
            <div class="more_info_div"><a class="more_info_btn" href="{% url 'reverse_repo' %}" onclick="clickAndDisable(this);">Reverse Repo</a></div>
            <div class="more_info_div"><a class="more_info_btn" href="{% url 'daily_treasury' %}" onclick="clickAndDisable(this);">Treasury</a></div>
            <div class="more_info_div"><a class="more_info_btn" href="{% url 'inflation' %}" onclick="clickAndDisable(this);">Inflation</a></div>
            <div class="more_info_div"><a class="more_info_btn current_link" href="{% url 'retail_sales' %}" onclick="clickAndDisable(this);">Retail Sales</a></div>
        </div>
    </div>

    <div class="retail_sales">
          <div class="date_selector">
            <button name="date_range" onclick="btn_selected(this); retail_sales(3)">3 Months</button>
            <button name="date_range" onclick="btn_selected(this); retail_sales(6)">6 Months</button>
            <button name="date_range" onclick="btn_selected(this); retail_sales(12)">1 Year</button>
            <button name="date_range" onclick="btn_selected(this); retail_sales(48)" class="selected">Max</button>
        </div>

        <div class="chart-container">
            <canvas id="retail_sales_chart"></canvas>
        </div>

        <div class="scrollable_div">
            {{retail_stats|safe}}
        </div>
    </div>
{% endblock %}

{% block bottom_script %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
{% endblock %}