<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>StocksEra | SEC Fillings</title>
    <link rel="stylesheet" href="{% static 'style/format.css' %}">
    <link rel="stylesheet" href="{% static 'style/sec_fillings.css' %}">
    <script src="{% static 'javascript/format.js' %}"></script>
    <script src="{% static 'javascript/sec_fillings.js' %}"></script>
</head>
<body onload="load_table_url();restore_dark_mode();">
    <script>restore_dark_mode()</script>
    <div class="scrollable_div" style="max-height:450px">
        {{sec_fillings_df|safe}}
    </div>
</body>
</html>