{% extends "format.html" %}
{% load static %}
{% load filter %}

{% block title %}Stocksera | Setup {% endblock %}

{% block additional_script %}
<link rel="stylesheet" href="{% static 'style/setup.css' %}">
<script>
    function isLocallyHosted() {
        if (document.getElementById("locally_hosted").value == "True") {
            document.getElementById("locally_hosted_options_api_key").style.display = "none";
            document.getElementById("stocksera_base_url_value").value = "http://127.0.0.1:8000/api";
        } else {
            document.getElementById("locally_hosted_options_api_key").style.removeProperty("display");
            document.getElementById("stocksera_base_url_value").value = "https://stocksera.pythonanywhere.com/api";
        }
    }
</script>
{% endblock %}

{% block onload_properties%}isLocallyHosted(){% endblock %}

{% block main_nav %}
    <a href="/">Stocksera</a> /
    <a href="/setup">Setup</a>
{% endblock %}

{% block main_content %}
<script>highlight_selected_nav('tasks')</script>
<div>
    <div class="more_info_div_parent">
        <div class="more_info_div current_link"><a href="/setup">Setup</a></div>
        <div class="more_info_div"><a href="/tasks">Tasks</a></div>
    </div>

    <div class="instructions">
        <h2>Setup</h2>
        <p>
            All-in-one-dashboard for you to setup your API.
        </p>
    </div>

    <div class="contents_div">
        <div class="scrollable_div" style="max-height: 800px">
            {{ df|safe }}
        </div>
        <form action="/setup/" method="POST"> {% csrf_token %}
            <table>
                <tr>
                    <th>Settings</th>
                    <th>Key</th>
                </tr>
                <tr>
                    <td>Is Locally Hosted</td>
                    <input placeholder="Value" value="IS_LOCALLY_HOSTED" name="locally_hosted" style="display: none">
                    <td>
                        <select name="locally_hosted_value" onchange="isLocallyHosted()" id="locally_hosted">
                            <option value="{{config.IS_LOCALLY_HOSTED}}">{{config.IS_LOCALLY_HOSTED}}</option>
                            <option>True</option>
                            <option>False</option>
                        </select>
                    </td>
                    <tr>
                        <td>Stocksera Base URL</td>
                        <input placeholder="Value" value="STOCKSERA_BASE_URL" name="stocksera_base_url" style="display: none">
                        <td><input id="stocksera_base_url_value" placeholder="Value" value="{{config.STOCKSERA_BASE_URL}}" name="stocksera_base_url_value"></td>
                    </tr>
                    <tr id="locally_hosted_options_api_key" style="display: none">
                        <td>Stocksera API</td>
                        <input placeholder="Value" value="STOCKSERA_API" name="stocksera_api" style="display: none">
                        <td><input placeholder="Value" value="{{config.STOCKSERA_API}}" name="stocksera_api_value"></td>
                    </tr>
                </tr>
                <tr></tr>
            </table>

            <table>
                <tr>
                    <th>API</th>
                    <th>Key</th>
                </tr>
                <tr>
                    <td>Finnhub</td>
                    <input placeholder="Value" value="FINNHUB_KEY1" name="finnhub_api" style="display: none">
                    <td><input placeholder="Value" value="{{config.FINNHUB_KEY1}}" name="finnhub_api_value"></td>
                </tr>
                <tr>
                    <td>Financial Modeling Prep</td>
                    <input placeholder="Value" value="FMP_KEY" name="fmp_api" style="display: none">
                    <td><input placeholder="Value" value="{{config.FMP_KEY}}" name="fmp_api_value"></td>
                </tr>
                <tr>
                    <td>Polygon</td>
                    <input placeholder="Value" value="POLYGON_KEY" name="polygon_api" style="display: none">
                    <td><input placeholder="Value" value="{{config.POLYGON_KEY}}" name="polygon_api_value"></td>
                </tr>
                <tr>
                    <td>Twitter Bearer Token</td>
                    <input placeholder="Value" value="TWITTER_BEARER_TOKEN" name="twitter_api" style="display: none">
                    <td><input placeholder="Value" value="{{config.TWITTER_BEARER_TOKEN}}" name="twitter_api_value"></td>
                </tr>
                <tr>
                    <td>Reddit Client ID</td>
                    <input placeholder="Value" value="REDDIT_CLIENT_ID" name="reddit_id_api" style="display: none">
                    <td><input placeholder="Value" value="{{config.REDDIT_CLIENT_ID}}" name="reddit_id_api_value"></td>
                </tr>
                <tr>
                    <td>Reddit Client Secret</td>
                    <input placeholder="Value" value="REDDIT_CLIENT_SECRET" name="reddit_sec_api" style="display: none">
                    <td><input placeholder="Value" value="{{config.REDDIT_CLIENT_SECRET}}" name="reddit_sec_api_value"></td>
                </tr>
                <tr>
                    <td>Whale Alert</td>
                    <input placeholder="Value" value="WHALE_ALERT" name="whalealert_api" style="display: none">
                    <td><input placeholder="Value" value="{{config.WHALE_ALERT}}" name="whalealert_api_value"></td>
                </tr>
                <tr></tr>
            </table>

            <table>
                <tr>
                    <th>Database</th>
                    <th>Key</th>
                    <th></th>
                </tr>
                <tr>
                    <td>MYSQL Database</td>
                    <input placeholder="Value" value="MYSQL_DATABASE" name="mysql_db" style="display: none">
                    <td><input placeholder="Value" value="{{config.MYSQL_DATABASE}}" name="mysql_db_value"></td>
                </tr>
                <tr>
                    <td>MYSQL Host</td>
                    <input placeholder="Value" value="MYSQL_HOST" name="mysql_host" style="display: none">
                    <td><input placeholder="Value" value="{{config.MYSQL_HOST}}" name="mysql_host_value"></td>
                </tr>
                <tr>
                    <td>MYSQL Password</td>
                    <input placeholder="Value" value="MYSQL_PASSWORD" name="mysql_pw" style="display: none">
                    <td><input placeholder="Value" value="{{config.MYSQL_PASSWORD}}" name="mysql_pw_value"></td>
                </tr>
                <tr>
                    <td>MYSQL Port</td>
                    <input placeholder="Value" value="MYSQL_PORT" name="mysql_port" style="display: none">
                    <td><input placeholder="Value" value="{{config.MYSQL_PORT}}" name="mysql_port_value"></td>
                </tr>
                <tr>
                    <td>MYSQL User</td>
                    <input placeholder="Value" value="MYSQL_USER" name="mysql_user" style="display: none">
                    <td><input placeholder="Value" value="{{config.MYSQL_USER}}" name="mysql_user_value"></td>
                </tr>
                <tr></tr>
            </table>
            <button class="submit_button">Confirm Changes</button>
        </form>
    </div>
</div>
{% endblock %}
