{% extends "format.html" %}
{% load static %}
{% load filter %}

{% block title %}StocksEra | Subscribers{% endblock %}

{% block additional_script %}
<link rel="stylesheet" href="{% static 'style/subreddit_count.css' %}">
<script>
    var subscribers_list = {{subscribers|safe}}
</script>
<script src="{% static 'javascript/subreddit_count.js' %}"></script>
{% endblock %}

{% block onload_properties%}restore_dark_mode();subreddit_count(48){% endblock %}
 
{% block main_nav %}
    <div class="ticker-wrap">
        <div class="tradingview-widget-container">
            <div class="tradingview-widget-container__widget"></div>
        </div>
        <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" async>
            {
            "symbols": [
            {
              "proName": "FOREXCOM:SPXUSD",
              "title": "S&P 500"
            },
            {
              "proName": "FOREXCOM:NSXUSD",
              "title": "Nasdaq 100"
            },
            {
              "description": "Apple",
              "proName": "NASDAQ:AAPL"
            },
            {
              "description": "Tesla, Inc",
              "proName": "NASDAQ:TSLA"
            },
            {
              "description": "Nvidia",
              "proName": "NASDAQ:NVDA"
            },
            {
              "description": "Microsoft",
              "proName": "NASDAQ:MSFT"
            },
            {
              "description": "Alphabet",
              "proName": "NASDAQ:GOOGL"
            },
            {
              "description": "Amazon",
              "proName": "NASDAQ:AMZN"
            },
            {
              "description": "JP Morgan",
              "proName": "NYSE:JPM"
            },
            {
              "description": "Paypal",
              "proName": "NASDAQ:PYPL"
            },
            {
              "description": "GameStop",
              "proName": "NYSE:GME"
            },
            {
              "description": "AMC",
              "proName": "NYSE:AMC"
            },
            {
              "description": "Blackberry",
              "proName": "NYSE:BB"
            }
            ],
            "showSymbolLogo": true,
            "colorTheme": "light",
            "isTransparent": true,
            "displayMode": "regular",
            "locale": "en"
            }
            </script>
    </div>
{% endblock %}

{% block main_content %}
    <div class="instructions">
        <h2>Subreddit Statistics</h2>
        <p>Identify number of new members in your favourite sub-reddit. Data is updated once daily, one hour before market opens. New features coming really soon!</p>
    </div>

    <div id="more_info_div">
        <a class="more_info_btn" href="{% url 'reddit_analysis' %}" onclick="clickAndDisable(this);">Trending</a>
        <a class="more_info_btn" href="{% url 'reddit_etf' %}" onclick="clickAndDisable(this);">WSB ETF</a>
    </div>

    <div class="subreddit_count">
        <div class="date_selector">
            <button name="date_range" onclick="btn_selected(this); subreddit_count(1)">1 Month</button>
            <button name="date_range" onclick="btn_selected(this); subreddit_count(3)">3 Months</button>
            <button name="date_range" onclick="btn_selected(this); subreddit_count(48)" class="selected">Max</button>
        </div>

        <h2>% Growth in users over time</h2>
        <div class="chart-container">
            <canvas id="growth_chart"></canvas>
        </div>

        <h2>% Active Users</h2>
        <div class="active_users_div">Data is collected from 2021-05-19 onwards, 1H before market open hours daily.</div>
        <div class="chart-container">
            <canvas id="active_chart"></canvas>
        </div>

        <div class="subreddit_intro">
            <div><img src="{% static 'images/subreddit_icon/wallstreetbets.png' %}"></div>
            <div class="main_div">
                <div>
                    <div class="lg">wallstreetbets</div>
                    <div class="sm">r/wallstreetbets
                        <div class="explore"><a href="https://www.reddit.com/r/wallstreetbets" target="_blank">Explore ></a></div>
                    </div>
                </div>
                <div class="subreddit_diff">
                    <div id="wsb_diff"></div>
                </div>
            </div>
        </div>
        <div class="subreddit_summary">
            <div></div>
        </div>
        <div class="chart-container">
            <canvas id="wsb_chart"></canvas>
        </div>

        <div class="subreddit_intro">
            <img src="{% static 'images/subreddit_icon/stocks.png' %}">
            <div class="main_div">
            <div>
                <div class="lg">Stocks - Investing and trading for all</div>
                <div class="sm">r/stocks
                    <div class="explore"><a href="https://www.reddit.com/r/stocks" target="_blank">Explore ></a></div>
                </div>
            </div>
            </div>
            <div class="subreddit_diff">
                <div id="stocks_diff"></div>
            </div>
        </div>
        <div class="chart-container">
            <canvas id="stocks_chart"></canvas>
        </div>

        <div class="subreddit_intro">
            <img src="{% static 'images/subreddit_icon/stockmarket.png' %}">
            <div class="main_div">
                <div>
                    <div class="lg">r/StockMarket - Reddit's Front Page of the Stock Market</div>
                    <div class="sm">r/StockMarket
                        <div class="explore"><a href="https://www.reddit.com/r/stockmarket" target="_blank">Explore ></a></div>
                    </div>
                </div>
                <div class="subreddit_diff">
                    <div id="stockmarket_diff"></div>
                </div>
            </div>
        </div>
        <div class="chart-container">
            <canvas id="StockMarket_chart"></canvas>
        </div>

        <div class="subreddit_intro">
            <img src="{% static 'images/subreddit_icon/gme.png' %}">
            <div class="main_div">
                <div>
                    <div class="lg">GameStop Stock</div>
                    <div class="sm">r/GME
                        <div class="explore"><a href="https://www.reddit.com/r/gme" target="_blank">Explore ></a></div>
                    </div>
                </div>
                <div class="subreddit_diff">
                    <div id="gamestop_diff"></div>
                </div>
            </div>
        </div>
        <div class="chart-container">
            <canvas id="gme_chart"></canvas>
        </div>

        <div class="subreddit_intro">
            <img src="{% static 'images/subreddit_icon/superstonk.png' %}">
            <div class="main_div">
                <div>
                    <div class="lg">🦍💎Superstonk✋🚀</div>
                    <div class="sm">r/Superstonk
                        <div class="explore"><a href="https://www.reddit.com/r/superstonk" target="_blank">Explore ></a></div>
                    </div>
                </div>
                <div class="subreddit_diff">
                    <div id="superstonk_diff"></div>
                </div>
            </div>
        </div>
        <div class="chart-container">
            <canvas id="superstonk_chart"></canvas>
        </div>

        <div class="subreddit_intro">
            <img src="{% static 'images/subreddit_icon/amc.png' %}">
            <div class="main_div">
                <div>
                    <div class="lg">amcstock</div>
                    <div class="sm">r/amcstock
                        <div class="explore"><a href="https://www.reddit.com/r/amcstock" target="_blank">Explore ></a></div>
                    </div>
                </div>
                <div class="subreddit_diff">
                    <div id="amc_diff"></div>
                </div>
            </div>
        </div>
        <div class="chart-container">
            <canvas id="amc_chart"></canvas>
        </div>

        <div class="subreddit_intro">
            <img src="{% static 'images/subreddit_icon/options.png' %}">
            <div class="main_div">
                <div>
                    <div class="lg">Options</div>
                    <div class="sm">r/Options
                        <div class="explore"><a href="https://www.reddit.com/r/options" target="_blank">Explore ></a></div>
                    </div>
                </div>
                <div class="subreddit_diff">
                    <div id="options_diff"></div>
                </div>
            </div>
        </div>
        <div class="chart-container">
            <canvas id="options_chart"></canvas>
        </div>

        <div class="subreddit_intro">
            <img src="{% static 'images/subreddit_icon/pennystocks.png' %}">
            <div class="main_div">
                <div>
                    <div class="lg">Pennystocks</div>
                    <div class="sm">r/pennystocks
                        <div class="explore"><a href="https://www.reddit.com/r/pennystocks" target="_blank">Explore ></a></div>
                    </div>
                </div>
                <div class="subreddit_diff">
                    <div id="pennystocks_diff"></div>
                </div>
            </div>
        </div>
        <div class="chart-container">
            <canvas id="pennystocks_chart"></canvas>
        </div>

        <div class="subreddit_intro">
            <img src="{% static 'images/subreddit_icon/investing.png' %}">
            <div class="main_div">
                <div>
                    <div class="lg">Investing - Lose money with friends!</div>
                    <div class="sm">r/investing
                        <div class="explore"><a href="https://www.reddit.com/r/investing" target="_blank">Explore ></a></div>
                    </div>
                </div>
                <div class="subreddit_diff">
                    <div id="investing_diff"></div>
                </div>
            </div>
        </div>
        <div class="chart-container">
            <canvas id="investing_chart"></canvas>
        </div>


        <div class="subreddit_intro">
            <img src="{% static 'images/subreddit_icon/crypto_currency.png' %}">
            <div class="main_div">
                <div>
                    <div class="lg">Cryptocurrency News & Discussion</div>
                    <div class="sm">r/CryptoCurrency
                        <div class="explore"><a href="https://www.reddit.com/r/CryptoCurrency" target="_blank">Explore ></a></div>
                    </div>
                </div>
                <div class="subreddit_diff">
                    <div id="crypto_diff"></div>
                </div>
            </div>
        </div>
        <div class="chart-container">
            <canvas id="crypto_chart"></canvas>
        </div>
    </div>
{% endblock %}

{% block bottom_script %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
{% endblock %}

<script type="text/javascript">
    function find_day_gain(list_name, id) {
        list_length = list_name.length;
        var diff = list_name[list_length-1] - list_name[list_length-2];
        var percentage_diff = Math.round(diff / list_name[list_length-2] * 10000) / 100
        document.getElementById(id).innerHTML = "+" + diff + "<br> +" + percentage_diff + "%";
    }

    find_day_gain(wsb_count, "wsb_diff")
    find_day_gain(stocks_count, "stocks_diff")
    find_day_gain(StockMarket_count, "stockmarket_diff")
    find_day_gain(options_count, "options_diff")
    find_day_gain(gme_count, "gamestop_diff")
    find_day_gain(superstonk_count, "superstonk_diff")
    find_day_gain(amc_count, "amc_diff")
    find_day_gain(pennystocks_count, "pennystocks_diff")
    find_day_gain(investing_count, "investing_diff")
    find_day_gain(crypto_count, "crypto_diff")

</script>
