<!DOCTYPE html>
{% load static %}
{% load filter %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ticker Price</title>
    <link rel="stylesheet" href="{% static 'style/ticker_price.css' %}">
    <script src="{% static 'javascript/ticker_price.js' %}"></script>
</head>

<body style="margin-left:3%;height:62vh;margin-top:60px;font-family:arial" onload="display_data()">
    <form action="" method="POST" autocomplete="off"> {% csrf_token %}
        <div class="instructions" style="width: 70%;">
            <p style="margin: 1%;">Enter a ticker symbol you are interested to view or click any of the buttons below!</p>
            <button name="ticker_btn" value="TSLA">TSLA</button>
            <button name="ticker_btn" value="GME">GME</button>
            <button name="ticker_btn" value="AMC">AMC</button>
            <button name="ticker_btn" value="NIO">NIO</button>
            <button name="ticker_btn" value="NFLX">NFLX</button>
            <button name="ticker_btn" value="AMZN">AMZN</button>
            <button name="ticker_btn" value="BB">BB</button>
            <button name="ticker_btn" value="F">F</button>
            <button name="ticker_btn" value="PLTR">PLTR</button>
            <button name="ticker_btn" value="AAPL">AAPL</button>
            <button name="ticker_btn" value="SPY">SPY</button>
            <button name="ticker_btn" value="QQQ">QQQ</button>          
        </div> 
        <div>
            <div>
                <input class="ticker_dropdown" name="ticker" value={{ticker_selected}}>
                <button class="submit_btn" type="submit">Submit</button>
            </div>
            <br>
            <div id="error_msg" style="display:none;margin-top: 5%;" class="instructions">
                There is not ticker named {{incorrect_ticker}} found! Please enter a ticker symbol (TSLA) instead of the name (Tesla).
            </div>
            <div style="display:none" id="img_div">
                {% if img != "" %}
                <a href={{website}} target="_blank"><img src={{img}}></a>
                {% else %}
                <a href={{website}} target="_blank"><img src="{% static 'images/not_available.svg' %}"</a>
                {% endif %}
            </div>
            <div style="display:none" id="ticker_intro">
                <a href={{website}} target="_blank" class="ticker_selected"><span style="font-size:x-large;font-weight:bolder">{{official_name}} ({{ticker_selected}})</span></a>
                <br>Sector: <b>{{sector}}</b><br>Industry: <b>{{industry}}</b>
            </div>
            <div style="display:none" class="ticker_summary">{{summary}}</div>

            <div style="display:none" id="days_btn">
                <button class="change_day_btn" name="one_day_btn">1D</button>
                <button class="change_day_btn"  name="five_day_btn">5D</button>
                <button class="change_day_btn"  name="one_month_btn">1M</button>
                <button class="change_day_btn"  name="one_year_btn">1Y</button>
                <button class="change_day_btn" name="five_year_btn">5Y</button>
            </div>
        </div>
        <div id="latest_price" style="display: none;">
            {{latest_price}} USD 
            <div style="font-size: 1.3vw; width: 5vw; margin-left: 1%;">
                {{price_change}} {{price_percentage_change}}
            </div>
        </div>
        <div class="chart-container" style="position: relative; height:70vh;width:93vw;max-height:450px;display:none">
            <canvas id="price_chart"></canvas>
        </div>
    
        <div style="display:none" id="ticker_table">          
            <div class="col" style="border-right: 1px solid #9e9e9e;">
                <div class="details">Open: ${{mkt_open}}</div>
                <div class="details">High: ${{mkt_high}}</div>
                <div class="details_last_row">Low ${{mkt_low}}</div>
            </div>
            <div class="col">
                <div class="details">Prev Close: ${{mkt_close}}</div>
                <div class="details">52-wk High: ${{mkt_year_high}}</div>
                <div class="details_last_row">52-wk Low: ${{mkt_year_low}}</div>
            </div>
        </div>
    </form>
</body>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<script>
var price_chart = document.getElementById('price_chart');
var myChart = new Chart(price_chart, {
    type: 'line',
    data: {
        labels: {{ ticker_date_max|safe }},
        datasets: [{
            label: 'Price',
            // lineTension: 0,  <!--straight lines instead of curves-->
            data: {{ ticker_price_max|safe }},
            fill: false,
            borderColor: '#10b6cc',
            // backgroundColor: '#10b6cc',
            // borderWidth: 0.1,
            tension: 0.1,
        }]
    },

    options: {
        responsive: true,
        maintainAspectRatio: false,
        legend: {
            display: false
         },
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: false
                }
            }],

            xAxes: [{
                ticks: {
                  maxTicksLimit: 5,
                  maxRotation: 0,
                  minRotation: 0
                },
            }]
        },

        <!-- To remove the point of each label -->
        elements: {
            point: {
                radius: 0
            }
        },

        <!-- To show value when hover on any part of the graph -->
        tooltips: {
            mode: 'index',
            intersect: false,
            callbacks: {
                label: (item) => `${item.yLabel} USD`,
            },
        },
        hover: {
            mode: 'index',
            intersect: false
        },
    },

<!--    plugins :{-->
<!--        beforeDraw: function(c) {-->
<!--            var data = c.data.datasets[0].data;-->
<!--            for (let i in data) {-->
<!--                let bar = c.data.datasets[0]._meta['0'].data[i]._model;-->
<!--                if (data[i] > 180) {-->
<!--                    bar.backgroundColor = 'blue'-->
<!--                    bar.borderColor = 'blue';-->
<!--                }-->
<!--                else {-->
<!--                    bar.backgroundColor = 'red';-->
<!--                    bar.borderColor = 'red';-->
<!--                }-->
<!--            }-->
<!--        }-->
<!--    }-->
});
</script>
</html>