<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no">
    <title>StocksEra | Earnings</title>
    <link rel="stylesheet" href="{% static 'style/format.css' %}">
    <link rel="stylesheet" href="{% static 'style/ticker_earnings.css' %}">
    <script src="{% static 'javascript/format.js' %}"></script>
    <script src="{% static 'javascript/ticker_earnings.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.bundle.min.js"></script>
</head>
<body onload="load_graph();restore_dark_mode()">
    <script>restore_dark_mode()</script>
    <div>
        <div style="min-height:200px">
            <div class="chart-container">
                <canvas id="earnings_chart"></canvas>
            </div>
        </div>
        <a href="/ticker/financial/?quote={{ticker_selected}}" target="_blank">Show more financial data</a>
        <div class="scrollable_div" style="max-height:450px">
            {{ticker_earnings|safe}}
        </div>

    </div>
</body>
</html>