{% extends "format.html" %}
{% load static %}
{% load filter %}

{% block title %}StocksEra | Ticker{% endblock %}

{% block additional_script %}
<link rel="stylesheet" href="{% static 'style/ticker_price.css' %}">
<script src="{% static 'javascript/ticker_price.js' %}"></script>
{% endblock %}

{% block onload_properties%}display_data();restore_dark_mode();document.getElementsByClassName('show_more_btn')[0].form.submit();to_remove(document.getElementsByClassName('show_more_btn')[0], 'Historical Data'){% endblock %}
 
{% block main_nav %}
    <a href="/">Stocksera</a> / <a href="/ticker/?quote={{ticker_selected}}">Analysis [{{ticker_selected}}]</a>
{% endblock %}

{% block main_content %}
<script>highlight_selected_nav('stocks_analysis')</script>
<div>
    <div class="instructions">
        <h2>Ticker Analysis</h2>
        <p>
            Enter a ticker symbol you are interested to view!
        </p>
        <form action="" method="GET" autocomplete="off">
            <div class="search_bar">
                <input type="text" class="ticker_input" name="quote" id="quote" value="{{ticker_selected}}" placeholder="Ticker:" autocomplete="off">
                <button class="submit_btn" type="button" onclick="this.form.submit();this.disabled=true;"><img src="{% static 'images/search_icon.svg' %}"></button>
            </div>
        </form>
    </div>

    <div class="instructions">
        <h2>Other Datasets Available</h2>
        <div class="more_info_div_parent" id="more_info_div">
            <div class="more_info_div"><a class="more_info_btn current_link" href="{% url 'ticker' %}?quote={{ticker_selected}}" onclick="clickAndDisable(this);">Analysis</a></div>
            <div class="more_info_div"><a class="more_info_btn" href="{% url 'financial' %}?quote={{ticker_selected}}" onclick="clickAndDisable(this);">Financials</a></div>
            <div class="more_info_div"><a class="more_info_btn" href="{% url 'options' %}?quote={{ticker_selected}}" onclick="clickAndDisable(this);">Options</a></div>
            <div class="more_info_div"><a class="more_info_btn" href="{% url 'short_volume' %}?quote={{ticker_selected}}" onclick="clickAndDisable(this);">Short Vol</a></div>
            <div class="more_info_div"><a class="more_info_btn" href="{% url 'failure_to_deliver' %}?quote={{ticker_selected}}" onclick="clickAndDisable(this);">FTD</a></div>
        </div>
    </div>

    <div id="error_msg" style="display:none;" class="instructions {{error}}">
            <p>There is no ticker named {{ticker_selected}} found! Please enter a ticker symbol (TSLA) instead of the name (Tesla).</p>
    </div>

    <div class="contents_div">
        <div id="ticker_basic_stats"></div>

        <div class="tradingview-widget-container">
            <div id="ticker_chart"></div>
                <div class="tradingview-widget-copyright"></div>
                <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
                <script type="text/javascript">
                load_graph()
                </script>
            </div>

            <div id="ticker_table">
                <p class="header"><b>Key Statistics</b></p>
                <div class="scrollable_div"></div>

                <div class="ticker_summary"></div>

                <div style="margin-top: 30px">
                    <div class="btn_div">
                        <form action="/historical_data" method="GET" autocomplete="off" target="Historical Data" >
                            <input style="display: none" name="quote" value="{{ticker_selected}}">
                            <button type="button" class="show_more_btn" onclick="submit();to_remove(this, 'Historical Data')">Historical Data</button>
                        </form>
                    </div>

                    <div class="btn_div">
                        <form action="/major_holders" method="GET" autocomplete="off" target="Major Holders">
                            <input style="display: none" name="quote" value="{{ticker_selected}}">
                            <button type="button" class="show_more_btn" onclick="submit();to_remove(this, 'Major Holders')">Major Holders</button>
                        </form>
                    </div>

                    <div class="btn_div">
                        <form action="/institutional_holders" method="GET" autocomplete="off" target="Institutional Holders">
                            <input style="display: none" name="quote" value="{{ticker_selected}}">
                            <button type="button" class="show_more_btn" onclick="submit();to_remove(this, 'Institutional Holders')">Institutional Holders</button>
                        </form>
                    </div>

                    <div class="btn_div">
                        <form action="/mutual_fund_holders" method="GET" autocomplete="off" target="Mutual-Fund Holders">
                            <input style="display: none" name="quote" value="{{ticker_selected}}">
                            <button type="button" class="show_more_btn" onclick="submit();to_remove(this, 'Mutual-Fund Holders')">Mutual-Fund Holders</button>
                        </form>
                    </div>

                    <div class="btn_div">
                        <form action="/dividend_and_split" method="GET" autocomplete="off" target="Dividend & Splits">
                            <input style="display: none" name="quote" value="{{ticker_selected}}">
                            <button type="button" class="show_more_btn" onclick="submit();to_remove(this, 'Dividend & Splits')">Dividend & Splits</button>
                        </form>
                    </div>

                    <div class="btn_div">
                        <form action="/ticker_earnings" method="GET" autocomplete="off" target="Earnings">
                            <input style="display: none" name="quote" value="{{ticker_selected}}">
                            <button type="button" class="show_more_btn" onclick="submit();to_remove(this, 'Earnings')">Earnings</button>
                        </form>
                    </div>

                    <div class="btn_div">
                        <form action="/recommendations" method="GET" autocomplete="off" target="Upgrades & Downgrades">
                            <input style="display: none" name="quote" value="{{ticker_selected}}">
                            <button type="button" class="show_more_btn" onclick="submit();to_remove(this, 'Upgrades & Downgrades')">Upgrades & Downgrades</button>
                        </form>
                    </div>

                    <div class="btn_div">
                        <form action="/google_trends" method="GET" autocomplete="off" target="Google Trends">
                            <input style="display: none" name="quote" value="{{ticker_selected}}">
                            <button type="button" class="show_more_btn" onclick="submit();to_remove(this, 'Google Trends')">Google Trends</button>
                        </form>
                    </div>

        <!--            <div class="btn_div">-->
        <!--                <form action="/sub_news" method="GET" autocomplete="off" target="News Article">-->
        <!--                    <input style="display: none" name="quote" value="{{ticker_selected}}">-->
        <!--                    <button type="button" class="show_more_btn" onclick="submit();to_remove(this, 'News Article')">News Article</button>-->
        <!--                </form>-->
        <!--            </div>-->
                </div>
                <iframe class="more_details" name="Historical Data" scrolling="no" onload="expand_iframe(this)"></iframe>
                <iframe style="display: none" class="more_details" name="Major Holders" scrolling="no" onload="expand_iframe(this)"></iframe>
                <iframe style="display: none" class="more_details" name="Institutional Holders" scrolling="no" onload="expand_iframe(this)"></iframe>
                <iframe style="display: none" class="more_details" name="Mutual-Fund Holders" scrolling="no" onload="expand_iframe(this)"></iframe>
                <iframe style="display: none" class="more_details" name="Dividend & Splits" scrolling="no" onload="expand_iframe(this)"></iframe>
                <iframe style="display: none" class="more_details" name="Earnings" scrolling="no" onload="expand_iframe(this)"></iframe>
                <iframe style="display: none" class="more_details" name="Upgrades & Downgrades" scrolling="no" onload="expand_iframe(this)"></iframe>
                <iframe style="display: none" class="more_details" name="Google Trends" scrolling="no" onload="expand_iframe(this)"></iframe>
        <!--        <iframe style="display: none" class="more_details" name="News Article" scrolling="no" onload="expand_iframe(this)"></iframe>-->

                <p>Data from: <a href="https://finance.yahoo.com/" target="_blank">finance.yahoo.com</a></p>
            </div>
        </div>
    </div>
{% endblock %}

{% block bottom_script %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<script type="text/javascript">
<!--Hack to convert python variables to javascript-->
var None = "N/A", False = false; True = true;
var information = {{information|safe}};
show_ticker_price(information)

<!--Check if input is an ETF/Crypto/Stock and display information to user accordingly-->
var quoteType = information["quoteType"]
if (quoteType == "ETF") {
    var summary = check_stats("longBusinessSummary").replace(/[^\x00-\x7F]/g, "");
    var official_name = check_stats("longName");
    var total_assets = check_if_num("totalAssets");
    var navPrice = check_stats("navPrice");
    var three_year_return = check_stats("threeYearAverageReturn") * 100 + "%";
    var five_year_return = check_stats("fiveYearAverageReturn") * 100 + "%";
    var beta = check_stats("beta3Year");
    var yield = check_stats("Yield");
    var dividend_yield = information["trailingAnnualDividendYield"];
    var dividend_amount = information["trailingAnnualDividendRate"];
    if (dividend_yield != "N/A") {
        dividend_yield = String(Math.round(dividend_yield * 10000) / 100) + "%"
        dividend_amount = "$" + String(dividend_amount)
    }
    table_part_ii_code = `
        <tr>
            <td>Total Assets: ${total_assets}</td>
            <td>NAV: ${navPrice}</td>
        </tr>
        <tr>
            <td>3Y Return: ${three_year_return}</td>
            <td>5Y Return: ${five_year_return}</td>
        </tr>
        <tr>
            <td>Beta: ${beta}</td>
            <td>Yield: ${yield}</td>
        </tr>
        <tr>
            <td>Div. Yield: ${dividend_yield}</td>
            <td>Dividend: ${dividend_amount}</td>
        </tr>`
    document.getElementById("more_info_div").style.removeProperty("display");
    document.getElementsByClassName("more_info_btn")[0].style.display = "none";
}

else if (quoteType == "CRYPTOCURRENCY") {
    var summary = check_stats("description").replace(/[^\x00-\x7F]/g, "");
    var official_name = check_stats("shortName");
    var mkt_cap = check_if_num("marketCap");
    var supply = check_if_num("circulatingSupply");
    table_part_ii_code = `
        <tr>
            <td>Mkt Cap: ${mkt_cap}</td>
            <td>Circulating Supply: ${supply}</td>
        </tr>
    `
}

else {
    var summary = check_stats("longBusinessSummary").replace(/[^\x00-\x7F]/g, "");
    var official_name = check_stats("longName");
    var beta = check_stats("beta")
    var eps = check_stats("trailingEps")
    var p_e_ratio = check_stats("trailingPE")
    var forward_p_e = check_stats("forwardPE")

    var outstanding_shares = information["sharesOutstanding"]
    var floating_shares = information["floatShares"]
    var short_ratio = information["shortRatio"]
    var peg_ratio = information["pegRatio"]
    var enterpriseToRevenue = information["enterpriseToRevenue"]
    var income = information["netIncomeToCommon"]
    var mkt_cap = information["marketCap"];
    var short_percent = information["shortPercentOfFloat"]
    var dividend_yield = information["trailingAnnualDividendYield"]
    var dividend_amount = information["trailingAnnualDividendRate"]
    if (dividend_yield != "N/A") {
        dividend_amount = "$" + String(dividend_amount)
    }
    table_part_ii_code = `
        <tr>
            <td>Outstanding Shares: ${outstanding_shares}</td>
            <td>Floating Shares: ${floating_shares}</td>
        </tr>
        <tr>
            <td>Short Ratio: ${short_ratio}</td>
            <td>Short % of Float: ${short_percent}</td>
        </tr>
        <tr>
            <td>P/E: ${p_e_ratio}</td>
            <td>Forward P/E: ${forward_p_e}</td>
        </tr>
        <tr>
            <td>PEG Ratio: ${peg_ratio}</td>
            <td>Enterprise value / Revenue: ${enterpriseToRevenue}</td>
        </tr>
        <tr>
            <td>Income: ${income}</td>
            <td>Mkt Cap: ${mkt_cap}</td>
        </tr>
        <tr>
            <td>Beta: ${beta}</td>
            <td>EPS: ${eps}</td>
        </tr>
        <tr>
            <td>Div. Yield: ${dividend_yield}</td>
            <td>Dividend: ${dividend_amount}</td>
        </tr>`
    document.getElementById("more_info_div").style.removeProperty("display");
}

<!--Code to display image, full name, symbol, industry and sector-->
var sector = check_stats("sector")
var industry = check_stats("industry")

<!--If ticker does not have a website, bring users to Yahoo Finance-->
if (information.hasOwnProperty("website") == true && information["website"] != "N/A") {
    var website = information["website"]
}
else {
    var website = `https://finance.yahoo.com/quote/${information["symbol"]}`
}

<!--Code to show summary of ticker-->
var summary_code = `
    <p class="header">
        <b>Summary</b>
    </p>${summary}<br>
    <a href=${website} target="_blank" class="read_more"><i>${website}</i></a>`
document.getElementsByClassName("ticker_summary")[0].innerHTML = summary_code;


<!--Code to show basic statistics of ticker-->
table_code = `
    <table>
        <tr>
            <td>Open: $${information["regularMarketOpen"]}</td>
            <td>Prev Close: $${information["previousClose"]}</td>
        </tr>
        <tr>
            <td>High: $${information["dayHigh"]}</td>
            <td>52-wk High: $${information["fiftyTwoWeekHigh"]}</td>
        </tr>
        <tr>
            <td>Low: $${information["regularMarketDayLow"]}</td>
            <td>52-wk Low: $${information["fiftyTwoWeekLow"]}</td>
        </tr>
        <tr>
            <td>Volume: ${information["regularMarketVolume"]}</td>
            <td>10D Avg Vol: ${information["averageDailyVolume10Day"]}</td>
        </tr>
        <tr>
            <td>50D SMA: $${information["fiftyDayAverage"]}</td>
            <td>200D SMA: $${information["twoHundredDayAverage"]}</td>
        </tr>`
table_code += table_part_ii_code + "</table>";
document.getElementsByClassName("scrollable_div")[0].innerHTML = table_code;
</script>
{% endblock %}