{% extends "format.html" %}
{% load static %}
{% load filter %}

{% block title %}StocksEra | Short Volume{% endblock %}

{% block additional_script %}
<link rel="stylesheet" href="{% static 'style/short_volume.css' %}">
<script src="{% static 'javascript/short_volume.js' %}"></script>
{% endblock %}

{% block onload_properties%}display_top_short_volume();restore_dark_mode(){% endblock %}

{% block main_nav %}
    <a href="/">Stocksera</a> /
    <a href="/ticker/">Analysis</a> /
    <a href="/ticker/options/?short_volume={{ticker_selected}}">Top Short Volume</a>
{% endblock %}

{% block main_content %}
<script>highlight_selected_nav('stocks_analysis')</script>
<div>
    <div class="instructions">
        <h2>Top Short Volume (Min. 3M Short Vol.)</h2>
        <p>
            Short Volume measures the number of shares that have been shorted,  while Short Interest represents the number of shorted shares that have yet to be closed out or covered.
            <br><br>
            <b>Do note that the total and short volume data are limited. They do not represent the actual total volume as these are the volume that are reported to Finra.</b>
        </p>
        <form action="" method="GET" autocomplete="off">
            <div class="search_bar">
                <input type="text" class="ticker_input" name="quote" placeholder="Ticker:" autocomplete="off">
                <button class="submit_btn" type="button" onclick="window.location.href='/ticker/short_volume';this.disabled=true;"><img src="{% static 'images/search_icon.svg' %}"></button>
            </div>
        </form>
    </div>

    <div class="instructions">
        <h2>Other Datasets Available</h2>
        <div class="more_info_div_parent">
            <div class="more_info_div"><a class="more_info_btn" href="{% url 'ticker' %}" onclick="clickAndDisable(this);">Analysis</a></div>
            <div class="more_info_div"><a class="more_info_btn" href="{% url 'financial' %}" onclick="clickAndDisable(this);">Financials</a></div>
            <div class="more_info_div"><a class="more_info_btn" href="{% url 'options' %}" onclick="clickAndDisable(this);">Options</a></div>
            <div class="more_info_div"><a class="more_info_btn current_link" href="{% url 'short_volume' %}" onclick="clickAndDisable(this);">Short Vol</a></div>
            <div class="more_info_div"><a class="more_info_btn" href="{% url 'failure_to_deliver' %}" onclick="clickAndDisable(this);">FTD</a></div>
        </div>
    </div>

    <div class="contents_div">
        <div class="scrollable_div">
            {{ highest_short_vol|safe }}
        </div>
    </div>
</div>
{% endblock %}
