{% extends "format.html" %}
{% load static %}
{% load filter %}

{% block title %}StocksEra | Top Movers{% endblock %}

{% block additional_script %}
<link rel="stylesheet" href="{% static 'style/top_movers.css' %}">
<script src="{% static 'javascript/top_movers.js' %}"></script>
{% endblock %}

{% block onload_properties%}check_table();restore_dark_mode(){% endblock %}

{% block main_nav %}
    <div class="ticker-wrap">
        <div class="tradingview-widget-container">
            <div class="tradingview-widget-container__widget"></div>
            <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" async>
            {
            "symbols": [
            {
              "proName": "FOREXCOM:SPXUSD",
              "title": "S&P 500"
            },
            {
              "proName": "FOREXCOM:NSXUSD",
              "title": "Nasdaq 100"
            },
            {
              "description": "Apple",
              "proName": "NASDAQ:AAPL"
            },
            {
              "description": "Tesla, Inc",
              "proName": "NASDAQ:TSLA"
            },
            {
              "description": "Nvidia",
              "proName": "NASDAQ:NVDA"
            },
            {
              "description": "Microsoft",
              "proName": "NASDAQ:MSFT"
            },
            {
              "description": "GameStop",
              "proName": "NYSE:GME"
            },
            {
              "description": "AMC",
              "proName": "NYSE:AMC"
            },
            {
              "description": "Blackberry",
              "proName": "NYSE:BB"
            }
            ],
            "showSymbolLogo": true,
            "colorTheme": "light",
            "isTransparent": true,
            "largeChartUrl": "http://stocksera.pythonanywhere.com",
            "displayMode": "regular",
            "locale": "en"
            }
            </script>
        </div>
    </div>
{% endblock %}

{% block main_content %}
    <div class="instructions">
        <p>Top mover stocks moves by the largest proportion in price (in both ways) due to earnings, rumours, news, mergers and so on. If it's down, buy the dip!</p>
    </div>
    <div class="top_movers">
        <h2>Top Movers 🚀</h2>
        <div id="more_info_div">
            <a class="more_info_btn" href="{% url 'short_interest' %}" onclick="show_spinner()">Short Interest</a>
            <a class="more_info_btn" href="{% url 'low_float' %}" onclick="show_spinner()">Low Float</a>
            <a class="more_info_btn" href="{% url 'ark_trades' %}" onclick="show_spinner()">ARK Fund</a>
        </div>
        <div class="table_div">
            {{ top_movers_combine|safe }}
        </div>
    </div>
    <p>Data from: <a href="https://finance.yahoo.com/" target="_blank">finance.yahoo.com</a></p>
{% endblock %}

{% block bottom_script %}
<script>
    var table = document.getElementsByTagName("table")[0];
    var tr = table.querySelectorAll("tr");
    for (row=1; row<tr.length; row++) {
        var td = tr[row].querySelector("td");
        ticker = td.innerHTML;
        td.innerHTML = `<a href="{% url 'ticker' %}?quote=${ticker}" target="_blank"><b>${ticker}</b></a>`;
    }
</script>
{% endblock %}