{% extends "format.html" %}
{% load static %}
{% load filter %}

{% block title %}StocksEra | Top DD{% endblock %}

{% block additional_script %}
<link rel="stylesheet" href="{% static 'style/top_DD.css' %}">
<script src="{% static 'javascript/top_DD.js' %}"></script>
{% endblock %}

{% block onload_properties%}restore_dark_mode(){% endblock %}

{% block main_nav %}
    <div class="ticker-wrap">
        <div class="tradingview-widget-container">
            <div class="tradingview-widget-container__widget"></div>
            <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" async>
            {
            "symbols": [
            {
              "proName": "FOREXCOM:SPXUSD",
              "title": "S&P 500"
            },
            {
              "proName": "FOREXCOM:NSXUSD",
              "title": "Nasdaq 100"
            },
            {
              "description": "Apple",
              "proName": "NASDAQ:AAPL"
            },
            {
              "description": "Tesla, Inc",
              "proName": "NASDAQ:TSLA"
            },
            {
              "description": "Nvidia",
              "proName": "NASDAQ:NVDA"
            },
            {
              "description": "Microsoft",
              "proName": "NASDAQ:MSFT"
            },
            {
              "description": "GameStop",
              "proName": "NYSE:GME"
            },
            {
              "description": "AMC",
              "proName": "NYSE:AMC"
            },
            {
              "description": "Blackberry",
              "proName": "NYSE:BB"
            }
            ],
            "showSymbolLogo": true,
            "colorTheme": "light",
            "isTransparent": true,
            "largeChartUrl": "http://stocksera.pythonanywhere.com",
            "displayMode": "regular",
            "locale": "en"
            }
            </script>
        </div>
    </div>
{% endblock %}

{% block main_content %}
    <div>
        <div class="instructions">
            <p>
                Enjoy Top Due-Diligence across various subreddits on Reddit. Note that this page is still in development. Please come back anothe time!
            </p>
        </div>
    </div>

    <div id="more_info_div">
        <a class="more_info_btn" href="{% url 'reddit_analysis' %}" onclick="clickAndDisable(this);">Trending</a>
        <a class="more_info_btn" href="{% url 'reddit_etf' %}" onclick="clickAndDisable(this);">WSB ETF</a>
        <a class="more_info_btn" href="{% url 'subreddit_count' %}" onclick="clickAndDisable(this);">Subreddit Stats</a>
    </div>

    <div class="top_dd">
        <div id="dd_contents"></div>
    </div>

<!--<img src="https://preview.redd.it/a25x7xmqp9271.png?width=3122&format=png&auto=webp&s=9da0d0667045f715e33a691496e341f116e3fa2f">-->
{% endblock %}

{% block bottom_script %}
<script type="text/javascript">
    dd_list = {{due_diligence|safe}};
    dd_code = ""
    for (i=0; i<dd_list.length; i++) {
        dd = dd_list[i]
        url = "https://www.reddit.com/" + dd[0]
        ticker = dd[1];
        title = dd[2];
        textbody = dd[3];
        if (textbody.includes("](")) {
            var url_text_expression = /\[(.*)\]\(/;
            var url_texts = url_text_expression.exec(textbody);
            for (x=0; x<url_texts.length; x++) {
                url_text = url_texts[x].toString().replaceAll("\\_", "_")
                console.log(url_text, "!!", typeof(url_text))
            }
            var url_link_expression = /\]\(([^)]+)\)/;
            var url_links = url_link_expression.exec(textbody);
            for (y=0; y<url_links.length; y++) {
                url_link = url_links[y].toString().replaceAll("\\_", "_")
                console.log(url_link, "??", typeof(url_link))
            }
        }
        upvotes = dd[4];
        comments = dd[5];
        subreddit = dd[6];
        date_post = dd[7];
        img_url = dd[8];
        dd_code += `
            <div class="dd_individual_div">
                <div><a href="${img_url}" target="_blank"><img src="${img_url}" onerror=this.src="{% static 'images/not_available.svg' %}></a></div>
                <div class="dd_text">
                    <p><b>${title}</b><span class="explore"><a href="${url}" target="_blank">Read More</a></span></p>
                    <span>${textbody}...</span>
                    <div class="dd_footer"><span class="explore">Upvotes: ${upvotes}</span> <span class="explore">Comments: ${comments}</span> <span class="explore">Date: ${date_post}</span> <span class="explore">r/${subreddit}</span></div>
                </div>
            </div>`
    }
    document.getElementById("dd_contents").innerHTML = dd_code;
</script>
{% endblock %}