{% extends "format.html" %}
{% load static %}
{% load filter %}

{% block title %}StocksEra | Top Movers{% endblock %}

{% block additional_script %}
<link rel="stylesheet" href="{% static 'style/top_movers.css' %}">
<script src="{% static 'javascript/top_movers.js' %}"></script>
{% endblock %}

{% block onload_properties%}check_table(){% endblock %}

{% block main_nav %}
    <div class="ticker-wrap">
        <div class="ticker">
            {% for name in popular_name_list|length|get_range %}
            <div class="ticker_item">
                <b>{{popular_name_list|index:name}} &#183 {{price_list|index:name|index:0}} <span> {{price_list|index:name|index:1}} ({{price_list|index:name|index:2}}%) </span></b>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block main_content %}
    <div class="instructions">
        <p>Top mover stocks moves by the largest proportion in price (in both ways) due to earnings, rumours, news, mergers and so on. If it's down, buy the dip!</p>
    </div>
    <div class="top_movers">
        <h2>Top Movers</h2>
        <div class="table_div">
            {{ top_movers_combine|safe }}
        </div>
    </div>
    <p>Data from: <a href="https://finance.yahoo.com/" target="_blank">finance.yahoo.com</a></p>
{% endblock %}

{% block bottom_script %}
<script>
    var table = document.getElementsByTagName("table")[0];
    var tr = table.querySelectorAll("tr");
    for (row=1; row<tr.length; row++) {
        var td = tr[row].querySelector("td");
        ticker = td.innerHTML;
        td.innerHTML = `<a href="{% url 'ticker' %}?quote=${ticker}" target="_blank"><b>${ticker}</b></a>`;
    }
</script>
{% endblock %}