{% extends "format.html" %}
{% load static %}
{% load filter %}

{% block title %}StocksEra | Top DD{% endblock %}

{% block additional_script %}
<link rel="stylesheet" href="{% static 'style/top_DD.css' %}">
<script src="{% static 'javascript/top_DD.js' %}"></script>
{% endblock %}

{% block onload_properties%}restore_dark_mode(){% endblock %}

{% block main_nav %}
<div class="top_nav"></div>
<div id="spinner_div"></div>
{% endblock %}

{% block main_content %}
    <div>
        <div class="instructions">
            <p>
                Enjoy Top Due-Diligence across various subreddits on Reddit.
            </p>
        </div>
    </div>
    <div class="top_dd">
        <div id="dd_contents"></div>
    </div>

<!--<img src="https://preview.redd.it/a25x7xmqp9271.png?width=3122&format=png&auto=webp&s=9da0d0667045f715e33a691496e341f116e3fa2f">-->
{% endblock %}

{% block bottom_script %}
<script type="text/javascript">
    dd_list = {{due_diligence|safe}};
    dd_code = ""
    for (i=0; i<dd_list.length; i++) {
        dd = dd_list[i]
        url = "https://www.reddit.com/" + dd[0]
        ticker = dd[1];
        title = dd[2];
        textbody = dd[3];
        if (textbody.includes("](")) {
            var url_text_expression = /\[(.*)\]\(/;
            var url_texts = url_text_expression.exec(textbody);
            for (x=0; x<url_texts.length; x++) {
                url_text = url_texts[x].toString().replaceAll("\\_", "_")
                console.log(url_text, "!!", typeof(url_text))
            }
            var url_link_expression = /\]\(([^)]+)\)/;
            var url_links = url_link_expression.exec(textbody);
            for (y=0; y<url_links.length; y++) {
                url_link = url_links[y].toString().replaceAll("\\_", "_")
                console.log(url_link, "??", typeof(url_link))
            }
        }
        upvotes = dd[4];
        comments = dd[5];
        subreddit = dd[6];
        date_post = dd[7];
        img_url = dd[8];
        dd_code += `
            <div class="dd_individual_div">
                <div><a href="${img_url}" target="_blank"><img src="${img_url}" onerror=this.src="{% static 'images/not_available.svg' %}></a></div>
                <div class="dd_text">
                    <p><b>${title}</b><span class="explore"><a href="${url}" target="_blank">Read More</a></span></p>
                    <span>${textbody}...</span>
                    <div class="dd_footer"><span class="explore">Upvotes: ${upvotes}</span> <span class="explore">Comments: ${comments}</span> <span class="explore">Date: ${date_post}</span> <span class="explore">r/${subreddit}</span></div>
                </div>
            </div>`
    }
    document.getElementById("dd_contents").innerHTML = dd_code;
</script>
{% endblock %}