<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no">
    <title>StocksEra | Insider Trading</title>
    <link rel="stylesheet" href="{% static 'style/format.css' %}">
    <link rel="stylesheet" href="{% static 'style/stock/sec_fillings.css' %}">
    <script src="{% static 'javascript/format.js' %}"></script>
    <script src="{% static 'javascript/stock/insider_trading.js' %}"></script>
</head>
<body onload="load_table();restore_dark_mode();">
    <script>restore_dark_mode()</script>
    <div class="scrollable_div" style="max-height:450px">
        {{inside_trader_df|safe}}
    </div>
</body>
</html>