{% extends "format.html" %}
{% load static %}
{% load filter %}

{% block title %}Stocksera | Short Volume{% endblock %}

{% block additional_script %}
<link rel="stylesheet" href="{% static 'style/stock/short_volume.css' %}">
<script src="{% static 'javascript/stock/short_volume.js' %}"></script>
{% endblock %}

{% block onload_properties%}display_top_short_volume(){% endblock %}

{% block main_nav %}
    <a href="/">Stocksera</a> /
    <a href="/ticker/">Analysis</a> /
    <a href="/ticker/options/?short_volume={{ticker_selected}}">Top Short Volume</a>
{% endblock %}

{% block main_content %}
<script>highlight_selected_nav('stocks_analysis')</script>
<div>
    <div class="instructions">
        <h2>Top Short Volume (Min. 3M Short Vol.)</h2>
        <p>
            Short Volume measures the number of shares that have been shorted,  while Short Interest represents the number of shorted shares that have yet to be closed out or covered.
            <br><br>
            <b>Do note that the total and short volume data are limited. They do not represent the actual total volume as these are the volume that are reported to Finra.</b>
        </p>
        <form action="" method="GET" autocomplete="off">
            <div class="search_bar">
                <input type="text" class="ticker_input" name="quote" id="quote" value="{{ticker_selected}}" placeholder="Ticker:" autocomplete="off">
                <button class="submit_btn" type="button" onclick="this.form.submit();this.disabled=true;">
                    <span class="fa fa-search"></span>
                </button>
            </div>
        </form>
    </div>

    <div class="more_info_div_parent">
        <div class="more_info_div"><a href="{% url 'ticker' %}?quote={{ticker_selected}}">Analysis</a></div>
        <div class="more_info_div"><a href="{% url 'options' %}?quote={{ticker_selected}}">Options</a></div>
        <div class="more_info_div current_link"><a href="{% url 'short_volume' %}?quote={{ticker_selected}}">Short Vol</a></div>
        <div class="more_info_div"><a href="{% url 'borrowed_shares' %}?quote={{ticker_selected}}">Borrowed Shares</a></div>
        <div class="more_info_div"><a href="{% url 'failure_to_deliver' %}?quote={{ticker_selected}}">FTD</a></div>
        <div class="more_info_div"><a href="{% url 'regsho' %}?quote={{ticker_selected}}">RegSHO</a></div>
        <div class="more_info_div"><a href="{% url 'wsb_live_ticker' %}?quote={{ticker_selected}}">WSB Live</a></div>
    </div>

    <div class="contents_div">
        <div class="scrollable_div">
            {{ highest_short_vol|safe }}
        </div>
    </div>
</div>
{% endblock %}
